block settings
	- var title = "Speech line"
	- var sidebar = true
	- var dir = "../"

extends /jade/templates/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Branding", href: dir + "index.html#Branding"},
		{title: "Speech line"}])

block sidebar
	include /jade/templates/partials/sidebar-brand.jade

block content
	.articleContent
		div
			p A speech line is a brand asset that is used to highlight a quote or insight.
			p General rules for a speech line
			ul
				li use the same colour text and line
				li try not to use more than 1 speech line per page.

			.example-box-plain
				.row
					.span12
						.speech-lines
							h4 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p.cite Quote from William Shakespear 1690
							.box-speech-line
			pre
				code.language-html
					| &lt;div class="speech-lines"&gt;
					| 	&lt;h4&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h4&gt;
					| 	&lt;p class="cite"&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| 	&lt;div class="box-speech-line"&gt;&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.row
					.span12
						.speech-lines-purple
							h4 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p.cite Quote from William Shakespear 1690
							.box-speech-line
			pre
				code.language-html
					| &lt;div class="speech-lines-purple"&gt;
					| 	&lt;h4&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h4&gt;
					| 	&lt;p class="cite"&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| 	&lt;div class="box-speech-line"&gt;&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.row
					.span12
						.speech-lines-teal
							h4 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p.cite Quote from William Shakespear 1690
							.box-speech-line
			pre
				code.language-html
					| &lt;div class="speech-lines-teal"&gt;
					| 	&lt;h4&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h4&gt;
					| 	&lt;p class="cite"&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| 	&lt;div class="box-speech-line"&gt;&lt;/div&gt;
					| &lt;/div&gt;
