block settings
	- var title = "Non-priority debt repayment calculator"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block script
	script.
		var string = '?=values';
		$('#next').click(function(){
			string += '&' + $('#money').val() + '+' + $('#freq').val();
			$(this).attr('href', 'debt-calculator-2.html' + string);
		});

block content
	.articleContent
		.fieldset
			label(for="money") Money left after essential bills, living costs and debts to priority creditors
			.field-group.field-group--dropdown
				input#money(type="number", placeholder="£")
				.dropdown
					select#freq
						option(value="0") Weekly
						option(value="1", selected) Monthly
		a#next.btn.right-button-icon(href="debt-calculator-2.html") Next
