block settings
	- var title = "Non-priority debt repayment calculator"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block sidebar
	//include /template/sidebar-site-content.jade

block script
	script.
		var x = 0;
		$('#add-debt').click(function(){
			$('#debt-info').append('<div style="display:none;" class="well"><div class="fieldset"><label for="name">Creditor\'s name</label><input id="name" placeholder="" type="text"></div><div class="fieldset"><label for="amount">Total amount owed</label><input id="amount" placeholder="£" type="number"></div><a class="remove-field remove">Remove</a></div>');
			$('#debt-info').find('.well:last').slideDown('fast');
			x++;
		});
		$(document).on("click", ".remove", function(){
			$(this).parent().slideUp('fast', function() {$(this).remove();});
		});
		var string = '?' + window.location.search.slice(1);
		$('#finish').click(function(){
			$( "input" ).each(function( index ) {
				if ($(this).attr('id') == 'name') {
					string += '&' + $(this).val();
				}
				else if ($(this).attr('id') == 'amount') {
					string += '+' + $(this).val();
				}
			});
			$(this).attr('href', 'debt-calculator-3.html' + string);
		});

block content
	.articleContent
		#debt-info
			.well
				.fieldset
					label(for="name") Creditor's name
						//a.remove-field.remove.u-pull-right Remove
					input#name(placeholder="", type="text")
				.fieldset
					label(for="amount") Total amount owed
					input#amount(placeholder="£", type="number")
		button#add-debt.btn-secondary.plus-button-icon Add another debt
		p
		a.btn-light.left-button-icon(href="debt-calculator-1.html") Back
		a#finish.btn.right-button-icon(href="debt-calculator-3.html") Finish
