block settings
	- var title = "Debt calculator"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block sidebar
	//include /template/sidebar-site-content.jade

block script
	script.
		var x = 0;
		$('#add-debt').click(function(){
			$('#debt-info').append('<div style="display:none;" class="well--outline"><div class="fieldset"><label for="standardField">Creditor\'s name<a class="remove-field remove u-pull-right">Remove</a></label><input id="standardField" placeholder="" type="text"></div><div class="fieldset"><label for="standardField">Total amount owed</label><input id="standardField" placeholder="" type="text"></div></div>');
			$('#debt-info').find('.well--outline:last').slideDown('fast');
			x++;
		});

block content
	.articleContent
		.fieldset
			label(for="field") Money left after bills
			.field-group.field-group--dropdown
				input#field(type="number")
				.dropdown
					select#exampleSelect1
						option Weekly
						option(selected) Monthly
		h2 Debt information
		.well
			#debt-info
				//.well--outline
					.fieldset
						label(for="standardField") Creditor's name
							a.remove-field.remove.u-pull-right Remove
						input#standardField(placeholder="", type="text")
					.fieldset
						label(for="standardField") Total amount owed
						input#standardField(placeholder="", type="text")
			button#add-debt.btn-secondary.plus-button-icon Add a debt
		a.btn.right-button-icon(href="debt-calculator-2.html") Finish
