block settings
	- var title = "Non-priority debt repayment calculator"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block content
	.articleContent
		.fieldset
			label(for="field") Money left after essential bills, living costs and debts to priority creditors
			.field-group.field-group--dropdown
				input#field(type="number", placeholder="£")
				.dropdown
					select#exampleSelect1
						option Weekly
						option(selected) Monthly
		a.btn.right-button-icon(href="debt-calculator-2.html") Next
