block settings
	- var title = "Repayment calculator for non-priority debts"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block sidebar
	//include /template/sidebar-site-content.jade

block script
	script.
		var x = 0;
		$('#add-debt').click(function(){
			$('#debt-info').append('<div style="display:none;" class="well--outline"><div class="fieldset"><label for="standardField">Creditor\'s name<a class="remove-field remove u-pull-right">Remove</a></label><input id="standardField" placeholder="" type="text"></div><div class="fieldset"><label for="standardField">Total amount owed</label><input id="standardField" placeholder="" type="text"></div></div>');
			$('#debt-info').find('.well--outline:last').slideDown('fast');
			x++;
		});

block content
	.articleContent
		p Use this calculator to work out how much money to offer each of your non-priority creditors.
		.fieldset
			label(for="field") Money left after essential bills and living costs
			.field-group.field-group--dropdown
				input#field(type="number", placeholder="£")
				.dropdown
					select#exampleSelect1
						option Weekly
						option(selected) Monthly
		a.btn.right-button-icon(href="debt-calculator-2.html") Next
