block settings
	- var title = "Non-priority debt repayment calculator"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: title}])

block script
	script.
		$(document).ready(function() {
			var location = window.location.search.slice(1);
			var arr = location.split('&');
			$.each( arr, function( i, val ) {
				console.log(val);
			});
			var monthly = arr[1].split('+');
			if (monthly[1] == '0') {
				var moninc = parseInt(monthly[0]) * 4.3;
			} else {
				var moninc = parseInt(monthly);
			}
			console.log(moninc);
			var totaldebt = 0;
			$.each( arr, function( i, val ) {
				if (!(i == '0' || i == '1')) {
					var debt = arr[i].split('+');
					totaldebt = totaldebt + parseInt(debt[1]);
				}
			});
			console.log(totaldebt);
			$.each( arr, function( i, val ) {
				if (!(i == '0' || i == '1')) {
					console.log(val);
					var debt = arr[i].split('+');
					var topay = (parseInt(debt[1])*moninc)/totaldebt;
					if (monthly[1] == '0') {
						$('tbody').append('<tr><td>' + debt[0].replace(/%20/g, " ") + '</td><td><strong>£' + topay.toFixed(2) + ' per month</strong> (£' + (topay*12/52).toFixed(2) + ' per week)</td></tr>');
					} else {
						$('tbody').append('<tr><td>' + debt[0].replace(/%20/g, " ") + '</td><td><strong>£' + topay.toFixed(2) + ' per month</strong></td></tr>');
					}
				}
			});
		});

block content
	.articleContent
		table
			thead
				tr
					th(scope="col") Creditor
					th(scope="col") How much you should offer
			tbody

		h2 What to do next
		p Use your results to explain to your non-priority creditors how much you can pay towards your debts.
		p You’ll need to give them other information, like a copy of your personal budget and a list of any other debts you have. #[a Find out what to include] if you’re not sure.

		a.btn-secondary.restart-button-icon(href="debt-calculator.html") Restart
		a.btn.btn-secondary.print-button-icon Print
