.accordion-toggle {
  cursor: pointer;
}
.accordion-content {
  display: none;
}
.accordion-content.default {
  display: block;
}
#accordion {
  background-color: white !important;
}
#accordion .accordion-toggle {
  margin-bottom: 0.75em !important;
  background-color: #004B88;
  color: white;
  border-color: #253460;
}
#accordion .accordion-toggle:after {
  background-color: #253460;
  color: white;
  content: "\f067";
}
#accordion .accordion-toggle h1,
#accordion .accordion-toggle h2,
#accordion .accordion-toggle h3,
#accordion .accordion-toggle h4,
#accordion .accordion-toggle h5,
#accordion .accordion-toggle h6 {
  margin: 0;
  color: white !important;
}
#accordion .open:after {
  content: "\f068";
}
#accordion .accordion-content {
  padding: 0;
  border: 0;
  margin: -0.75em -1em 0.75em -1em !important;
  padding: 0.75em 1em 0.75em 1em;
  border: solid #253460;
  border-width: 0px 1px 1px 1px;
}
#accordion .accordion-toggle-close {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 75, 136, 0.1);
  color: #004B88;
  margin-top: 1.5em !important;
}
#accordion .accordion-toggle-close:after {
  background-color: rgba(37, 52, 96, 0.1);
  content: "\f068";
  color: #253460;
}
