/**
 * Option 3 variations
 */
.steps {
  margin: 0.75em 0;
  background-color: #fff;
  color: #333;
}
.steps h1,
.steps h2,
.steps h3,
.steps h4,
.steps h5,
.steps h6
 {
  color: #333;
  padding: 0.5em 1em 0em 0.75em;
  margin-bottom: 0.5em !important;
    border-bottom: 1px dashed #fff;
}
.steps__link {
    cursor: pointer;
    width: 100%;
    display: block;
    margin: 0.5em 0em !important;
    padding: 0.5em 1em 1em 1em;
    border: none;
    background-color: #EFF3F3;
    text-decoration: none !important;
}
.steps__link:hover {
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #A5BDDC;
/*    border-bottom: 1px dashed #fff;*/
}
span.steps-1 {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  margin-right: 0.5em;
}
span.steps--number {
  background: #fff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 1.8em;
  color: #004b88;
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: 0px #004b88 solid;
}
.steps__link:hover  span.steps--number {
  background-color: #fff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 1.8em;
  color: #004b88;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  margin-right: 0.5em;
  padding: 0.5em;
}

/**
 * Steps navigation
 */
.steps--navigation {
  margin: 0.75em 0;
  background-color: #f3f4f5;
  color: #191926;
  border-top: 4px #004b88 solid;
}
.steps--navigation h1,
.steps--navigation h2,
.steps--navigation h3,
.steps--navigation h4,
.steps--navigation h5,
.steps--navigation h6
 {
  color: #191926;
  padding: 0.5em 1em 0em 0.75em;
  margin-bottom: 0.5em !important;
}
.steps--navigation__link {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 0.5em 1em 0.5em 2em;
    border: none;
    background-color: #f3f4f5;
    border-bottom: 1px solid #fff;
    text-decoration: none !important;
}
.steps--navigation__link:hover {
    background-color: #A5BDDC;
}
.steps--navigation__link--active {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 0.5em 1em 0.5em 2em;
    border: none;
    background-color: #A5BDDC;
    border-bottom: 1px solid #fff;
    text-decoration: none !important;
}
span.steps--navigation-1 {
  color: #999;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  margin-right: 0.5em;
}
span.steps--navigation--number {
  font-weight: 900;
  line-height: 1em;
  margin-right: 5px;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: -1.2em;
  border-top: 0px #004b88 solid;
}
