/**
 * COLOR DEFINITIONS.
 *
 * Defines the colors we will use across the site.
 * This is our palette, which is used within _variables.scss and elsewhere.
 */
/***************************************************************************
 * COLORS
 */
/***************************************************************************
 * PRIMARY
 */
/***************************************************************************
 * STATE COLORS.
 * Used for Alerts, Media, States and form field validation states.
 */
/***************************************************************************
 * PRIORITY COLORS.
 * Used for Media, Priorities.
 */
/***************************************************************************
 * HEADERS. h1, h2, etc.
 */
/**
 * GRID STRUCTURE FOR CONTENT.
 *
 * Defines the content area dimensions, grid structure and breakpoints.
 */
/**
 * FRAMEWORK.
 *
 * Fitting within the grid.less.
 * Structure following bootstrap principles
 * 12 columns, using 3/4 columns
 */
.flex-row {
  max-width: 100%;
  margin: auto;
  clear: both;
  padding: calc(1.5em) 0em;
}
.flex-container {
  max-width: 1080px;
  clear: both;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  height: calc(100% + 1em);
}
.flex-col-1-1 {
  width: 100%;
}
.flex-col-1-2 {
  width: 50%;
}
.flex-col-1-3 {
  width: 33.33333333%;
}
.flex-col-2-3 {
  width: 66.66666667%;
}
.flex-col-1-4 {
  width: 25%;
}
.flex-col-3-4 {
  width: 75%;
}
.flex-col-1-6 {
  width: 16.66666667%;
}
.flex-col-1-12 {
  width: 8.33333333%;
}
.flex-col-2-8 {
  width: 75%;
}
.flex-row--header__heritage-blue {
  max-width: 100%;
  margin: auto;
  clear: left;
  padding: calc(1.5em) 0em;
  background-color: #004b88 !important;
}
/**
 * VARIABLES.
 *
 * All non-color variables.
 */
/***************************************************************************
 * TEXT SIZES
 */
/***************************************************************************
 * FONT WEIGHTS
 */
/***************************************************************************
 * LINE HEIGHTS
 */
/* eg, 20px when font size is 14px */
/***************************************************************************
 * LINKS
 */
/****************************************************************************
 * TABLES.
 */
/***************************************************************************
 * PANELS
 */
/***************************************************************************
 * FORMS
 */
/***************************************************************************
 * PADDED BOXES.
 * Used for shaded boxes of various kinds.
 * Usually, use the .box class and modifications like .box--1, etc.
 */
/***************************************************************************
 * REVEALERS
 */
/***************************************************************************
 * BADGES.
 */
/***************************************************************************
 * MENUS.
 */
/***************************************************************************
 * LETTERS.
 */
/***************************************************************************
 * BANNER
 * The top of page stripes.
 */
/***************************************************************************
 * FOOTER
 */
/**
 * NAVIGATION.
 * 
 * Breadcrumb
 * Left hand menu
*/
.breadcrumb {
  margin-top: 1em;
  font-size: 1em;
}
.breadcrumb p a:after {
  content: "›";
  font-size: 1.5em;
  color: #dce5f1;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background-color: #ffffff;
}
/**
 * CALLOUTS.
 *
 * Styles for content boxes and coloured sections.
 */
/* Creates a mixin for making box styles, including their links */
/**
 * Creates the various box styles using two colours
 * .callout(text, title, background)
 */
.callout {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #f8f8f8;
  color: #191926;
  border-color: #d2d2d2;
}
.callout h1,
.callout h2,
.callout h3 {
  color: #666666 !important;
}
.callout *:first-child {
  padding-top: 0.75em;
}
.callout h1:first-child,
.callout h2:first-child,
.callout h3:first-child,
.callout h4:first-child,
.callout h5:first-child,
.callout h6:first-child {
  margin-top: 0;
}
.callout li:first-child {
  padding-top: 0;
}
.callout *:last-child {
  margin-bottom: 0 !important;
}
.callout--border {
  border: 1px #d2d2d2 solid;
}
.callout--border--left {
  border: 5px #d2d2d2 solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #f9f9f9;
  color: #191926;
  border-bottom: 1px solid #b8b8b8;
  text-decoration: none !important;
  position: relative;
}
.callout .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #dfdfdf;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout .callout__link:hover {
  background-color: #ffffff;
  color: #191926;
}
.callout .callout__link:hover:after {
  background-color: #d2d2d2;
}
.callout .callout__link--anchor:after {
  content: "\f063";
}
.callout--turquoise {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #81cec6;
  color: #191926;
  border-color: #4ab9ad;
}
.callout--turquoise h1,
.callout--turquoise h2,
.callout--turquoise h3 {
  color: #191926 !important;
}
.callout--turquoise *:first-child {
  padding-top: 0.75em;
}
.callout--turquoise h1:first-child,
.callout--turquoise h2:first-child,
.callout--turquoise h3:first-child,
.callout--turquoise h4:first-child,
.callout--turquoise h5:first-child,
.callout--turquoise h6:first-child {
  margin-top: 0;
}
.callout--turquoise li:first-child {
  padding-top: 0;
}
.callout--turquoise *:last-child {
  margin-bottom: 0 !important;
}
.callout--turquoise--border {
  border: 1px #4ab9ad solid;
}
.callout--turquoise--border--left {
  border: 5px #4ab9ad solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--turquoise .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #83cfc7;
  color: #191926;
  border-bottom: 1px solid #3a958c;
  text-decoration: none !important;
  position: relative;
}
.callout--turquoise .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #5cc0b5;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--turquoise .callout__link:hover {
  background-color: #a6dcd7;
  color: #191926;
}
.callout--turquoise .callout__link:hover:after {
  background-color: #4ab9ad;
}
.callout--turquoise .callout__link--anchor:after {
  content: "\f063";
}
.callout--green {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #c5e1ac;
  color: #008286;
  border-color: #9ecd74;
}
.callout--green h1,
.callout--green h2,
.callout--green h3 {
  color: #008286 !important;
}
.callout--green *:first-child {
  padding-top: 0.75em;
}
.callout--green h1:first-child,
.callout--green h2:first-child,
.callout--green h3:first-child,
.callout--green h4:first-child,
.callout--green h5:first-child,
.callout--green h6:first-child {
  margin-top: 0;
}
.callout--green li:first-child {
  padding-top: 0;
}
.callout--green *:last-child {
  margin-bottom: 0 !important;
}
.callout--green--border {
  border: 1px #9ecd74 solid;
}
.callout--green--border--left {
  border: 5px #9ecd74 solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--green .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #c6e2ae;
  color: #008286;
  border-bottom: 1px solid #84bf4e;
  text-decoration: none !important;
  position: relative;
}
.callout--green .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #008286;
  padding: 0 1.25em;
  background-color: #abd387;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--green .callout__link:hover {
  background-color: #dfefd1;
  color: #008286;
}
.callout--green .callout__link:hover:after {
  background-color: #9ecd74;
}
.callout--green .callout__link--anchor:after {
  content: "\f063";
}
.callout--warning {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #fcdbdf;
  color: #191926;
  border-color: #f694a0;
}
.callout--warning h1,
.callout--warning h2,
.callout--warning h3 {
  color: #b10b1e !important;
}
.callout--warning *:first-child {
  padding-top: 0.75em;
}
.callout--warning h1:first-child,
.callout--warning h2:first-child,
.callout--warning h3:first-child,
.callout--warning h4:first-child,
.callout--warning h5:first-child,
.callout--warning h6:first-child {
  margin-top: 0;
}
.callout--warning li:first-child {
  padding-top: 0;
}
.callout--warning *:last-child {
  margin-bottom: 0 !important;
}
.callout--warning--border {
  border: 1px #f694a0 solid;
}
.callout--warning--border--left {
  border: 5px #f694a0 solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--warning .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #fcdde1;
  color: #191926;
  border-bottom: 1px solid #f26576;
  text-decoration: none !important;
  position: relative;
}
.callout--warning .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #f8acb5;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--warning .callout__link:hover {
  background-color: #ffffff;
  color: #191926;
}
.callout--warning .callout__link:hover:after {
  background-color: #f694a0;
}
.callout--warning .callout__link--anchor:after {
  content: "\f063";
}
.callout--alert {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #fef8d4;
  color: #191926;
  border-color: #fcec89;
}
.callout--alert h1,
.callout--alert h2,
.callout--alert h3 {
  color: #191926 !important;
}
.callout--alert *:first-child {
  padding-top: 0.75em;
}
.callout--alert h1:first-child,
.callout--alert h2:first-child,
.callout--alert h3:first-child,
.callout--alert h4:first-child,
.callout--alert h5:first-child,
.callout--alert h6:first-child {
  margin-top: 0;
}
.callout--alert li:first-child {
  padding-top: 0;
}
.callout--alert *:last-child {
  margin-bottom: 0 !important;
}
.callout--alert--border {
  border: 1px #fcec89 solid;
}
.callout--alert--border--left {
  border: 5px #fcec89 solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--alert .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #fef8d6;
  color: #191926;
  border-bottom: 1px solid #fbe457;
  text-decoration: none !important;
  position: relative;
}
.callout--alert .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #fdf0a2;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--alert .callout__link:hover {
  background-color: #ffffff;
  color: #191926;
}
.callout--alert .callout__link:hover:after {
  background-color: #fcec89;
}
.callout--alert .callout__link--anchor:after {
  content: "\f063";
}
.callout--info {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #eef7ff;
  color: #191926;
  border-color: #a2d3ff;
}
.callout--info h1,
.callout--info h2,
.callout--info h3 {
  color: #0a4b88 !important;
}
.callout--info *:first-child {
  padding-top: 0.75em;
}
.callout--info h1:first-child,
.callout--info h2:first-child,
.callout--info h3:first-child,
.callout--info h4:first-child,
.callout--info h5:first-child,
.callout--info h6:first-child {
  margin-top: 0;
}
.callout--info li:first-child {
  padding-top: 0;
}
.callout--info *:last-child {
  margin-bottom: 0 !important;
}
.callout--info--border {
  border: 1px #a2d3ff solid;
}
.callout--info--border--left {
  border: 5px #a2d3ff solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--info .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #f1f8ff;
  color: #191926;
  border-bottom: 1px solid #6fbbff;
  text-decoration: none !important;
  position: relative;
}
.callout--info .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #bbdfff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--info .callout__link:hover {
  background-color: #ffffff;
  color: #191926;
}
.callout--info .callout__link:hover:after {
  background-color: #a2d3ff;
}
.callout--info .callout__link--anchor:after {
  content: "\f063";
}
.callout--example {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: #dfe1e3;
  color: #191926;
  border-color: #b6bbbf;
}
.callout--example h1,
.callout--example h2,
.callout--example h3 {
  color: #eff3f3 !important;
}
.callout--example *:first-child {
  padding-top: 0.75em;
}
.callout--example h1:first-child,
.callout--example h2:first-child,
.callout--example h3:first-child,
.callout--example h4:first-child,
.callout--example h5:first-child,
.callout--example h6:first-child {
  margin-top: 0;
}
.callout--example li:first-child {
  padding-top: 0;
}
.callout--example *:last-child {
  margin-bottom: 0 !important;
}
.callout--example--border {
  border: 1px #b6bbbf solid;
}
.callout--example--border--left {
  border: 5px #b6bbbf solid;
  border-width: 0 0 0 5px;
  padding-left: calc(0.75em);
}
.callout--example .callout__link {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  background-color: #e0e2e4;
  color: #191926;
  border-bottom: 1px solid #9ba1a7;
  text-decoration: none !important;
  position: relative;
}
.callout--example .callout__link:after {
  box-sizing: border-box;
  font-family: FontAwesome;
  content: "\f054";
  color: #191926;
  padding: 0 1.25em;
  background-color: #c4c8cb;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.callout--example .callout__link:hover {
  background-color: #fafbfb;
  color: #191926;
}
.callout--example .callout__link:hover:after {
  background-color: #b6bbbf;
}
.callout--example .callout__link--anchor:after {
  content: "\f063";
}
/**
 * COLLAPSIBLES.
 *
 * Styles for content boxes and coloured sections.
 */
/* Creates a mixin for making box styles, including their links */
.collapse-toggle {
  cursor: pointer;
}
.collapse-content {
  display: none;
}
.collapse-content.default {
  display: block;
}
/**
 * Creates the various box styles using three colours
 * .collapse(button background, button icon background, button text)
 * 
 * However, setting one colour should also intelligently create the styles
 */
.collapse {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: white;
  color: #191926;
}
.collapse .collapse-toggle {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  text-decoration: none !important;
  position: relative;
  margin-bottom: 0.75em !important;
  background-color: #004b88;
  color: white;
}
.collapse .collapse-toggle h1,
.collapse .collapse-toggle h2,
.collapse .collapse-toggle h3,
.collapse .collapse-toggle h4,
.collapse .collapse-toggle h5,
.collapse .collapse-toggle h6 {
  margin: 0;
  color: white;
}
.collapse .collapse-toggle:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  content: "\f067";
  color: white;
  padding: 0 1.25em;
  background-color: #253460;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.collapse .collapse-toggle:hover {
  background-color: #004379;
  color: white;
}
.collapse .collapse-toggle:hover:after {
  background-color: #212e55;
}
.collapse .collapse-toggle-close {
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  text-decoration: none !important;
  position: relative;
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 75, 136, 0.1);
  color: #004b88;
  margin-top: 1em !important;
}
.collapse .collapse-toggle-close:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  padding: 0 1.25em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
  content: "\f068";
  background-color: rgba(37, 52, 96, 0.1);
  color: #253460;
}
.collapse .collapse-toggle-close:hover {
  background-color: rgba(0, 75, 136, 0.13);
}
.collapse .collapse-toggle-close:hover:after {
  background-color: rgba(37, 52, 96, 0.13);
}
.collapse .open:after {
  content: "\f068";
}
.collapse .collapse-content {
  padding: 0;
  border: 0;
  margin: -0.75em -1em 0.75em -1em !important;
  padding: 0.75em 1em 0.75em 1em;
  border: solid #253460;
  border-width: 1px;
}
.collapse--turquoise {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: white;
  color: #191926;
}
.collapse--turquoise .collapse-toggle {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  text-decoration: none !important;
  position: relative;
  margin-bottom: 0.75em !important;
  background-color: #81cec6;
  color: white;
}
.collapse--turquoise .collapse-toggle h1,
.collapse--turquoise .collapse-toggle h2,
.collapse--turquoise .collapse-toggle h3,
.collapse--turquoise .collapse-toggle h4,
.collapse--turquoise .collapse-toggle h5,
.collapse--turquoise .collapse-toggle h6 {
  margin: 0;
  color: white;
}
.collapse--turquoise .collapse-toggle:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  content: "\f067";
  color: white;
  padding: 0 1.25em;
  background-color: #5cc0b5;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.collapse--turquoise .collapse-toggle:hover {
  background-color: #76cac1;
  color: white;
}
.collapse--turquoise .collapse-toggle:hover:after {
  background-color: #51bbb0;
}
.collapse--turquoise .collapse-toggle-close {
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  text-decoration: none !important;
  position: relative;
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgba(129, 206, 198, 0.1);
  color: #81cec6;
  margin-top: 1em !important;
}
.collapse--turquoise .collapse-toggle-close:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  padding: 0 1.25em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
  content: "\f068";
  background-color: rgba(92, 192, 181, 0.1);
  color: #5cc0b5;
}
.collapse--turquoise .collapse-toggle-close:hover {
  background-color: rgba(129, 206, 198, 0.13);
}
.collapse--turquoise .collapse-toggle-close:hover:after {
  background-color: rgba(92, 192, 181, 0.13);
}
.collapse--turquoise .open:after {
  content: "\f068";
}
.collapse--turquoise .collapse-content {
  padding: 0;
  border: 0;
  margin: -0.75em -1em 0.75em -1em !important;
  padding: 0.75em 1em 0.75em 1em;
  border: solid #5cc0b5;
  border-width: 1px;
}
.collapse--green {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: white;
  color: #191926;
}
.collapse--green .collapse-toggle {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  text-decoration: none !important;
  position: relative;
  margin-bottom: 0.75em !important;
  background-color: #008286;
  color: white;
}
.collapse--green .collapse-toggle h1,
.collapse--green .collapse-toggle h2,
.collapse--green .collapse-toggle h3,
.collapse--green .collapse-toggle h4,
.collapse--green .collapse-toggle h5,
.collapse--green .collapse-toggle h6 {
  margin: 0;
  color: white;
}
.collapse--green .collapse-toggle:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  content: "\f067";
  color: white;
  padding: 0 1.25em;
  background-color: #005153;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.collapse--green .collapse-toggle:hover {
  background-color: #007377;
  color: white;
}
.collapse--green .collapse-toggle:hover:after {
  background-color: #004244;
}
.collapse--green .collapse-toggle-close {
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  text-decoration: none !important;
  position: relative;
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 130, 134, 0.1);
  color: #008286;
  margin-top: 1em !important;
}
.collapse--green .collapse-toggle-close:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  padding: 0 1.25em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
  content: "\f068";
  background-color: rgba(0, 81, 83, 0.1);
  color: #005153;
}
.collapse--green .collapse-toggle-close:hover {
  background-color: rgba(0, 130, 134, 0.13);
}
.collapse--green .collapse-toggle-close:hover:after {
  background-color: rgba(0, 81, 83, 0.13);
}
.collapse--green .open:after {
  content: "\f068";
}
.collapse--green .collapse-content {
  padding: 0;
  border: 0;
  margin: -0.75em -1em 0.75em -1em !important;
  padding: 0.75em 1em 0.75em 1em;
  border: solid #005153;
  border-width: 1px;
}
.collapse--warning {
  padding: 0 1em 0.75em 1em;
  margin: 0.75em 0;
  background-color: white;
  color: #191926;
}
.collapse--warning .collapse-toggle {
  cursor: pointer;
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  border: none;
  text-decoration: none !important;
  position: relative;
  margin-bottom: 0.75em !important;
  background-color: #b10b1e;
  color: white;
}
.collapse--warning .collapse-toggle h1,
.collapse--warning .collapse-toggle h2,
.collapse--warning .collapse-toggle h3,
.collapse--warning .collapse-toggle h4,
.collapse--warning .collapse-toggle h5,
.collapse--warning .collapse-toggle h6 {
  margin: 0;
  color: white;
}
.collapse--warning .collapse-toggle:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  content: "\f067";
  color: white;
  padding: 0 1.25em;
  background-color: #810816;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
}
.collapse--warning .collapse-toggle:hover {
  background-color: #a30a1c;
  color: white;
}
.collapse--warning .collapse-toggle:hover:after {
  background-color: #730713;
}
.collapse--warning .collapse-toggle-close {
  display: block;
  padding: 0.75em 4.5em 0.75em 1em;
  margin: 0.75em -1em -0.75em -1em !important;
  text-decoration: none !important;
  position: relative;
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgba(177, 11, 30, 0.1);
  color: #b10b1e;
  margin-top: 1em !important;
}
.collapse--warning .collapse-toggle-close:after {
  box-sizing: border-box;
  font-family: 'FontAwesome';
  padding: 0 1.25em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3em;
  content: "\f068";
  background-color: rgba(129, 8, 22, 0.1);
  color: #810816;
}
.collapse--warning .collapse-toggle-close:hover {
  background-color: rgba(177, 11, 30, 0.13);
}
.collapse--warning .collapse-toggle-close:hover:after {
  background-color: rgba(129, 8, 22, 0.13);
}
.collapse--warning .open:after {
  content: "\f068";
}
.collapse--warning .collapse-content {
  padding: 0;
  border: 0;
  margin: -0.75em -1em 0.75em -1em !important;
  padding: 0.75em 1em 0.75em 1em;
  border: solid #810816;
  border-width: 1px;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
 * UTILITY
 *
 * Basic utility classes.
 * And one or two odds and ends that coule be moved elsewhere at some point.
 */
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-text-nowrap {
  white-space: nowrap;
}
.u-text-uppercase {
  text-transform: uppercase;
}
.u-text-large {
  font-size: 1.5em;
}
.u-text-small {
  font-size: 0.875em;
}
.u-text-light {
  color: #999999;
}
.u-border-1 {
  border: 1px solid #253460;
}
.u-border-2 {
  border: 2px solid #253460;
}
.u-border-3 {
  border: 3px solid #253460;
}
.u-pull-left {
  float: left;
}
.u-pull-right {
  float: right;
}
/**
 * First paragraph at start of some things.
 */
.u-lede {
  font-weight: 700;
  line-height: 1.69;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}
/**
 * For the Alpha project we may want to indicate some portions are disabled
 * because they're not yet finished. So use this class on it. */
.alpha-disabled a {
  cursor: default;
}
/**********************************************************************
 * Hiding elements for various reasons.
 */
/**
 * Hide revealable blocks by default, unless the user has no JS.
 */
.js-revealable {
  display: none;
}
.no-js .js-revealable {
  display: block;
}
@media print {
  /**
     * Use on elements not covered by the print stylesheet that shouldn't be
     * printed. eg, form-based widgets, dynamic things that don't have much
     * benefit to being printed.
     */
  .u-noprint {
    display: none !important;
  }
  /**
     * Use these to make invisible things show up in the print version.
     * Probably combine with .u-visuallyhidden (below).
     */
  .u-print {
    display: block !important;
  }
  span.u-print {
    display: inline !important;
  }
}
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.u-hidden {
  display: none !important;
  visibility: hidden;
}
@media print {
  /**
     * But, if it also has .u-print, then make it show up when printing.
     */
  .u-hidden.u-print {
    display: block !important;
    visibility: visible !important;
  }
  span.u-hidden.u-print {
    display: inline !important;
  }
}
@media print {
  /**
     * But, if it also has .u-print then make it show up when printing.
     */
  .u-visuallyhidden.u-print {
    clip: auto;
    height: auto;
    margin: 0;
    position: relative;
    width: auto;
  }
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.u-invisible {
  visibility: hidden;
}
/**
 * LISTS.
 * Basic list styles.
 */
ul {
  padding-left: 1.5em;
}
ul,
ol,
dl {
  margin: 0 0 1em 0;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: 0;
}
li {
  margin-bottom: 0.5em;
}
li > ul,
li > ol {
  margin-top: 0.5em;
}
.list-unstyled .list-unstyled {
  padding-left: 1.5em;
}
.list--sessions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.list--sessions li a {
  display: block;
  padding: 0.5em;
  text-decoration: underline;
}
.list--sessions li a:hover,
.list--sessions li a:focus {
  color: #253460;
  background-color: #ddf2f0;
}
.list--sessions li a:active {
  color: #034ea2;
}
.list--sessions li a:visited {
  color: #253460;
}
/**
 * ICONS
 *
 * Using Fontawesome
 * Including icons as part of content using classes.
 * Can also be called into the script using <i class="fa fa-ICON-NAME"></i>
 * References: http://fortawesome.github.io/Font-Awesome
 */
.a-link:after {
  font-family: FontAwesome;
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-external-link:after {
  font-family: FontAwesome;
  content: "\f08e";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-action:after {
  font-family: FontAwesome;
  content: "\f016";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-word-doc:after {
  font-family: FontAwesome;
  content: "\f1c2";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-excel-doc:after {
  font-family: FontAwesome;
  content: "\f1c3";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-pdf-doc:after {
  font-family: FontAwesome;
  content: "\f1c1";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
.a-file-doc:after {
  font-family: FontAwesome;
  content: "\f016";
  padding-left: 0.5em;
  padding-right: 0.25em;
  color: #253460;
  font-size: 75%;
}
