block settings
	- var title = "Legislation"
	- var logoutheader = true
	- var sidebar = true
	- var toolbars = true
	- var toolbarsadviser = true
	- var dir = "../../"

extends /template/template.jade

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

	aside.section-notice__adviser
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge ADVISER
				| This page is part of #[a(href="#") adviser only] content.

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Adviser content – Legislation"}])

block sidebar
	- var section = "Section title"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Content page", href: "adviser.html"},
		{title: "Advice tool", href: "adviser-tool.html"}])

	nav.side-nav-beta.adviser-nav
		ul
			li.side-nav-beta__heading.-active.-open
				a
					span Adviser pages
			ul
				li.side-nav-beta__sibling.-current
					a(href="adviser-2.html") Legislation

block content
	div
		p Introduction is optional, but for a long format advice page it can be useful to summarise the pages content, this should be kept as a relatively short paragraph that covers what this page of content will do.
		section#step1
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #[span#overlay_button-1 Ut wisi enim ad minim veniam], quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		section#step2
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		section#step3
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p #[span#overlay_button-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.]

	#overlay1.overlay(style="display:none;")
		.overlay__modal
			.overlay__main
				h3.overlay__header Definition: Overlay title
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			.overlay__footer
				button#overlay1_close.btn.btn-primary.close-button-icon(type="button") Close

	#overlay2.overlay(style="display:none;")
		.overlay__modal
			.overlay__main
				h3.overlay__header 6.3 Overlay title
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			.overlay__footer
				button#overlay2_close.btn.btn-primary.close-button-icon(type="button") Close

	script.
		$('#overlay_button-1').append(function() {
			return "<sup class='adviser'></sup>";
		})
		$('#overlay_button-2').append(function() {
			return "<sup class='adviser'>6.3</sup>";
		})


		$(document).ready(function(){
			$('#overlay_button-1').click(function() {
				$('#overlay1').toggle();
			});
			$('#overlay1_close').click(function() {
				$('#overlay1').hide();
			});
			$('#overlay_button-2').click(function() {
				$('#overlay2').toggle();
			});
			$('#overlay2_close').click(function() {
				$('#overlay2').hide();
			});
		});