block settings
	- var title = "Tool for advice"
	- var loginheader = true
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../"

extends /template/template.jade

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Advice Tool"}])

block sidebar
	- var section = "Section title"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Content page", href: "adviser-logged-out.html"},
		{title: "Advice tool", href: "adviser-tool.html"}],
		1)

	nav.side-nav-beta.adviser-nav
		ul
			li.side-nav-beta__heading.-active.-open

				a

block content
	div
		h2 Use this tool to receive tailored advice

		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

		h3 Before you start

		ul
			li Lorem ipsum dolor sit amet
			li Lorem ipsum dolor sit amet
			li Lorem ipsum dolor sit amet

		button.btn.btn-primary-light.right-button-icon(type="button") Start
