// Sidebar for blog mockups

.side-nav-beta.blog-sidebar
    .blog-sidebar--category
        label About the digital blog
        p The digital team is redesigning our online content and building a new case management system for Citizens Advice based on user need.

    .blog-sidebar--search
        label Search blog
        fieldset
            .search-results__field.field-group.field-group--buttons
                input(type="search", placeholder="Search")
                button.btn.btn-primary
                    i.icon-search

    .blog-sidebar--category
        fieldset
            label(for="exampleSelect1") Select Category
            .dropdown
                select(id="exampleSelect1")
                    option All categories
                    option Content
                    option Design
                    option Casebook
                    option Research

    .blog-sidebar--navigation
        .fieldset
            label Blog pages
        ul
            li
                a(href="blog-home.html") Home
            li
                a(href="#") About
            li
                a(href="blog-team.html") The Team
            li
                a(href="blog-get-involved.html") Get involved
            li
                a(href="blog-jobs.html") Jobs

    .blog-sidebar--updates
        label(for="") Subscribe by email
        .fieldset(style="margin-bottom: 0;")
            .field-group.field-group--buttons
                input(type="text", placeholder="Email")
                button.btn.btn-primary Go

    .blog-sidebar--link
        .fieldset
            label Other Citizens Advice blogs
        ul
            li
                a(href="#") Citizens Advice blog
            li
                a(href="#") Policy blog