// Sidebar for features section of styleguide

- var section = "Features"
+sidebar([
    {href: "section-notice.html", title: "Section Notices"},
    {href: "site-notice.html", title: "Website Notice"},
    {href: "cookie-monster.html", title: "Cookie Monster"},
    {href: "browser-warning.html", title: "Browser warning"},
    {href: "extent.html", title: "Extent Switcher"}
        //{href: "reference.html", title: "Reference tool"}
])