doctype html
html.no-js
	head
		title Punctuation Picture

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="../../css/dev.css", rel="stylesheet")

	body
		div(style="max-width:900px;padding:10px;margin:10px auto")

			h1(style="margin-top: 0;") Punctuation Picture
			p Result text?
			.well--outline
				img(src="http://cdn5.thr.com/sites/default/files/2016/05/family_guy_trump_emmy_campaign_0.jpg", style="width:100%;height:auto;")
			button.btn-secondary.restart-button-icon(type="reset") Restart