block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			h2 We’ve sent the emails for you
			p Keep an eye on your inbox over the next few days for email confirmations.
			p Once you’ve followed the steps in the emails, you’ll start to see less junk mail in about a month.
			p You’ll get an email with a PDF that you can send to your local electoral office -  you should send it to them right away.
