block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			h2 What happens next
			h3 1. We’ll email organisations that can reduce your junk mail
			p An email will be sent on your behalf to the following 3 organisations:
			ul
				li Royal Mail ‘Door to Door’ - they’ll send you a form to fill in and return
				li the Direct Marketing Association - they’ll send you a form to fill in and return
				li the Mailing Preference Service - they’ll send you a confirmation email
			h3 2. We’ll email you a letter for your electoral office
			p We’ll email you a pdf. You should send this to your local electoral office - the address will be on the pdf.
			p This will remove you from a list called the ‘open register’, which is sold to companies that send out junk mail. You’ll get less junk mail once you’ve sent the letter and the electoral office has taken you off the list.
			p It won’t affect your right to vote.

			a.btn-light.left-button-icon(href="post-tool-3.html") Back
			a.btn-secondary.email-button-icon(href="post-tool-5.html") Send emails and finish