block settings
	- var title = "Your personalised content"
	- var dir = "../../"

extends /template/email-template.jade

block content
	.articleContent
		h1(style="margin-top:0;") Letter for your electoral office - reduce junk mail

		p Hi,

		p We’ve attached a letter for you to send to your local electoral office so they can remove you from the ‘open register’. This won’t affect your right to vote.

		p Your local electoral office is: #[strong London Borough of Bromley]

		.well
			p Website: #[a(href="http://www.bromley.gov.uk/", target="_blank") www.bromley.gov.uk]
			p Email: electoral@bromley.gov.uk
			p Phone: 0300 3038665
			p
				| London Borough of Bromley
				br
				| Electoral Services
				br
				| Civic Centre
				br
				| Stockwell Close
				br
				| Bromley
				br
				| BR1 3UH

		p You can either:

		ul
			li email this PDF as an attachment
			li download it and send it in the post

		p Check your local electoral office’s website to find out whether they prefer to get letters or emails.

		p Once you’ve sent it, you’ll start to see a difference in the amount of junk mail you get in about a month.
