block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			p Use this tool to easily contact up to 4 organisations that will help to reduce the amount of junk mail you get through the post.
			p This tool will:
			ul
				li send emails on your behalf to organisations that can reduce your junk mail
				li give you letters to download and send organisations that can reduce your junk mail

			.callout
				p Put a ‘no junk mail’ sign on your door or letterbox to help stop junk mail that's delivered door-to-door - for example takeaway menus
				p You can order stickers online from the #[a.a-external(href="#") Stop Junk Mail Campaign].

			p You’ll still get mail from organisations that you’ve asked to send you marketing material, for example charities or businesses.

			a.btn.right-button-icon(href="post-tool-2.html") Start