block settings
	- var title = "Check if you can get DLA for your child"
	- var sidebar = true
	- var toolbars = true
	- var sharebar = true
	- var mockup = true
	- var dir = "../../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "#"},
		{title: "Benefits", href: dir + "#"},
		{title: "Disability Living Allowance", href: dir + "#"},
		{title: "Check if you can get DLA for your child"}])

block sidebar
	- var section = "Before you claim DLA", href="../../"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Check if you can get DLA for your child", href: "#"},
		{title: "How much DLA you can get for your child", href:"#"}],
		0)

block content
	.articleContent
		p It’s very common for a parent to think they won’t be able to get Disability Living Allowance (DLA) for their child when they can.
		p DLA isn’t just for children who are physically disabled. It can be given for a wide range of medical conditions including behavioural and mental health conditions as well as learning disabilities and developmental delay. You might be able to claim even if you wouldn’t describe your child as ‘disabled’.
		p You can get DLA if your child:
		ul
			li needs more care, attention or supervision than a child of the same age who isn't disabled, or
			li has difficulty walking or getting around outdoors in unfamiliar places
		p Your child needs to be under 16 for you to claim DLA - if they're 16 or over you'll have to #[a(href="/benefits/sick-or-disabled-people-and-carers/pip/") claim Personal Independence Payment].
		p Your child must have have been disabled or had the condition for at least 3 months, and you must expect it to last for 6 more. You don’t need a formal diagnosis from a doctor to apply, but this can usually help.
		p If your child is terminally ill and not expected to live more than 6 months, you can apply right away regardless of how long your child has had difficulties for. #[a(href='/development/disability-living-allowance/help-with-your-dla-claim/claiming-dla-terminally-ill/') Read more about applying for a terminally ill child].
		h2#h-your-earnings-and-other-benefits.js-ref Your earnings and other benefits
		p DLA isn’t means tested, so it doesn’t matter how much you earn or how much money you might have in savings.
		p Any other benefits you might be getting won’t be affected. In fact, getting DLA could mean that:
		ul
			li you can get other benefits, or
			li you can get a higher rate of the benefits that you currently get 
		p Read more about #[a(href='/development/disability-living-allowance/help-with-your-dla-claim/disability-living-allowance-dla-extra-money-and-benefits-you-can-get/') extra help and support if you’re getting DLA].
		h2#h-get-help-and-support.js-ref Get help and support
		p You can #[a(href='/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/') talk to your nearest Citizens Advice] for help understanding if you can claim DLA. You can also talk to a specialist at the ‘Contact a family’ charity - they're experts in DLA for children.
		p
			strong Contact a Family helpline
			br
			| Telephone: 0808 808 3555
			br
			| Monday to Friday, 9:30am to 5pm
			br
			| Calls are free from all phones in the UK.
		h2#h-other-circumstances-that-affect-your-eligibility.js-ref Other circumstances that affect your eligibility
		section.revealable
			h2#h-if-your-child-s-under-3.js-ref If your child's under 3
			p It can be difficult to get DLA for a baby or an infant because all children of that age need a lot of care. But, you should still apply if your child needs more care, attention or supervision than a child of the same age who isn't disabled or doesn't have a health condition.
			p For example, most babies would be expected to wake during the night. But if you have to get up to give them a treatment such as an inhaler 2 or 3 times a night, then this means your child needs more care and attention than a baby who doesn’t need an inhaler.
		section.revealable
			h2#h-if-you-re-not-from-the-uk.js-ref If you’re not from the UK
			.callout--warning
				p If your child is subject to immigration control, your immigration status could be at risk if you apply for DLA. If you or your child aren’t UK citizens, it’s a good idea to contact your nearest Citizens Advice to get advice before you apply.
			.callout--adviser
				p Full details of eligibility requirements for non-UK nationals can be found in CPAG or the Disability Rights Handbook.
				p If you’re an EEA national living in the UK , you’ll need to meet the #[a(href='/benefits/coming-from-abroad-and-claiming-benefits-the-habitual-residence-test/the-habitual-residence-test-an-introduction/what-is-the-habitual-residence-test/') habitual residence test].
				p You normally can’t apply if you or your child are subject to immigration control, for example if you need a visa to live or work in the UK, or you have a visa that says “no recourse to public funds”. But you might be able to apply if you’ve spent time living in another EEA country - it’s best to call the DLA helpline to check.
				p
				| DLA helpline
				br
				| Telephone: 0345 712 3456 
				br
				| Textphone: 0345 722 4433 
				br
				| Monday to Friday, 8am to 6pm
				br
				| Calls cost up to 12p a minute from a landline, and between 3p and 45p a minute from a mobile.
		section.revealable
			h2#h-if-you-ve-lived-out-of-the-uk-recently.js-ref If you’ve lived out of the UK recently
			p Regardless of what your immigration status is, your child must have lived in in England, Wales or Scotland for a certain amount of time to be eligible:
			.table-scroll
			table
				thead
				tr
					th Your child’s age
					th How long they need to have been in England, Wales or Scotland
				tbody
				tr
					td Under 6 months
					td 13 weeks in the past 6 months
				tr
					td 6 months to 3 years
					td 6 months in the past 3 years
				tr
					td 3 years or over
					td 2 years in the past 3 years
			p You might be able to apply if you’ve spent time living in another EEA country - it’s best to #[a(href='/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/') contact your nearest Citizens Advice] or call the DLA helpline to check.

		.callout--related
			h2#h-next-steps.js-ref Next steps
			p
				a(href='/development/disability-living-allowance/before-you-claim-dla/claiming-dla/') How much DLA you can get.
			p
				a(href='/development/disability-living-allowance/help-with-your-dla-claim/how-to-claim-dla/') How to claim DLA.
