.js .beta #beta-dap-menu-accordion ul ul {
	display: block;
}

.-open .o2,
.-open .o2mobile--sub {
	display: block !important;
}

.o2 {
	display: block;
	li a {
		background-color: lighten(#DCE5F2, 5%);
		padding: .875em .875em*2 !important;
		border-top: 1px solid #eee;
		text-decoration: none !important; 
		display: block;
	}
	.active {
		background-image: url('../images/nav-active.png') !important;
		background-position: center left;
		background-repeat: no-repeat;
		background-color: #DCE5F2;
		font-weight: 700;
		strong {
			font-weight: 700;
		}
	}
}

section {
	border-top: 1px solid #EEEEEE;
	margin-top: 20px;
}

.o2fixed {
	background: none !important;
	li {
		display: none;
		color: white;
		span {
			background-color: #004D88;
			padding: .875em .875em*4 .875em .875em;
			border-top: 1px solid #eee;
			text-decoration: none !important; 
			display: block;
			border: none;
			font-size: 14px;
			cursor: pointer;
			&:after {
				position: absolute;
				right: 12px;
				top: 0;
				bottom: 0;
				content: "+";
				width: 20px;
				display: block;
				font-size: 2em;
			}
		}
	}
	@media (max-width:767px) {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	}
	@media (min-width:767px) {
	    li {
	    	display: none !important;
	    }
	}
}

.o2mobile {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: white !important;
	visibility: hidden;
  	transition: opacity .2s linear;
	li {
		a {
			background-color: lighten(#DCE5F2, 5%);
			padding: .875em .875em*2;
			border-top: 1px solid #eee;
			text-decoration: none !important; 
			display: block;
		}
	}
	.close a {
		background-color: #EEEEEE;
		padding: .875em/2 .875em;
	}
}

.open,
.open li,
.open li a {
	visibility: visible;
	display: block !important;
}