.o2 {
	display: block !important;
	li a {
		background-color: lighten(#DCE5F2, 5%);
		padding: .875em .875em*2 !important;
		border-top: 1px solid #eee;
		text-decoration: none !important; 
		display: block;
	}
	.active {
		background-image: url('../images/nav-active.png') !important;
		background-position: center left;
		background-repeat: no-repeat;
		background-color: #DCE5F2;
	}
}