# CodeKit config
config.codekit

# Annoying CSS and .map files that shouldn't be there
/css/
/libs/css/
*.map
public/css/tools.css
public/css/chat-styles.css

# Other files
.DS_Store
README.htmlREADME.html