block settings
	- var title = "Welcome to the digital lab"
	- var dir = "../../"

extends /jade/templates/template.min.jade

block head
	style.
		.dl--circle{
			height: 6rem;
			width: 6rem;
			border-radius: 3rem;
		}

		.dl--circle .pic{
			font-size:4rem;
		}

		.webchat{
			margin-left:13%;
		}

		.flex-row > *{
			text-align:center;
		}

		.fullwidth-content{
			padding:4rem 4rem 2rem;
		}
		.links{
			margin-top:4rem;
		}
		.sponser{
			text-align: right;padding: 0 2em;padding-top: 2em;
		}
		.freshworks{
			    height: 50px;margin-left: 15px;position: relative;top: 20px;
		}
		.casebook-container span, .advice span{
			margin:0;
			font-size:22px;
			text-align:left;
			font-weight:bold;
			color:#00553F;
			clear: both;
			float: left;
			margin-bottom:1em;
		}

		.casebook-container p{
			clear: both;
			float: left;
			width: 50%;
			text-align: left;
			color:#00553F;
			word-break: break-word;
			margin:0;
		}
		
		.advice p{
			clear: both;
			text-align: left;
			color:#00553F;
			word-break: break-word;
			margin:0;
		}

		.casebook-container a.case-btn, .advice a.case-btn{
			    clear: both;
				float: left;
				min-width: 180px;
				font-size: 17px;
				background: white;
				margin-top: 2em;
				line-height: 3em;
				font-weight: 600;
				padding:0 10px;
		}

		.advice.web-container{
			padding:0em 1em 2em;
		}

		.advice.web-container > div{
			float:left;
		}

		.casebook-container{
			padding: 0em 1em 2em;
			margin: 0;
		}

		.dialog__close-icon{
			font-size:23px;
		}

block script
	script.
		var filename = window.location.search.slice(1);
		$(document).ready(function() {
			if (filename == "0") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1X9lN8nJVE-TUtJE3WnstxZBejwg2knTesbRwGdwQJgk")
			} else if (filename == "1") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1gUKnWCGg617VeQKJg14pFqP2FY71f1Zev9U5m4r3Hs0")
			} else if (filename == "2") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1X_HDtTT6nTmgfJHu_v4MF4cM3zG5A_z-M2trGWcQeDs")
			} else if (filename == "3") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1B_gfCfO3fwyrohLv4M9Q2WmqV-6YZ5GiN4oraZlBhZA")
			} else if (filename == "4") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1tTLHJl_oRDZgyWpu5Jw-er6sDVG5NrqKZ3WLOSzLokw")
			} else if (filename == "5") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1xSNYVpFISuRqtEPDog995K_6UHGY5CmEAto4UZ0zv80")
			} else if (filename == "6") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1W9h-ktZBQXB3k5HZpF2atCkuWSbMRaCbGG27ZHWF68o")
			} else if (filename == "7") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1zQaLlUN9dpGDXSHwsncjZWD6NLX09SsuEUbmWkT_foo")
			} else if (filename == "8") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1bDnRjdRzxTiAesjxkTt9fkjYozGaVQFSQJrVLViukXM")
			} else if (filename == "9") {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1ED7X6ZQDEUKwen9dAlO-r66ZPKcfQA4Wh_8Le0Mx3m0")
			} else {
				$('#pqf').attr("href", "https://drive.google.com/open?id=1X9lN8nJVE-TUtJE3WnstxZBejwg2knTesbRwGdwQJgk")
			}

			$('#webchat').click(function(){
				$('#overlay--1').show();
			})
			$('.dialog__close.1').click(function(){
				$('#overlay--1').hide();
			})
			$('#casebook').click(function(){
				$('#overlay--2').show();
			})
			$('.dialog__close.2').click(function(){
				$('#overlay--2').hide();
			})

			$('#facebook').click(function(){
				$('#overlay--3').show();
			})
			$('.dialog__close.3').click(function(){
				$('#overlay--3').hide();
			})

			$('#prinkk').click(function(){
				$('#overlay--4').show();
			})
			$('.dialog__close.4').click(function(){
				$('#overlay--4').hide();
			})

			$('#psr').click(function(){
				$('#overlay--5').show();
			})
			$('.dialog__close.5').click(function(){
				$('#overlay--5').hide();
			})

			$('#game').click(function(){
				$('#overlay--6').show();
			})
			$('.dialog__close.6').click(function(){
				$('#overlay--6').hide();
			})
			
			$('#uc').click(function(){
				$('#overlay--7').show();
			})
			$('.dialog__close.7').click(function(){
				$('#overlay--7').hide();
			})
		});

block content
	.digital-lab
		#overlay--1.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.1(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.advice.web-container
								span Webchat
								p See what it’s like to provide and receive advice online
								.col-xs-3
									a.case-btn(href="http://citaone.logo-net.co.uk/chat18/") As an adviser

								.col-xs-3
									a.case-btn(href="https://www.citizensadvice.org.uk/development/web-chat-service/") As an client
								

		#overlay--2.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.2(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Casebook
								p Try out Casebook, our new system for recording the support we give to clients
								a.case-btn(href="https://webworker.casebook.demo.devops.citizensadvice.org.uk/") Try out Casebook

		#overlay--3.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.3(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Facebook Workplace
								p Connect with people from across the organisation and share knowledge on Citizens Advice’s private Workplace
								a.case-btn(href="https://citizensadvice.facebook.com") Try out Facebook Workplace

		#overlay--4.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.4(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Local impact report template
								p Create your own local impact report from our branded templates
								a.case-btn(href="http://citizensadvice.prinkk.com") Create your impact report
		
		#overlay--5.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.5(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Priority services register tool
								p Try out our tool that helps clients register for priority services with their energy supplier
								a.case-btn(href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/get-help-paying-your-bills/getting-extra-support-from-your-energy-supplier/") Try the priority services register tool

		#overlay--6.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.6(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Improving our website
								p Help us test if different categories in our website menu could make it easier to find the right advice
								a.case-btn(href="https://3c6o6lhi.optimalworkshop.com/treejack/ca-treejack") Improve our website

		#overlay--7.overlay(style="display: none;")
			.overlay__modal
				.overlay__main(style="background-color: #c2bdde;")
					div
						button.dialog__close.7(type="button" data-action="close")
							i(aria-hidden="true", class="dialog__close-icon")
							span.dialog__close-text Close
					.flex-container
						.flex-row
							.dl--segment.col-xs-12.casebook-container
								span Universal Credit digital resources
								p Test our new space that brings together all of the resources you need to give advice on Universal Credit
								a.case-btn(href="#") First look at new Universal Credit resources
									
							

		.fullwidth
			.fullwidth-content
				.dl--head
					img(alt="", src="#{dir}images/dev/ca-logo-hz-200px.svg")
					h1(style="margin: 0; margin-top: 1rem; position: relative;") Welcome to the digital&nbsp;lab&nbsp;
						a.egg(href="http://funhtml5games.com?embed=flappy") #[span.i &#xe624;]

		.fullwidth(style="background-color: #c2bdde;")
			.fullwidth-content
				.flex-container
					.flex-row
						.dl--segment.col-sm-3
							a#casebook(href="#")
								.dl--circle
									.pic.i-brand &#xe94b;
								p Test
									br
									strong Casebook
						

						.dl--segment.col-sm-3
							a#facebook(href="#")
								.dl--circle
									.pic.i-brand &#xe96d;
								p Connect with
									br
									strong Facebook Workplace

						.dl--segment.col-sm-3
							a#prinkk(href="#")
								.dl--circle
									.pic.i-brand &#xe936;
								p Create your own
									br
									strong local impact report
						
						.dl--segment.col-sm-3
							a#psr(href="#")
								.dl--circle
									.pic.i-brand &#xe984;
								p Try the
									br
									strong priority services
									br
									strong register tool

						.dl--segment.col-sm-3.webchat
							a#webchat(href="#")
								.dl--circle
									.pic.i-brand &#xe92a;
								p Try out
									br
									strong webchat

						.dl--segment.col-sm-3
							a#game(href="#")
								.dl--circle
									.pic.i-brand &#xe993;
								p Help us
									br
									strong improve our 
									br
									strong website
						.dl--segment.col-sm-3
							a#uc(href="#")
								.dl--circle
									.pic £
								p Have a first look at the 
									br
									strong Universal Credit
									br
									strong resource
					.flex-row.links
						.col-sm-6
								p
									a(href="https://docs.google.com/a/citizensadvice.org.uk/forms/d/e/1FAIpQLSfFlPwZH8BpN2eEJlWHp0HLTdaYZYQU4UAp-ctVArogeJkRrg/viewform") Tell us what you think about the tools
						.col-sm-6
							p
								a(href="https://docs.google.com/forms/d/e/1FAIpQLSenLdtyKhtcSalg7Pnue5nOCeVNs-8jDIuZYmFlBoiKFZwg7Q/viewform") Sign up to help with more testing

		.fullwidth
			.fullwidth-content.sponser
				h2(style="margin: 0; margin-top: 1rem; display:inline;") Sponsored by
				img.freshworks(alt="freshworks",src="#{dir}images/freshworks.png")

						