block settings
	- var title = "Check if you're entitled to sick pay"
	- var sidebar = true
	- var mockup = true
	- var toolbars = true
	- var newfoot = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Workplace Rights", href: dir + "#"},
		{title: "Check if you're entitled to sick pay"}])

block sidebar
	include /template/sidebar-adviser.jade

block content
	p With many jobs, if you’re off sick for a few days, you still get paid. This is because you have contractual sick pay. Your contract should tell you what you’re entitled to. If you haven’t been given a contract or it’s not in there, ask your employer or check your staff handbook.

	.callout--adviser
		p This page mostly covers statutory sick pay. #[a(href="/Views/Pages/Beta/BetaContentPageTemplate.aspx?id=58507") Get more detail on contractual sick pay].

	p Not all employers offer contractual sick pay, but there’s also statutory sick pay (SSP). All employers have to give you this, by law, as long as you:
	ul
		li have done at least one day’s work for your employer
		li are sick for 4 full days or more in a row (including non-working days)
		li earn on average more than £112 a week (before tax)
	p You still get it if you’re an agency or casual worker, or if you work part-time or on a fixed-term or zero hours contract.
	p SSP can give you £88.45 a week for up to 28 weeks.
	p You’ll need to follow some rules to #[a(href="/Views/Pages/Beta/BetaContentPageTemplate.aspx?id=57592") get sick pay you’re entitled to].

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading Who is entitled to statutory sick pay
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p Most people who work can get SSP. Entitlement is based on social security law, rather than employment law.
		p Your client is entitled to SSP if they work and on average earn more than £112 a week - enough for their employer to pay secondary class 1 national insurance contributions. This includes agency workers and office holders, such as police officers, who may not qualify for other employment rights.


	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading When you can get statutory sick pay
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p Your client has to be in a ‘period of incapacity for work’ to get SSP. This means being sick for at least 4 days in a row - including non-working days such as weekends and public holidays.
		p In a period of incapacity for work, your client will only get SSP for days when they'd be working if they weren't sick. These are called 'qualifying days'.
		p There's no SSP for the first 3 qualifying days of a period of incapacity for work. These are called 'waiting days'.
		p Your client must have the whole day off sick for it to count. If they go off sick partway through the day it only counts if they did no work before they left.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading How much statutory sick pay is paid
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p For any full week your client has off work they will get the full weekly rate of £88.45, even if they work part-time.
		p They will get a daily rate of SSP for the first and last weeks of their sickness if they’re not full weeks.
		p You can use the #[a(href="https://www.gov.uk/calculate-statutory-sick-pay") statutory sick pay calculator] on GOV.UK to work out exactly what they’ll get, or #[a(href="https://www.gov.uk/guidance/statutory-sick-pay-manually-calculate-your-employees-payments") work it out manually] using guidance on GOV.UK.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading How long statutory sick pay is paid for
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p SSP is paid for up to 28 weeks. This can be either:
		ul
			li continuous
			li several periods of sickness added together to make up 28 weeks - across a maximum of 3 years

		p Once the client has claimed for 28 weeks or reached the 3-year limit they can #[a(href="/Views/Pages/Beta/BetaContentPageTemplate.aspx?id=54347") apply for Employment and Support Allowance] (ESA).
		.callout--warning
			p If a client has been off sick continuously or a number of times over a long period they may have a disability and you should check for any disability discrimination issues.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client is off sick more than once
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p If your client is off sick more than once, it will count as a single period of incapacity for work if the absences:
		ul
			li are each 4 or more days in a row
			li take place within 8 weeks

		p In this situation the client doesn’t have to wait 3 days to get paid SSP again.
		p If the absences are more than 8 weeks apart the client will start a new period of incapacity, and have to wait the 3 days before getting SSP.
		h3.ref-heading
			span.ref-heading__heading Who isn’t entitled to statutory sick pay
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p You won’t get SSP if you:
		ul
			li are self-employed
			li have already had SSP for 28 weeks
			li are getting statutory maternity pay or Maternity Allowance
			li are pregnant and your baby is due in 4 weeks or less
			li had a baby in the last 14 weeks (or the last 18 weeks if your baby was born over 4 weeks early)
			li are an agricultural worker (#[a(href="https://www.gov.uk/agricultural-sick-pay") read about agricultural sick pay on GOV.UK])
			li are in the armed forces

	.callout--alert
		p Even if your employer says you're '#[a(href="https://www.gov.uk/employment-status/selfemployed-contractor") self-employed]', you might in fact be a '#[a(href="https://www.gov.uk/employment-status/selfemployed-contractor") worker]' and entitled to sick pay. It’s always best to check if this applies to you - contact #[a(href="#") your nearest Citizens Advice] if you’re not sure.

	h2.ref-heading
		span.ref-heading__heading When you have more than one employer
		span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
	p If you have more than one employer you could be entitled to sick pay from each one. For each employer, the rules are the same as if they were your only employer.
	p If your illness means you can do one of your jobs, but not the other, you could get sick pay from one while getting your normal wages from another.

	h2.ref-heading
		span.ref-heading__heading If your employer refuses to pay your sick pay
		span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
	p If you’re not getting the pay your contract says you’re entitled to, you can #[a(href="#") take steps to get the money you’re owed].
	p If you’re entitled to statutory pay but your employer refuses to pay it, you should contact HM Revenue and Customs (HMRC).
	p HMRC employees’ enquiry line
		br
		| Telephone: 0300 200 3500
		br
		| Textphone: 0300 200 3212
		br
		| Open Monday to Friday, 8am to 5pm.
	p Calls can cost up to 12p a minute from landlines, and between 3p and 45p a minute from mobiles.
	p If you need more help at any stage, #[a(href="#") contact your nearest Citizens Advice]

	h2.ref-heading
		span.ref-heading__heading What to do if you’re not entitled to sick pay
		span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
	p If your employer says you’re not entitled to sick pay, ask them to give you a written explanation of their reasons. They should give you this on a form called #[a(href="#") Statutory sick pay and an employee’s claim for benefit (SSP1)]. They should give you this within 7 days of you going off sick.

	p You’ll need the SSP1 form to claim benefits. If you can’t get sick pay, you might be able to claim #[a(href="#") Employment and Support Allowance] and other benefits. #[a(href="#") Use our benefits checker] to see what you might be entitled to.

	p If your employer doesn’t give you form SSP1 there are 2 steps to take:

	h3.ref-heading
		span.ref-heading__heading Step 1: request a written statement
		span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
	p If your employer hasn’t given you form SSP1, ask them for a written statement explaining why you can’t get Statutory Sick Pay. You could also give them #[a(href="#") a copy of the form] to fill in.

	h3.ref-heading
		span.ref-heading__heading Step 2: contact HMRC
		span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
	p If you can’t get form SSP1 or a written statement from your employer, contact HMRC’s employees' enquiry line on 0300 200 3500. They’ll ask your employer why they think you’re not entitled to SSP.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client works part-time
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p Every day your client works is a qualifying day, even if they only work for a couple of hours.
		p If your client works a few days each week, or different days each week, they will have to agree with their employer which days count as qualifying days.
		p This will affect how long they have to be off before they start getting sick pay, as well as how much sick pay they get for each day they miss.
		p It can be difficult to work out the best conditions, so you might need to #[a(href="#") get specialist help].
		.callout--quote
			h3.ref-heading
				span.ref-heading__heading Example
				span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
			h5 The employer agrees that only normal working days are qualifying days
			p Frida works Mondays and Tuesdays. She agrees with her employer that Mondays and Tuesdays will be her qualifying days.
			p She falls ill on Tuesday 1 November. Her sick pay won't start till Monday 14 November.
			p This is because her waiting days will be the Tuesday she falls ill and the next Monday and Tuesday.
			p She'll get the full rate of SSP - half the weekly rate for each Monday or Tuesday she's sick, as her working week is 2 days.
			h5 The employer agrees that all weekdays are qualifying days
			p Jan works Mondays and Tuesdays. He agrees with his employer that all weekdays are qualifying days.
			p He falls ill on Tuesday 1 November. His sick pay will start on Friday 5 November - his waiting days will be Tuesday to Thursday of that week.
			p He'll get the full rate of SSP. He'll get one-fifth of the weekly rate for each weekday he's sick - not just the days he'd normally work.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client is pregnant or has recently given birth
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p Their entitlement to sick pay will vary depending if:
		ul
			li the illness is related to their pregnancy or not
			li they’re claiming statutory maternity pay or maternity allowance
		p Read more on the page ‘#[a(href="/Views/Pages/Beta/BetaContentPageTemplate.aspx?id=58426") Getting sick pay when you’re pregnant]’.

	section.revealable.revealable--adviser
		h2.ref-heading
			span.ref-heading__heading If your client is also getting their pension
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p If your client works and claims their state pension, they're still entitled to get SSP as long as they qualify.
		p If they don’t qualify for SSP, they might be able to get #[a(href="/Views/Pages/IndexPageTemplate.aspx?id=25131") pension credit ]and other benefits. You can use the #[a(href="/Views/Pages/AdviceguidePageTemplate.aspx?id=31735") benefits checker] to see what else they might be entitled to.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client is in their notice period
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p If your client is sick they should get their full normal pay, rather than their statutory or contractual amount, if:
		ul
			li they're in their #[a(href="/Views/Pages/LegacyAdviceTemplatePage.aspx?id=26798#h-sickness-and-notice") statutory notice period] because they’re leaving their job
			li their notice period is the statutory minimum (or less)
			li they haven't resigned

		p This applies no matter what sick pay terms are specified in your client's contract.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client is involved in a trade dispute
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p If your client is off work because of a trade dispute when their sickness starts, they won’t be entitled to SSP. They might be able to claim ESA instead.
		p Your client is entitled to SSP if:
		ul
			li the sickness started before the trade dispute began
			li they’re laid off because of a trade dispute elsewhere (that they are not directly involved in)

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client has 2 contracts with the same employer
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p Depending on how their employer pays their national insurance (NI) contributions, if your client has 2 separate contracts with the same employer they will get:
		ul
			li SSP from each job, if the employer’s NI contributions are paid separately for each contract
			li SSP once, if the earnings from each contract are added together to calculate the employer’s NI contributions
		p If their earnings are added together for NI contributions they have to be unable to work under all contracts to get SSP.

	section.revealable.revealable--adviser
		h3.ref-heading
			span.ref-heading__heading If your client’s employer is insolvent
			span.ref-heading__toggle.ref-heading__toggle--off #[a.js-toggle-ref Add reference]
		p If the #[a(href="https://www.gov.uk/your-rights-if-your-employer-is-insolvent/overview") employer is insolvent] and can’t pay your client SSP they’re owed then:
		ul
			li the employer is liable to pay any SSP due for the period before the insolvency date
			li if the contract ends with insolvency, entitlement to SSP ends at the same time - the employer should give the client form SSP1 so they can #[a(href="/Views/Pages/Beta/BetaIndexPageTemplate.aspx?id=54341") claim ESA] from DWP
			li if the contract doesn’t end, any SSP due from the insolvency date is HMRC’s responsibility
