block settings
    - var title = "Create template letter"
    - var fullwidth = true
    - var mockup = true
    - var dir = "../../../"

extends /template/template.jade

block script
    script.
        $(document).ready(function() {
            $('.conditional').click(function() {
                if( $(this).find('input[value="2"]').is(':checked')) {
                    $(this).next().show();
                } else {
                    $(this).next().hide();
                }
            });
        });

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"}])

block content
    .articleContent
        .flex-container.flex-row
            .col-md-6
                .well(style="margin-top:0;background-color:#F2F8FF;")
                    .fieldset
                        label(for="standardField") Template letter name
                        input(placeholder="", type="text" value="Faulty goods letter")
                    .fieldset
                        label(for="standardField") Template letter intro
                        textarea

                a.blocklink.moveme(href="admin-section-details.html", style="padding-top:.75rem;") Personal details (4 questions)

                a.blocklink.moveme(href="admin-section-purchase.html") About your purchase (4 questions)

                a.blocklink.moveme untitled section (0 questions)

                button.btn-secondary.plus-button-icon Add section
                br
                button.btn-primary.save-button-icon Save and exit

            .col-md-6
                textarea#letter-input(style="height:45rem;") {{name}}&#013;&#010;{{address}}&#013;&#010;&#013;&#010;Dear Sir or Madam,&#013;&#010;&#013;&#010;I bought a sewing machine from you on 25 October 2015. I paid £229.99.&#013;&#010;&#013;&#010;I now find the goods have the following fault:&#013;&#010;The machine stops working after half an hour and won't work again for at least an hour.&#013;&#010;&#013;&#010;Under the Consumer Rights Act 2015 goods you supply must be fit for purpose. As there was a problem with the goods when I bought them, I request that you give me a full refund.&#013;&#010;&#013;&#010;I have enclosed a copy of the receipt in support of my claim.&#013;&#010;Please respond within 14 days of receiving this letter.&#013;&#010;&#013;&#010;Yours faithfully&#013;&#010;{{name}}&#013;&#010;{{email}}&#013;&#010;{{phone}}
