/**
 * ICONS
 *
 * Using Fontawesome
 * Including icons as part of content using classes.
 * Can also be called into the script using <i class="fa fa-ICON-NAME"></i>
 * References: http://fortawesome.github.io/Font-Awesome
 */


// Must be a better way of mixins with pseudo classes 
.a-link:after {
    font-family: FontAwesome;
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}
.a-external-link:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}
.a-action:after {
    font-family: FontAwesome;
    content: "\f016";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}
.a-word-doc:after {
    font-family: FontAwesome;
    content: "\f1c2";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}
.a-excel-doc:after {
    font-family: FontAwesome;
    content: "\f1c3";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}
.a-pdf-doc:after {
    font-family: FontAwesome;
    content: "\f1c1";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}

.a-file-doc:after {
    font-family: FontAwesome;
    content: "\f016";
    padding-left: 0.5em;
    padding-right: 0.25em;
    color: @link-color;
    font-size: 75%;
}



