block settings
	- var title = "Step 2 - Work out which debts are a priority"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: "Step 2 - Work out which debts are a priority"}])

block sidebar
	- var section = "Get help with your debts"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Step 1 - Gather information for each debt", href: "step-1.html"},
		{title: "Step 2 - Work out which debts are a priority", href: "step-2.html"},
		{title: "Step 3 - Work out what you can afford to pay", href: "step-3.html"},
		{title: "Step 4 - Contact your creditors", href: "step-4.html"},
		{title: "After you've worked out your budget", href:"after-your-budget.html"}],
		2)

block content
	.articleContent
		p When you have more than one debt, you must make sure you’re dealing with the most important ones first.

		p These are your ‘priority debts’.

		p Priority debts are the ones that have the most serious consequences - like being evicted, losing your house or getting a court fine. 

		p Use our tool below to see which of your debts is a ‘priority’ debt. This will show you how to decide which ones to deal with first.

		.well--outline
			h2 Your results
			.well
				h3 These are your priority debts
				p This is a priority debt. You need to deal with it as quickly as possibly. Read our advice about dealing with
				ul
					li #[a(href="#") Mortgage/secured loan]
					//p #[a(href="#") Talk to your mortgage lender straight away]


			a.button.btn-secondary.restart-button-icon(href="step-2.html") Restart



		a.blockLinks(href="#{dir}dev/debt/steps/step-3.html") Step 3 - Work out what you can afford to pay
		a.blockLinks.blocklinks--back(href="#{dir}dev/debt/get-help-with-your-debts-1.html") Get help with your debts

		//.callout--related
			h3 Get more help
			p You can get free advice from one of our debt specialists. They can talk through your options and help you to find a solution. 
