block settings
	//- var title = "Citizens Advice digital blog"
	- var sidebar = true
	- var dir = "../../"
	- var blogname = "Digital Blog"
	- var blog = true
	- var nofooter = true

extends /jade/templates/template-site.jade

block sidebar
	include /jade/templates/partials/sidebar-blog.jade

block content
	.articleContent
		.flex-container.flex-row
			.blog-home--article
				h2 #[a(href="blog-post.html") Making things simpler: Personal Independence Payment (PIP)]
				p.small #[a(href="#") Stephen Rehill] on January 18, 2016 in #[a(href="#") Content], #[a(href="#") Research]
				img(src="#{dir}images/dev/sample-blog/pip-feature-images-2.jpg" alt="PIP feature image")
				p Making a claim for the benefit Personal Independence Payment (PIP) can take a long time time. It can often take up to 4 months from starting the application to getting your money (if you’re #[a(href="#") terminally ill] your claim will be processed more quickly).
				a.btn-secondary.btn-small(href="#", type="button") Read full article

			.blog-home--article
				h2 #[a(href="blog-post.html") Introducing… immigration advice]
				p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Design], #[a(href="#") Research]
				img(src="#{dir}images/dev/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image")
				p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
				a.btn-secondary.btn-small(href="#", type="button") Read full article

		.flex-container.flex-row
			.col-xs-12.col-md-6.blog-home--excerpt
				.card-image-top
					img(src="#{dir}images/dev/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image")
				.card-text
					h3 #[a(href="#") Introducing… immigration advice]
					p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
			.col-xs-12.col-md-6.blog-home--excerpt
				.card-image-top
					img(src="#{dir}images/dev/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image")
				.card-text
					h3 #[a(href="#") Introducing… immigration advice]
					p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?

			.col-xs-12.pagination
				ul
					li.active
						span 1
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") 2]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") 3]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") Next]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") Last]