block settings
	- var title = "Citizens Advice digital blog"
	- var sidebar = false
	- var toolbars = false
	//- var cookiemonster = true
	- var mockup = false

extends ../template/template-blog.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	.articleContent
		div
			.row.flex-container
				.col-xs-12.col-md-3.blog-column-excerpt
					.cards
						.card-image-top
							img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
						.card-text
							h3 #[a(href="#") Introducing… immigration advice]
							p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
				.col-xs-12.col-md-3.blog-column-excerpt
					.cards
						.card-image-top
							img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
						.card-text
							h3 #[a(href="#") Introducing… immigration advice]
							p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
				.col-xs-12.col-md-3.blog-column-excerpt
					.cards
						.card-image-top
							img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
						.card-text
							h3 #[a(href="#") Introducing… immigration advice]
							p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
				.col-xs-12.col-md-3.blog-column-excerpt
					.cards
						.card-image-top
							img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
						.card-text
							h3 #[a(href="#") Introducing… immigration advice]
							p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?

				.col-xs-12.col-md-3.span4.blog-column-excerpt
					h2 #[a(href="#") Introducing… immigration advice]
					p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
					img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
					a(href="#" style="border-bottom:none;")
						button.btn-secondary.btn-small(type="button") Read full article


				.col-xs-12.col-md-3.span4.blog-column-excerpt
					h2 #[a(href="#") Introducing… immigration advice]
					p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
					img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
					a(href="#" style="border-bottom:none;")
						button.btn-secondary.btn-small(type="button") Read full article


				.col-xs-12.col-md-3.span4.blog-column-excerpt
					h2 #[a(href="#") Introducing… immigration advice]
					p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
					img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
					a(href="#" style="border-bottom:none;")
						button.btn-secondary.btn-small(type="button") Read full article

			.row
				.col-xs-12.col-md-6.span6.blog-column-excerpt
					h2 #[a(href="#") Introducing… immigration advice]
					p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
					img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
					a(href="#" style="border-bottom:none;")
						button.btn-secondary.btn-small(type="button") Read full article


				.col-xs-12.col-md-6.span6.blog-column-excerpt
					h2 #[a(href="#") Introducing… immigration advice]
					p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
					img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
					a(href="#" style="border-bottom:none;")
						button.btn-secondary.btn-small(type="button") Read full article



			.row
				.span12
					.pagination
						ul
							li.active
								span 1
							li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") 2]
							li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") 3]
							li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") Next]
							li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") Last]