mixin link(title, href, text)
	a(href=href ? href : '#', title!= title ? title : text)&attributes(attributes)!= text ? text : title

mixin breadcrumbs(obj)
	.main-breadcrumb__content
		- var n = obj.length
		- each item,index in obj
			- if(index < n-1) {
			span.breadcrumb__item
				+link(item.title, item.href, item.text)
				i.icon-guillemet-right
			- } else {
			span.breadcrumb__item!= item.text ? item.text : item.title
			- }

mixin sidebar(obj, key)
	nav.section-nav
		h2.section-nav__heading
			a In this section
		ul
			li
				a.section-nav__parent(href="../##{section}") #{section}
				ul
					- each item,index in obj
						li
							+link(item.title, item.href, item.text)