- var section = "Forms"
+sidebar([
	{title: "Buttons", href: "forms/buttons.html"},
	{title: "Fields", href: "forms/fields.html"},
	{title: "Field groups", href: "forms/field-groups.html"},
	{title: "Conditional fields", href: "forms/fields-conditional.html"},
	{title: "Validation", href: "forms/validation.html"}
])