- var section = "Sick pay"
+sidebar([
	{href: "#", title: "Check if you're entitled to sick pay"},
	{href: "#", title: "How to get sick pay"},
	{href: "#", title: "Getting money when you're off work sick"},
	{href: "#", title: "Getting sick pay when you're pregnant"},
    {href: "#", title: "Contractual sick pay"}
])