- var section = "Branding"
+sidebar([
	//{href: "cards.html", title: "Cards"},
	{href: "branding/brand-icons.html", title: "Brand icons"},
    {href: "branding/speech-line.html", title: "Speech line"}
])