- var section = "Modules"
+sidebar([
	{href: "modules/callout.html", title: "Callout"},
	{href: "modules/revealable.html", title: "Revealable"},
	{href: "modules/charts.html", title: "Charts"},
	{href: "modules/section-notice.html", title: "Section Notices"},
	{href: "modules/toolbar.html", title: "Content toolbar"},
	{href: "modules/cookie-monster.html", title: "Cookie Monster"},
	{href: "modules/notice.html", title: "Browser notice"},
	{href: "modules/sticky.html", title: "Sticky box"},
	{href: "modules/extent.html", title: "Extent Switcher"}
	//{href: "overlay.html", title: "Modal/Overlay"},
	//{href: "reference.html", title: "Reference tool"}
])