- var section = "Features"
+sidebar([
	//{href: "cards.html", title: "Cards"},
    {href: "section-notice.html", title: "Section Notices"},
    {href: "cookie-monster.html", title: "Cookie Monster"},
    {href: "browser-warning.html", title: "Browser warning"},
    {href: "extent.html", title: "Extent Switcher"}
        //{href: "reference.html", title: "Reference tool"}
])