- var section = "Styles"
+sidebar([
	{title: "Typography", href: "styles/typography.html"},
	{title: "Colours", href: "styles/colours.html"},
	{title: "Icons", href: "styles/icons.html"},
	{title: "Tables", href: "styles/tables.html"},
	//{title: "Grid", href: "styles/new-grid.html"},
	{title: "Buttons", href: "styles/buttons.html"},
	{title: "Fields", href: "styles/fields.html"},
	{title: "Field groups", href: "styles/field-groups.html"}
])