- var section = "Sick pay"
+sidebar([
	{href: "entitles-to-sick-pay.html", title: "Check if you're entitled to sick pay"},
	{href: "how-to-get-sick-pay.html", title: "How to get sick pay"},
	{href: "off-work-sick.html", title: "Getting money when you're off work sick"},
	{href: "sick-pay-when-youre-pregnant.html", title: "Getting sick pay when you're pregnant"},
	{href: "contractual-sick-pay.html", title: "Contractual sick pay", css: "adviser-only"}
])