- var section = "Brand"
+sidebar([
	{href: "cards.html", title: "Cards"},
    {href: "speech-line.html", title: "Speech line"},
	{href: "brand-icons.html", title: "Brand icons"}
    //{href: "slider.html", title: "Slider"}
])