- var section = "Phone, internet or TV"
+sidebar([
	{title: "Switch broadband, phone or TV provider", href: "#"},
    {title: "Dispute a mobile, phone, internet or TV bill", href: "#"},
    {title: "Problem with an app, software or download", href: "#"},   
    {title: "Stop getting nuisance calls and texts", href: "#"},
    {title: "Cancel a phone or TV contract", href: "#"},
    {title: "What to do if your mobile phone is lost or stolen", href: "#"},
    {title: "If you’re struggling to pay your mobile, phone, internet or TV bill", href: "#"},
    {title: "Complain about a premium rate phone charge or text message", href: "#"}
])