- var section = "Help with your PIP claim"
+sidebar([
	{title: "How to claim PIP", href: "#"},
    {title: "How to claim PIP if you have a terminal illness", href: "#"},
    {title: "Help filling in your PIP claim form", href: "#"},   
    {title: "Getting evidence to support your PIP claim", href: "#"},
    {title: "Sending your PIP claim form", href: "#"},
    {title: "Preparing for your PIP assessment", href: "#"},
    {title: "Changes that affect your PIP", href: "#"}
])