- var section = "Styles"
+sidebar([
	{title: "Typography", href: "typography.html"},
	{title: "Colours", href: "colours.html"},
	{title: "Tables", href: "tables.html"},
	{title: "Buttons", href: "buttons.html"},
	{title: "Fields", href: "fields.html"},
	{title: "Field groups", href: "field-groups.html"},
	{title: "Grid", href: "new-grid.html"}
])