- var section = "Forms"
+sidebar([
	{title: "Buttons", href: "buttons.html"},
	{title: "Fields", href: "fields.html"},
	{title: "Field groups", href: "field-groups.html"},
	{title: "Conditional fields", href: "fields-conditional.html"},
	{title: "Validation", href: "validation.html"}
])