- var section = "Templates"
+sidebar([
	{title: "Content example", href: "content.html"},
	{title: "Long form content example", href: "long-form.html"},
	{title: "Contents pages", href: "contents-page.html"},
	{title: "Form validation", href: "form-error.html"}
])