include mixins.jade
block settings
doctype html
html
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(charset="utf-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(name="keywords")
		meta(name="description")

		title Citizens Advice style guide 
			- if (typeof title !== "undefined")
				| - #{title}

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="/static/images/apple-touch-icon.png")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="../libs/vendors/prism/prism.css", rel="stylesheet")
		link(href="css/site.css", rel="stylesheet")
		link(href="https://www.citizensadvice.org.uk/static/layout/favicon.ico", rel="shortcut icon")
		link(href="https://www.citizensadvice.org.uk/static/images/apple-touch-icon.png", rel="apple-touch-icon")

		// Javascript
		script(src="../libs/javascript/vendor/jquery-1.11.3.min.js")
		script(src="../libs/javascript/beta-dap-accordion.js")
		script(src="../libs/javascript/collapse.js")
		script(src="../libs/vendors/prism/prism.js")

	body
		.skip-nav
			a.screenreader.screenreader--focusable Skip to content
			a.screenreader.screenreader--focusable Skip to footer

		.cookie-monster.hide-no-cookies.hide-no-js.no-print
			.cookie-monster__content
				p This site uses cookies. Find out more about #[a(href="#") our use of cookies].
				button.btn.cookie-monster__close(data-action="close", type="button") Close

		header.main-header
			.main-header__content.main-content
				a.main-header__logo.no-print(href="", title="Citizens Advice home")
					img(alt="Citizens Advice", onerror="this.onerror=null;this.src=&#39;/Static/images/logos/ca-logo_100px.svg.png&#39;;", src="assets/images/ca-logo_100px.svg")
				img.print-only.logo(src="assets/images/ca-logo-hz-280px.svg")

		.main-container
			nav.main-breadcrumb
				block breadcrumbs

			aside.section-notice
				h2.screenreader Notice

				.section-notice__content
					p
						span.badge NEW
						| &nbsp;This page is part of #[a(href="#") our new approach to digital advice].

			.main-content
				if sidebar
					main.main-content__right(id="main", role="main")
						.title
							h1.title__heading.js-ref
								span.title__title #{title}

						block content
						
						.title__subheading--footer
							p Share this page
							a.a-social-twitter(href="https://twitter.com/share?url=", data-track="Twitter", rel="external")
								span Twitter
							a.a-social-facebook(href="https://www.facebook.com/sharer/sharer.php?u=", data-track="Facebook", rel="external")
								span Facebook
							a.a-social-google-plus(href="https://plus.google.com/share?url=", data-track="Google+", rel="external")
								span Google Plus
							a.a-social-whatsapp(href="whatsapp://send" data-text="share?url=", data-track="whatsapp" rel="external")
								span Whatsapp

					block sidebar
				else
					.title
						h1.title__heading.js-ref
							span.title__title #{title}
					block content

				section.print-only
					h2 This section is print only

		footer.main-footer(data-track-zone="footer", id="footer")
			.main-footer__content.flex-row.js-equal-height
				.main-footer__box.main-footer__box--copyright
					div
						p
							img(alt="", height="100", src="assets/images/ca-logo_100px.svg.png", width="100")
							| Copyright © 2015 Citizens Advice. All rights reserved.
							br
							| Citizens Advice is an operating name of the National Association of Citizens Advice Bureaux. Registered charity number 279057
							br
							| VAT number 726 0202 76 Company limited by guarantee. Registered number 1436945 England
							br
							| Registered office: Citizens Advice, 3rd Floor North, 200 Aldersgate, London, EC1A 4HD
							
		script(src="../libs/javascript/advisor.js")
		script(src="../libs/javascript/core.js")