.title__subheading
	| This advice is for
	button#showSimpleModal.btn-secondary.btn-small(type="button")
		span.screenreader This advice is for
		| England
	button.toolbar-button.a-social-print(href="javascript:window.print();", data-track="Print") Print
	if toolbarsadviser
		button.toolbar-button.a-social-references(href="#!", data-track="References") References
		span.info-extent Extent
		span.info-reviewed Reviewed
		span.info-owner Owner
		button.toolbar-button.a-social-word(href="https://www.citizensadvice.org.uk/Static/word/word-template-ew.dot") Word template