block settings
	- var title = "Stop junk mail"
	- var sidebar = false
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block script
	script.
		var x = ($('#letter').width())*1.414;
		$('#letter div').css({'min-height':x+'px'});
		$(window).resize(function() {
			var x = ($('#letter').width())*1.414;
			$('#letter div').css({'min-height':x+'px'});
		});

block content
	.articleContent
		.flex-container
			.flex-row
				.form.col-xs-12.col-md-4
					h2 Check your details
					p Here’s an example of what your email or letter will look like.
					p You can go back and make changes to your personal details if you need to.

					a.btn-light.left-button-icon(href="post-tool-3.html") Edit details
					a.btn.right-button-icon(href="post-tool-5.html") Confirm

				#letter.col-xs-12.col-md-8
					.letter-content
						p 200 Aldersgate St
							br
							| &nbsp;
							br
							| London
							br
							| EC1A 4HD
						p &nbsp;
						p Please accept this communication as instructions to remove the above address from receiving all unaddressed items.
						p I understand that I may miss information from local or national government or other publications that are sent using this service.
						p &nbsp;
						p Domenico Perri
							br
							| domenico.perri@citizensadvice.org.uk