block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			h2 Royal Mail Door to Door
			p Royal Mail deliver mail for charities, businesses and other organisations who've paid for the service. Tick this box tell Royal Mail you don't want junk mail from them.
			section.revealable
				h2 More about Royal Mail Door to Door

				p Royal Mail deliver mail for charities, businesses and other organisations who've paid for the service. Tick this box tell Royal Mail you don't want junk mail from them.
			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| I would like to opt in to Royal Mail Door to Door

			h2 ‘Your Choice’ scheme
			p This will reduce the amount of junk mail you receive.
			section.revealable
				h2 More about Direct Marketing Association’s ‘Your Choice’ scheme

				p This will reduce the amount of junk mail you receive.
			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| I would like to opt in to Direct Marketing Association’s ‘Your Choice’ scheme

			h2 Mailing Preference Service
			p The DMA has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.
			section.revealable
				h2 More about Mailing Preference Service

				p The DMA has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.
			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| I would like to opt in to Mailing Preference Service

			h2 Your local electoral registration office
			p The MPS has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.
			section.revealable
				h2 More about Your local electoral registration office

				p The MPS has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.
			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| I would like to opt in to my local electoral registration office

			a.btn-light.left-button-icon(href="post-tool.html") Back
			a.btn.right-button-icon(href="post-tool-3.html") Next