block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| Royal Mail Door to Door
			section.revealable
				h2 More about Royal Mail Door to Door

				p Royal Mail deliver mail for charities, businesses and other organisations who've paid for the service. Tick this box tell Royal Mail you don't want junk mail from them.

			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| Direct Marketing Association’s ‘Your Choice’ scheme
			section.revealable
				h2 More about Direct Marketing Association’s ‘Your Choice’ scheme

				p This will reduce the amount of junk mail you receive.

			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| Mailing Preference Service
			section.revealable
				h2 More about Mailing Preference Service

				p The DMA has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.

			fieldset
				label.checkbox.checkbox--block
					input(name="checkbox", type="checkbox")
					| My local electoral registration office
			section.revealable
				h2 More about Your local electoral registration office

				p The MPS has a list of people who don't want to get junk mail. Tick this box to add yourself to the list.

			a.btn-light.left-button-icon(href="post-tool.html") Back
			a.btn.right-button-icon(href="post-tool-3.html") Next