block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			h2 Your letter to your electoral registration office

			p Download and send this letter to your local registration office. The address you need is below, and will also be on the letter when you download it.
			p It’s a good idea to check their website to see if you can contact them by phone or email instead.

			h2 Your letter for your local electoral registration office
			p
				strong London Borough of Bromley

			p Visit the #[a(href="#") London Borough of Bromley website]

			p Email: electoral@bromley.gov.uk

			p Phone: 0300 3038665

			p
				| London Borough of Bromley
				br
				| Electoral Services
				br
				| Civic Centre
				br
				| Stockwell Close
				br
				| Bromley
				br
				| BR1 3UH

			p
				a.btn-secondary.save-button-icon(href="post-tool-7.html") Download

			a.btn.right-button-icon(href="post-tool-7.html") Finish