block settings
	- var title = "Stop junk mail"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Templates", href: dir + "index.html#templates"},
		{title: "Content"}])

block content
	.articleContent
		div
			h2 Your emails

			p Your emails to

			ul
				li Royal Mail Door to Door
				li Mailing Preference Service
				li The Direct Marketing Association’s ‘Your Choice’ scheme

			p have been sent. You’ll start to see a difference in the amount of junk mail you receive within the next 4 weeks.

			.callout--alert
				p Put a ‘no junk mail’ sign on your door or letterbox to help stop junk mail that's delivered door-to-door - for example takeaway menus

				p You can make a sign yourself - write “No commercial leaflets”. You also can order stickers online from the #[a.a-external(href="#") Stop Junk Mail Campaign].
