block settings
	- var title = ""
	//- var fullpage = true
	- var dir = "../../../"

extends /jade/templates/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Modules", href: dir + "index.html#Modules"},
		{title: title}])

block content
	form
		.main-content--full-width
			.title
				h1.page-title Job opportunities with local Citizens Advice
			div
				p.first-paragraph Find a job with our local Citizens Advice. Opportunities are available across a wide range of roles in England and Wales.
			.page-list
				.align-right-page-list
					p Sort by: #[a#RootPlaceHolder_RootPlaceHolder_SortByJobTitle Role title] | #[a#RootPlaceHolder_RootPlaceHolder_SortByClosingDate Closing date]

				article
					.page-list-content
						h2
							a Advice Session Supervisor
						p
						p.job-meta
							| #[strong Location:] Weston-super-Mare
						p.job-meta
							| #[strong Closing date:] 30 June 2016
				article
					.page-list-content
						h2
							a Part Time Outreach Gateway Assessor
						p
						p.job-meta
							| #[strong Location:] Across the Borough of Bournemouth
						p.job-meta
							| #[strong Closing date:] 23 June 2016
				article
					.page-list-content
						h2
							a Part Time Outreach Gateway Assessor
						p
						p.job-meta
							| #[strong Location:] Across the Borough of Bournemouth
						p.job-meta
							| #[strong Closing date:] 23 June 2016
				article
					.page-list-content
						h2
							a Development Manager
						p
						p.job-meta
							| #[strong Location:] South Gloucestershire
						p.job-meta
							| #[strong Closing date:] 13 June 2016
				article
					.page-list-content
						h2
							a EPP (Expert Patient Programme) Project Coordinator
						p
						p.job-meta
							| #[strong Location:] Swadlincote
						p.job-meta
							| #[strong Closing date:] 09 June 2016
				article
					.page-list-content
						h2
							a Training and Development Team Leader
						p
						p.job-meta
							| #[strong Location:] Weston-super-Mare
						p.job-meta
							| #[strong Closing date:] 06 June 2016
				article
					.page-list-content
						h2
							a Debt Adviser
						p
						p.job-meta
							| #[strong Location:] Woolwich and outreach in the Royal Borough of Greenwich
						p.job-meta
							| #[strong Closing date:] 06 June 2016
				article
					.page-list-content
						h2
							a Generalist Adviser
						p
						p.job-meta
							| #[strong Location:] Greenwich
						p.job-meta
							| #[strong Closing date:] 06 June 2016
				article
					.page-list-content
						h2
							a Admin Support Worker
						p
						p.job-meta
							| #[strong Location:] Tunbridge Wells
						p.job-meta
							| #[strong Closing date:] 05 June 2016
				article
					.page-list-content
						h2
							a Advice Session Supervisor
						p
						p.job-meta
							| #[strong Location:] South Gloucestershire
						p.job-meta
							| #[strong Closing date:] 03 June 2016
				article
					.page-list-content
						h2
							a GP Surgery/Children's Centre Caseworker
						p
						p.job-meta
							| #[strong Location:] 1 day at Sturminster Newton GP Surgery, other hours at Sure Start Children's Centres in North Dorset
						p.job-meta
							| #[strong Closing date:] 02 June 2016
				article
					.page-list-content
						h2
							a Welfare Benefits Caseworker
						p
						p.job-meta
							| #[strong Location:] Offices across North Dorset
						p.job-meta
							| #[strong Closing date:] 02 June 2016
				article
					.page-list-content
						h2
							a Telephone Service Supervisor
						p
						p.job-meta
							| #[strong Location:] Enfield, London
						p.job-meta
							| #[strong Closing date:] 01 June 2016
				article
					.page-list-content
						h2
							a Administration Officer
						p
						p.job-meta
							| #[strong Location:] London
						p.job-meta
							| #[strong Closing date:] 01 June 2016
				article
					.page-list-content
						h2
							a Form Filler
						p
						p.job-meta
							| #[strong Location:] Manchester City Centre/Outreach Venues accross Manchester
						p.job-meta
							| #[strong Closing date:] 31 May 2016
				article
					.page-list-content
						h2
							a Enhanced Triage Assessor
						p
						p.job-meta
							| #[strong Location:] Manchester City Centre
						p.job-meta
							| #[strong Closing date:] 31 May 2016
				article
					.page-list-content
						h2
							a Advice Session Supervisor
						p
						p.job-meta
							| #[strong Location:] Hatfield, Hertfordshire
						p.job-meta
							| #[strong Closing date:] 31 May 2016
				article
					.page-list-content
						h2
							a Advice Session Supervisor
						p
						p.job-meta
							| #[strong Location:] Birmingham
						p.job-meta
							| #[strong Closing date:] 31 May 2016
				article
					.page-list-content
						h2
							a Mental Health Caseworker
						p
						p.job-meta
							| #[strong Location:] Tunbridge Wells
						p.job-meta
							| #[strong Closing date:] 31 May 2016
				article
					.page-list-content
						h2
							a Advice Session Supervisor
						p
						p.job-meta
							| #[strong Location:] Castle Point, Essex
						p.job-meta
							| #[strong Closing date:] 31 May 2016
			.width-page-list
				.pagination
					ul
						li.active
							span 1
						li
							a 2
						li
							a 3
						li
							a Next
						li
							a Last