block settings
	- var title = "Claiming DLA for a terminally ill child"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "#"},
		{title: "Benefits", href: dir + "#"},
		{title: "Disability Living Allowance", href: dir + "#"},
		{title: "Claiming DLA for a terminally ill child"}])

block sidebar
	- var section = "Claiming DLA", href="../../"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "How to claim DLA for your child", href: "#"},
		{title: "Help with filling in the DLA form for your child", href: "#"},
		{title: "Claiming DLA for a terminally ill child", href: "#"},
		{title: "Extra benefits and help you can get while on DLA", href: "#"},
		{title: "Change of circumstances while you’re getting DLA", href:"#"}],
		1)

block content
	.articleContent
		p There’s a quicker application process for parents of children who have been diagnosed with a terminal illness and aren’t expected to live more than 6 months.
		p You can get between £82.30 and £139.75 a week, depending on the care your child needs.
		p You should apply straight away - it doesn’t matter how much you earn or how long your child has been sick for. Once you apply your application will be decided on within about 2 weeks.
		p Your child must be under 16 for you to get DLA. If they’re 16 or over you’ll need to #[a(href='/benefits/sick-or-disabled-people-and-carers/pip/help-with-your-pip-claim/how-to-claim-if-terminally-ill/') apply for Personal Independence Payment (PIP)] instead (PIP also has a fast-track application process).
		p There’s #[a(href='/development/disability-living-allowance/help-with-your-dla-claim/how-to-claim-dla/') separate guidance] for applying for a child under 16 who doesn’t have a terminal illness.
		h2#h-how-much-you-can-get.js-ref How much you can get
		p You can get between £82.30 and £139.75 a week.
		p DLA is made up of 2 different parts - the ‘care component’ and the ‘mobility component’.
		p You’ll get the highest rate of the care component, which is £82.30 a week. 
		p You'll either get £21.80 or £57.45 a week for the 'mobility component' - this will depend on your child's ability to get around.
		.callout--adviser
			p Read the piece on how DWP makes a decision on a claim for more detailed information on how a client will qualify for each rate.
			p See the Disability Rights Handbook or CPAG for detailed explanations of how DLA is awarded. This can be useful for appeals and applications.
		h2#h-get-an-application-form.js-ref Get an application form
		p You can either phone for an application form or download one. 
		p It's best to phone because your payments will be backdated to the date you phoned. If you download an application form, you'll only be paid from the date that the DWP receive the form.
		p
			strong Disability Living Allowance helpline
			br
			| Telephone: 0345 712 3456
			br
			| Textphone: 0345 722 4433
			br
			| Monday to Friday, 8am to 6pm
			br
			| Calls cost up to 12p a minute from a landline, and between 3p and 45p a minute from a mobile.
		p You can #[a.a-external(href='https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/530331/dla1a-child-print.pdf', rel='external') download an application form from GOV.UK].
		h2#h-ask-your-doctor-for-a-ds1500-medical-condition-report-.js-ref Ask your doctor for a ‘DS1500 medical condition report’
		p Ask your doctor, specialist or consultant for a ‘DS1500 medical condition report’. This is a form describing your child’s conditions and treatments - you’ll need it to send with your DLA application. You won’t have to pay for this.
		h2#h-fill-in-the-application-form.js-ref Fill in the application form
		p You won’t have to fill in the full application form if your child has a terminal illness. See question 23 on the form - it will tell you what you do and don’t have to fill in.
		p If your child has difficulty walking or getting around outdoors in unfamiliar places, make sure you fill in the section on ‘mobility’ (questions 25-31). You can get a higher amount of DLA if this is the case, but your child needs to be at least 3.
		h2#h-send-the-application-form-and-ds1500.js-ref Send the application form and DS1500
		p You should send the form back as soon as possible. If the 6-week time limit is approaching and you don’t have a DS1500 report from your doctor, you should send the form anyway. Include a letter saying you’ll send the form at a later date - this way you’ll still get back paid from the date you phoned for the form.
		p It’s a good idea to make a copy of the filled-in form and the DS1500. You could take digital photos if you don’t have a copier or scanner. This could be useful in case you need to refer to it later or it gets lost.
		p Send the form and the DS1500 to:
		p
			| Disability Benefit Centre 4
			br
			| Post Handling Site B
			br
			| Wolverhampton
			br
			| WV99 1BY
		h2#h-what-happens-after-you-ve-applied.js-ref What happens after you’ve applied
		p You’ll usually get a ‘decision letter’ within 2 weeks - this will tell you whether or not you’ll get DLA. Contact the helpline if you haven’t received a letter within 2 weeks.
		p
			strong Disability Living Allowance helpline
			br
			| Telephone: 0345 712 3456
			br
			| Textphone: 0345 722 4433
			br
			| Monday to Friday, 8am to 6pm
		p Calls cost up to 12p a minute from a landline, and between 3p and 45p a minute from a mobile.
		p If your claim is successful, the decision letter will tell you how much you’ll get and for how long. If you phoned for the claim form you’ll be back-paid from the date you called.
		p You can appeal the decision if you’re unhappy with it or you don’t think you’ve been given the correct rate (for example if you’ve been given a lower rate and you think you should get a higher rate).
		h2#h-see-what-other-benefits-you-could-get.js-ref See what other benefits you could get
		p Claiming DLA can also increase your eligibility for other help and benefits. #[a(href='/development/disability-living-allowance/help-with-your-dla-claim/disability-living-allowance-dla-extra-money-and-benefits-you-can-get/') Read about the other benefits you might be able to claim].
		h2#h-get-help-and-support.js-ref Get help and support
		p You can talk to an adviser at your #[a(href='/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/') nearest Citizens Advice] or call the free helpline provided by the ‘Contact a Family’ charity if you feel like you need help. They’re specialists who can give you support and answer questions you have about eligibility, claiming, residence requirements or anything else.
		p
			strong Contact a Family helpline
			br
			| Telephone: 0808 808 3555
			br
			| Monday to Friday, 9:30am to 5pm
			br
			| Calls are free from all phones in the UK.
		h2#h-if-you-re-not-a-uk-citizen.js-ref If you're not a UK citizen
		p If you or your child aren’t UK citizens, you should check the eligibility rules. Your immigration status could be affected if you apply for benefits when you’re not eligible. You can contact your nearest Citizens Advice for help.
		.callout--warning
			p If you or your child aren’t UK citizens, you should check the eligibility rules. Your immigration status could be affected if you apply for benefits when you’re not eligible. You can #[a(href='/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/') contact your nearest Citizens Advice for help.]