block settings
	- var title = "Modal/Overlay"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "#{dir}index.html"},
		{title: "Modules", href: "#{dir}index.html#Modules"},
		{title: "Modals", href: "#{dir}index.html#modals"},
		{title: "Modal/Overlay"}])

block sidebar
	include /template/sidebar-modules.jade

block content
	.overlay
		.overlay__modal
			.overlay__main
				h3.overlay__header Overlay title
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem nibh, placerat in ultrices id, semper id est. Suspendisse maximus eget tortor ut efficitur. Aenean facilisis ultrices lorem volutpat pellentesque. In quis scelerisque magna. Suspendisse vel erat a sapien ornare sollicitudin quis ut quam. Vestibulum sollicitudin augue at tempor elementum. Nulla vitae nisl nisl.
				fieldset
					label(for="standardField") Standard field
					input#standardField(type="text", placeholder="")
			.overlay__footer
				button.btn.btn-primary-light(type="button") Cancel
				button.btn.btn-primary.tick-button-icon(type="button") Agree


		.dialog.dialog--simple.dialog--extent-picker(role="alertdialog" aria-labelledby="dialog-1-label" aria-describedby="dialog-1-main" tabindex="-1" style="z-index: 3;")

			header.dialog__header
				h2#dialog-1-label.dialog__title Where in the UK do you live?
				button.dialog__close(type="button" data-action="close")<i aria-hidden="true" class="dialog__close-icon"></i><span class="dialog__close-text">Close</span>

			.dialog__main#dialog-1-main
				div(type="Sigma.CitizensAdvice.Web.Models.Pages.StartPage")
					p The law can vary in different parts of the UK.
					ul.extent-selection
						li
							a.btn.btn-small(href="?lang=en-GB") England

						li
							a.btn.btn-small(href="?lang=en-NIR") Northern Ireland

						li
							a.btn.btn-small(href="?lang=en-SCT") Scotland

						li
							a.btn.btn-small(href="?lang=en-WLS") Wales
			footer.dialog__footer