block settings
	- var title = "Revealable"
	- var sidebar = true
	- var dir = "../"

extends /jade/templates/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Modules", href: dir + "index.html#Modules"},
		{title: "Revealable"}])

block sidebar
	include /jade/templates/partials/sidebar-modules.jade

block content
	.articleContent
		div
			p Revealable sections allow you to ‘hide’ content that’s only relevant to some people visiting the page.
			p The ‘hidden’ content sits under a clickable h3 heading. Once clicked, the rest of the content is revealed.
			p They’re a great way to make a page easier to read - people can scan through quickly.
			p Bear in mind that hidden content can be easy for people to miss, so use the revealables sparingly - you should aim to use no more than 4 per page.
			p Content within the revealables is unlikely to be indexed in search engines. The 'toggle title' - the title inside the revealable - will be, so make sure it’s clear and descriptive.

			.example-box-plain
				section.revealable
					h3 Unstyled content inside header/toggle
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.

			pre
				code.language-html
					| &lt;section class="revealable"&gt;
					| 	&lt;h3&gt;Unstyled content inside header/toggle&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/section&gt;

			.example-box-plain
				section.revealable.revealable--adviser
					h3 Adviser content inside revealable
					p This callout style is for content that only advisers should see. You should use it when you think advisers need more information to advise clients.

			pre
				code.language-html
					| &lt;section class="revealable revealable--adviser"&gt;
					| 	&lt;h3&gt;Adviser content inside revealable&lt;/h3&gt;
					| 	&lt;p&gt;This revealable style is for content that only advisers should see. You should use it when you think advisers need more information to advise clients.&lt;/p&gt;
					| &lt;/section&gt;


