block settings
	- var title = "Content toolbar"
	- var sidebar = true
	//- var toolbars = true
	//- var toolbarsadviser = true
	//- var sharebar = true
	- var dir = "../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Modules", href: dir + "index.html#Modules"},
		{title: "Content toolbar"}])

block sidebar
	include /template/sidebar-modules.jade

block content
	.articleContent
		p The content toolbars sandwich the content of the page, sitting below the page heading and above the footer.
		p The top toolbar contains important page information;
		ul
			li Extent switcher
			li Print button
			li Reference button (to open the reference window)
			li Extent, this is an admin only function that shows what extent the page was written for
			li Reviewed, who/when the article was last reviewed
			li Owner, who the page owner is
		p The bottom toolbar is reserved for sharing functionality. LinkedIn should only be used on blogs, while Whatsapp and Messenger should only appear for mobiles.
		p Each toolbar item should include a  #[code.code data-track] attribute to help identify if these sharing options are beneficial and supporting user's needs.
		.example-box-plain
			.title__subheading
				| This advice is for
				button#showSimpleModal.btn-secondary.btn-small(type="button")
					span.screenreader This advice is for
					| England
				button.toolbar-button.a-social-print(href="javascript:window.print();", data-track="NewPrint") Print
				button.toolbar-button.a-social-references(href="#!", data-track="References") References
				span.info-extent Extent
				span.info-reviewed Reviewed
				span.info-owner Owner
				a.toolbar-button.a-social-word(href="https://www.citizensadvice.org.uk/Static/word/word-template-ew.dot") Word template
			.title__subheading--footer
				p Share this page. #[a(#) Find out more about sharing.]
				a.a-social-whatsapp(href="javascript:window.location='whatsapp://send?text='+encodeURIComponent(location.href);", data-track="Whatsapp") Whatsapp
				a.a-social-messenger(href="javascript:window.location='fb-messenger://share?link='+encodeURIComponent(location.href);", data-track="Facebook Messenger") Messenger
				a.a-social-twitter(href="https://twitter.com/share?url=", data-track="Twitter", rel="external") Twitter
				a.a-social-facebook(href="https://www.facebook.com/sharer/sharer.php?u=", data-track="Facebook", rel="external") Facebook
				a.a-social-linkedin(target="_blank", data-track="LinkedIn") LinkedIn
				a.a-social-email(href="javascript:emailCurrentPage()", data-track="Email page") Email
				button.a-social-copy Copy link
					.copied Copied!
		pre
			code.language-html
				| &lt;div class="title__subheading"&gt;
				|     This advice is for &lt;button class="btn-secondary btn-small" id="showSimpleModal" type="button"&gt;
				|     &lt;span class="screenreader"&gt;This advice is for&lt;/span&gt;England&lt;/button&gt;
				|     &lt;button class="toolbar-button a-social-print" data-track="Print" href="javascript:window.print();"&gt;Print&lt;/button&gt;
				|     &lt;button class="toolbar-button a-social-references" data-track="References" href="#!"&gt;References&lt;/button&gt;
				|     &lt;a class="toolbar-button a-social-word" href="https://www.citizensadvice.org.uk/Static/word/word-template-ew.dot"&gt;Word&lt;/button&gt;
				|     &lt;span class="info-extent"&gt;Extent&lt;/span&gt;
				|     &lt;span class="info-reviewed"&gt;Reviewed&lt;/span&gt;
				|     &lt;span class="info-owner"&gt;Owner&lt;/span&gt;
				| &lt;/div&gt;
				| &lt;div class="title__subheading--footer"&gt;
				|     &lt;p&gt;Share this page. &lt;a&gt;Find out more about sharing.&lt;/a&gt;&lt;/p&gt;
				|     &lt;a class="a-social-whatsapp show-mobile" href="javascript:window.location='whatsapp://send?text='+encodeURIComponent(location.href);"&gt;Whatsapp&lt;/a&gt;
				|     &lt;a class="a-social-messenger show-mobile" href="javascript:window.location='fb-messenger://share?link='+encodeURIComponent(location.href);"&gt;Messenger&lt;/a&gt;
				|     &lt;a class="a-social-twitter" data-track="Twitter" href="https://twitter.com/share?url=" rel="external"&gt;Twitter&lt;/a&gt;
				|     &lt;a class="a-social-facebook" data-track="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=" rel="external"&gt;Facebook&lt;/a&gt;
				|     &lt;a class="a-social-linkedin" target="_blank"&gt;LinkedIn&lt;/a&gt;
				|     &lt;a class="a-social-email" data-track="Email page" href="javascript:emailCurrentPage()"&gt;Email&lt;/a&gt;
				|     &lt;button class="a-social-copy"&gt;Copy link&lt;div class="copied"&gt;Copied!&lt;/div&gt;&lt;/button&gt;
				| &lt;/div&gt;