block settings
	- var title = "Energy supplier comparison"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block sidebar
	- var section = "Energy"
	+sidebar([
		{href: "comparison-5.html", title: "Energy supplier comparison"},
		{href: "comparison-details.html", title: "How we score values"},
		{href: "#", title: "Compare energy prices"}
	])

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "#"},
		{title: "Energy", href: "#"},
		{title: title}])

block script
	script(src="#{dir}js/sorttable.js")
	script.
		$(document).ready(function() {
			$('#openit').click(function(){
				$('#overlay').show();
			})
			$('.dialog__close').click(function(){
				$('#overlay').hide();
			})

			$(".rating").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score < 2) {
					$(this).find('span').addClass("rate-1--badge");
				} else if (score > 1 && score < 3) {
					$(this).find('span').addClass("rate-2--badge");
				} else if (score > 2 && score < 4) {
					$(this).find('span').addClass("rate-3--badge");
				} else if (score > 3 && score < 5) {
					$(this).find('span').addClass("rate-4--badge");
				} else if (score > 4 && score < 6) {
					$(this).find('span').addClass("rate-5--badge");
				}
			})

			$(".modern .rating").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score < 2) {
					$(this).addClass("rate-1--cell");
				} else if (score > 1 && score < 3) {
					$(this).addClass("rate-2--cell");
				} else if (score > 2 && score < 4) {
					$(this).addClass("rate-3--cell");
				} else if (score > 3 && score < 5) {
					$(this).addClass("rate-4--cell");
				} else if (score > 4 && score < 6) {
					$(this).addClass("rate-5--cell");
				}
			})
		});

block content
	.articleContent
		p Morbi porta justo sem, eget consequat purus porttitor nec. Pellentesque vitae euismod nulla, a commodo diam. Phasellus eget tincidunt nibh.
		h2 Overview
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor dui semper, vulputate magna ut, suscipit eros. Nunc non nunc nec ligula consequat aliquet non eu elit.
		table.sortable.energy-comparison.modern
			thead
				tr
					th.col-rank.sorttable_numeric(scope="col") Rank
					th.col-supp(scope="col") Supplier
					th.col-rate(scope="col") Rating
			tbody
				tr#openit(style="cursor:pointer")
					td.increase
						span.inline-badge 1
					td Supplier A
					td.rating
						span 3
				tr
					td.increase
						span.inline-badge 2
					td Supplier B
					td.rating
						span 3.25
				tr
					td.decrease
						span.inline-badge 3
					td Supplier C
					td.rating
						span 4
				tr
					td
						span.inline-badge 4
					td Supplier D
					td.rating
						span 3
				tr
					td.decrease
						span.inline-badge 5
					td Supplier E
					td.rating
						span 3.5
				tr
					td.increase
						span.inline-badge 6
					td Supplier F
					td.rating
						span 2.25
				tr
					td.decrease
						span.inline-badge 7
					td Supplier G
					td.rating
						span 2.5
				tr
					td.decrease
						span.inline-badge 8
					td Supplier H
					td.rating
						span 2.75
				tr
					td.decrease
						span.inline-badge 9
					td Supplier I
					td.rating
						span 2
				tr
					td.decrease
						span.inline-badge 10
					td Supplier J
					td.rating
						span 2.25
				tr
					td.increase
						span.inline-badge 11
					td Supplier K
					td.rating
						span 3.25
				tr
					td.increase
						span.inline-badge 12
					td Supplier L
					td.rating
						span 3.5
				tr
					td.decrease
						span.inline-badge 13
					td Supplier M
					td.rating
						span 2.5
				tr
					td.increase
						span.inline-badge 14
					td Supplier N
					td.rating
						span 2.5
				tr
					td.decrease
						span.inline-badge 15
					td Supplier O
					td.rating
						span 2.75
				tr
					td.increase
						span.inline-badge 16
					td Supplier P
					td.rating
						span 3.25
				tr
					td
						span.inline-badge 17
					td Supplier Q
					td.rating
						span 2.75
				tr
					td.decrease
						span.inline-badge 18
					td Supplier R
					td.rating
						span n/a
				tr
					td.decrease
						span.inline-badge 19
					td Supplier S
					td.rating
						span n/a
				tr
					td.decrease
						span.inline-badge 20
					td Supplier T
					td.rating
						span n/a
				tr
					td
						span.inline-badge 21
					td Supplier U
					td.rating
						span n/a
				tr
					td
						span.inline-badge 22
					td Supplier V
					td.rating
						span n/a

		h2 Methodology
		p Morbi porta justo sem, eget consequat purus porttitor nec. Pellentesque vitae euismod nulla, a commodo diam. Phasellus eget tincidunt nibh. Ut sem arcu, aliquam non lectus eu, faucibus viverra lacus.
		a.blocklink(href="comparison-details.html") How we score values

		#overlay.overlay(style="display:none")
			.dialog(role="alertdialog" aria-labelledby="dialog-1-label" aria-describedby="dialog-1-main" tabindex="-1" style="z-index: 3;")

				header.dialog__header
					h2#dialog-1-label.dialog__title Supplier A
					button.dialog__close(type="button" data-action="close")<i aria-hidden="true" class="dialog__close-icon"></i><span class="dialog__close-text">Close</span>

				.dialog__main#dialog-1-main
					table
						tbody
							tr
								th(scope="row", width="40%") Complaints per 100,000 customers
								td(width="40%") 40.6
								td.rating(width="20%")
									span 5
							tr
								th(scope="row") Customers satisfied with service
								td 53.78%
								td.rating
									span 2
							tr
								th(scope="row") Customers satisfied with billing
								td 40.6
								td.rating
									span 5
							tr
								th(scope="row") Proportion of switches in 21 days
								td 80.94%
								td.rating
									span 3
							tr
								th(scope="row") Customer commitment
								td Signed to switching guarantee#[br]Not signed to billing code
								td.rating
									span 4
					a.blocklink(href="comparison-details.html") How we score values
					h3 Contact
					p
						| #[strong Telephone:] 0800 0480202
						br
						| #[strong Email:] #[a contact@suppliera.co.uk]
						br
						| #[strong Web Chat:] n/a
						br
						| #[strong Ring backs:] n/a
						br
						| #[strong Mobile hotline:] n/a
						br
						| #[strong Minicom / Text:] 18001 0800 072 8626
						br
