block settings
	- var title = "Energy comparison tool"
	//- var sidebar = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block script
	script(src="#{dir}js/sorttable.js")
	script.
		$(document).ready(function() {
			$("li[role='tab']").click(function(){
				$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
				$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

				$(this).attr("aria-selected","true");  // select this tab
				$("#"+($(this).attr("aria-controls"))).attr("aria-hidden","false");  // show this panel
			});

			$("li[role='tab']").keydown(function(ev) {
				if (ev.which ==13) {
					$(this).click()
				}
			});

			//This adds keyboard function that pressing an arrow left or arrow right from the tabs toggle the tabs.
			$("li[role='tab']").keydown(function(ev) {
				var selected= $(this).attr("aria-selected");
				if (ev.which ==39) {
					if ($(this).next().length) {
						$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
						$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

						$(this).attr("aria-selected","false").next().attr("aria-selected","true").focus();
						var tabpanid= $("li[aria-selected='true']").attr("aria-controls");
						$("div[role='tabpanel']").attr("aria-hidden","true");
						$("#"+tabpanid).attr("aria-hidden","false");
					}
				} else if (ev.which ==37) {
					if ($(this).prev().length) {
						$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
						$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

						$(this).attr("aria-selected","false").prev().attr("aria-selected","true").focus();
						var tabpanid= $("li[aria-selected='true']").attr("aria-controls");
						$("div[role='tabpanel']").attr("aria-hidden","true");
						$("#"+tabpanid).attr("aria-hidden","false");
					}
				}
			});
		});

block content
	.articleContent
		.flex-row
			.col-md-8
				p Morbi porta justo sem, eget consequat purus porttitor nec. Pellentesque vitae euismod nulla, a commodo diam. Phasellus eget tincidunt nibh. Ut sem arcu, aliquam non lectus eu, faucibus viverra lacus. Vestibulum tellus turpis, sollicitudin quis efficitur id, convallis nec velit. Nulla facilisi. Cras id neque quis lacus placerat hendrerit. Etiam neque augue, eleifend sit amet fermentum at, faucibus vel odio. Morbi ac bibendum ante, ut rutrum ipsum. Ut vel finibus est.
				p
					button Compare energy prices

		ul.tablist(role='tablist')
			li#tab1.tab(aria-controls='panel1', aria-selected='true', role='tab', tabindex='0') Overview
			li#tab2.tab(aria-controls='panel2', role='tab', aria-selected='false', tabindex='0') Complaints
			li#tab3.tab(aria-controls='panel3', role='tab', aria-selected='false', tabindex='0') Billing Satisfaction
			li#tab4.tab(aria-controls='panel4', role='tab', aria-selected='false', tabindex='0') Customer Satisfaction
			li#tab5.tab(aria-controls='panel5', role='tab', aria-selected='false', tabindex='0') Switching
		#panel1.tab-panel(aria-labelledby='tab1', role='tabpanel', aria-hidden='false')
			h3 Overview
			.flex-row
				.col-md-8
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor dui semper, vulputate magna ut, suscipit eros. Nunc non nunc nec ligula consequat aliquet non eu elit.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank(scope="col") Rank
						th.col-supp(scope="col") Supplier
						th.lg-only(scope="col") Complaints
						th.lg-only(scope="col") Customer service
						th.lg-only(scope="col") Billing satisfaction
						th.lg-only(scope="col") Switching
						th.lg-only(scope="col") Customer commitment
						th.col-rate(scope="col") Rating
				tbody
					tr
						td #[span.inline-badge 1] #[span.increase 1]
						td Supplier G
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-3 3]
						td.lg-only #[span.rate-4 4]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-3 3]
						td #[span.rate-5--badge 5#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 2] #[span.decrease 1]
						td Supplier B
						td.lg-only #[span.rate-4 4]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-3 3]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-3 3]
						td #[span.rate-4--badge 4&frac14;#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 3] #[span.no-change 0]
						td Supplier A
						td.lg-only #[span.rate-4 4]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-4 4]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-5 5]
						td #[span.rate-3--badge 3&frac12;#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 4] #[span.increase 1]
						td Supplier D
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-2 1]
						td.lg-only #[span.rate-2 1]
						td.lg-only #[span.rate-4 4]
						td #[span.rate-3--badge 3#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 5] #[span.increase 3]
						td Supplier F
						td.lg-only #[span.rate-2 1]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-2 1]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-2 1]
						td #[span.rate-1--badge 1#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 6] #[span.increase 1]
						td Supplier C
						td.lg-only #[span.rate-4 4]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-2 1]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-2 2]
						td #[span.rate-3--badge 3&frac34;#[span.lg-only &nbsp;of 5]]
					tr
						td #[span.inline-badge 7] #[span.no-change 0]
						td Supplier E
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-3 3]
						td.lg-only #[span.rate-5 5]
						td.lg-only #[span.rate-2 2]
						td.lg-only #[span.rate-5 5]
						td #[span.rate-2--badge 2&frac12;#[span.lg-only &nbsp;of 5]]

		#panel2.tab-panel(aria-labelledby='tab2', role='tabpanel', aria-hidden='true')
			h3 Complaints
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
		#panel3.tab-panel(aria-labelledby='tab3', role='tabpanel', aria-hidden='true')
			h3 Billing Satisfaction
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
		#panel4.tab-panel(aria-labelledby='tab4', role='tabpanel', aria-hidden='true')
			h3 Customer Satisfaction
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
		#panel5.tab-panel(aria-labelledby='tab5', role='tabpanel', aria-hidden='true')
			h3 Switching
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.

