block settings
    - var title = "How the scores are worked out"
    - var sidebar = true
    - var toolbars = true
    - var mockup = true
    - var dir = "../../"
    - var energyfeedback = true

block sidebar
    - var section = "Energy"
    +sidebar([
        {href: "comparison.html", title: "Compare energy suppliers’ customer service"},
        {href: "#", title: title}
    ])

extends /template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Energy", href: "#"},
        {title: title}])

block content
    .articleContent
        h2 Where we get our information

        p We get our information from a number of reliable sources.

        h3 Information about complaints to third parties

        p We base our ratings on complaints made to:

        ul
            li Citizens Advice Consumer Service
            li the #[a(href="http://www.cas.org.uk/about-us/consumer-advice/extra-help-unit") Extra Help Unit]
            li the Energy Ombudsman

        p Information on complaints is only available for suppliers with 50,000 customers or more.

        h3 Information about other categories

        p Information on:

        ul
            li customer service and billing comes from the #[a(href="http://www.gfk.com/en-gb/industries/energy/") GFK market research survey]
            li switching comes from Ofgem and suppliers themselves
            li the Switching Guarantee comes from #[a(href="http://www.energy-uk.org.uk/") Energy UK]

        p This information is only available for suppliers with 150,000 customers or more.

        section.revealable
            h2 How we come up with a star rating

            p We give energy suppliers a score out of 5 for each category. 1 is poor and 5 is excellent.

            p Then we give them an overall star rating out of 5.

            table
                thead
                    tr
                        th(scope="col", width="20%") Category score
                        th(scope="col", width="16%") 5
                        th(scope="col", width="16%") 4
                        th(scope="col", width="16%") 3
                        th(scope="col", width="16%") 2
                        th(scope="col", width="16%") 1
                tbody
                    tr
                        th(scope="row") Number of complaints per 100,000 customers
                        td 50 or less
                        td 51 to 100
                        td 101 to 350
                        td 351 to 550
                        td More than 550
                    tr
                        th(scope="row") Customers who found contacting supplier easy
                        td More than 75%
                        td 70-75%
                        td 60-69%
                        td 51-59%
                        td 50% or less
                    tr
                        th(scope="row") Customers who found bills easy to understand
                        td More than 75%
                        td 70-75%
                        td 60-69%
                        td 51-59%
                        td 50% or less
                    tr
                        th(scope="row") Switches done in 21 days
                        td 98%
                        td 90-97%
                        td 75-89%
                        td 50-74%
                        td Less than 50%
                    tr
                        th(scope="row") Signed up to Switch Guarantee
                        td(colspan="5") Suppliers score a 3 if they’re signed up. If they’re not, they score a zero.

            p Not all categories are equal. Some, like complaints, count more towards the final score than others.

            p This is because we think the number of complaints a supplier gets is the best indicator of how good their customer service is.

            p This is how the overall scores are worked out.

            //table
                thead
                    tr
                        th(scope="col") Category
                        th(scope="col") Complaints
                        th(scope="col") Ease of contact
                        th(scope="col") Billing clarity
                        th(scope="col") Ease of switching
                        th(scope="col") Switch Guarantee
                tbody
                    tr
                        th(scope="row") Weighting
                        td 30%
                        td 25%
                        td 25%
                        td 15%
                        td 5%
                    tr
                        th(scope="row") Maximum category score
                        td 5 stars
                        td 5 stars
                        td 5 stars
                        td 5 stars
                        td 3 stars
                    tr
                        th(scope="row") Counts towards overall score
                        td 1.5 stars
                        td 1.25 stars
                        td 1.25 stars
                        td 0.75 stars
                        td 0.25 stars

            table
                thead
                    tr
                        th(scope="row") Category
                        th(scope="row") Maximum category score
                        th(scope="row") Counts towards overall score
                tbody
                    tr
                        th(scope="row") Complaints
                        td 5 stars
                        td 1.25 stars
                    tr
                        th(scope="row") Ease of contact
                        td 5 stars
                        td 1.25 stars
                    tr
                        th(scope="row") Billing clarity
                        td 5 stars
                        td 1.25 stars
                    tr
                        th(scope="row") Ease of switching
                        td 5 stars
                        td 0.75 stars
                    tr
                        th(scope="row") Switch Guarantee
                        td 3 stars
                        td 0.25 stars

            p Scores are rounded to the nearest 0.25.
