block settings
	- var title = "Energy supplier comparison"
	//- var sidebar = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block script
	script(src="#{dir}js/sorttable.js")
	script.
		$(document).ready(function() {
			$("li[role='tab']").click(function(){
				$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
				$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

				$(this).attr("aria-selected","true");  // select this tab
				$("#"+($(this).attr("aria-controls"))).attr("aria-hidden","false");  // show this panel
			});

			$("li[role='tab']").keydown(function(ev) {
				if (ev.which ==13) {
					$(this).click()
				}
			});

			//This adds keyboard function that pressing an arrow left or arrow right from the tabs toggle the tabs.
			$("li[role='tab']").keydown(function(ev) {
				var selected= $(this).attr("aria-selected");
				if (ev.which ==39) {
					if ($(this).next().length) {
						$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
						$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

						$(this).attr("aria-selected","false").next().attr("aria-selected","true").focus();
						var tabpanid= $("li[aria-selected='true']").attr("aria-controls");
						$("div[role='tabpanel']").attr("aria-hidden","true");
						$("#"+tabpanid).attr("aria-hidden","false");
					}
				} else if (ev.which ==37) {
					if ($(this).prev().length) {
						$("li[role='tab']").attr("aria-selected","false"); //deselect all tabs
						$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all panels

						$(this).attr("aria-selected","false").prev().attr("aria-selected","true").focus();
						var tabpanid= $("li[aria-selected='true']").attr("aria-controls");
						$("div[role='tabpanel']").attr("aria-hidden","true");
						$("#"+tabpanid).attr("aria-hidden","false");
					}
				}
			});

			$(".complaints").each(function() {
				var score = parseInt($(this).text().trim());
				if (score >= 0 && score <= 50) {
					$(this).addClass("rate-5").html(5*20*1.5/100);
				} else if (score > 50 && score <= 100) {
					$(this).addClass("rate-4").html(4*20*1.5/100);
				} else if (score > 100 && score <= 350) {
					$(this).addClass("rate-3").html(3*20*1.5/100);
				} else if (score > 350 && score <= 550) {
					$(this).addClass("rate-2").html(2*20*1.5/100);
				} else if (score > 550) {
					$(this).addClass("rate-1").html(1*20*1.5/100);
				}
			})

			$(".complaints-unweighted").each(function() {
				var score = parseInt($(this).text().trim());
				if (score >= 0 && score <= 50) {
					$(this).addClass("rate-5").html(5);
				} else if (score > 50 && score <= 100) {
					$(this).addClass("rate-4").html(4);
				} else if (score > 100 && score <= 350) {
					$(this).addClass("rate-3").html(3);
				} else if (score > 350 && score <= 550) {
					$(this).addClass("rate-2").html(2);
				} else if (score > 550) {
					$(this).addClass("rate-1").html(1);
				}
			})

			$(".service").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1*20*1.25/100);
				} else if (score > 50 && score <= 59) {
					$(this).addClass("rate-2").html(2*20*1.25/100);
				} else if (score > 60 && score <= 69) {
					$(this).addClass("rate-3").html(3*20*1.25/100);
				} else if (score > 70 && score <= 74) {
					$(this).addClass("rate-4").html(4*20*1.25/100);
				} else if (score > 74) {
					$(this).addClass("rate-5").html(5*20*1.25/100);
				}
			})

			$(".service-unweighted").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1);
				} else if (score > 50 && score <= 59) {
					$(this).addClass("rate-2").html(2);
				} else if (score > 60 && score <= 69) {
					$(this).addClass("rate-3").html(3);
				} else if (score > 70 && score <= 74) {
					$(this).addClass("rate-4").html(4);
				} else if (score > 74) {
					$(this).addClass("rate-5").html(5);
				}
			})

			$(".billing").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1*20*1.25/100);
				} else if (score > 50 && score <= 59) {
					$(this).addClass("rate-2").html(2*20*1.25/100);
				} else if (score > 60 && score <= 69) {
					$(this).addClass("rate-3").html(3*20*1.25/100);
				} else if (score > 70 && score <= 74) {
					$(this).addClass("rate-4").html(4*20*1.25/100);
				} else if (score > 74) {
					$(this).addClass("rate-5").html(5*20*1.25/100);
				}
			})

			$(".billing-unweighted").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1);
				} else if (score > 50 && score <= 59) {
					$(this).addClass("rate-2").html(2);
				} else if (score > 60 && score <= 69) {
					$(this).addClass("rate-3").html(3);
				} else if (score > 70 && score <= 74) {
					$(this).addClass("rate-4").html(4);
				} else if (score > 74) {
					$(this).addClass("rate-5").html(5);
				}
			})

			$(".switch").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1*20*0.5/100);
				} else if (score > 50 && score <= 74) {
					$(this).addClass("rate-2").html(2*20*0.5/100);
				} else if (score > 74 && score <= 94) {
					$(this).addClass("rate-3").html(3*20*0.5/100);
				} else if (score > 94 && score <= 99) {
					$(this).addClass("rate-4").html(4*20*0.5/100);
				} else if (score >= 100) {
					$(this).addClass("rate-5").html(5*20*0.5/100);
				}
			})

			$(".switch-unweighted").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).addClass("rate-1").html(1);
				} else if (score > 50 && score <= 74) {
					$(this).addClass("rate-2").html(2);
				} else if (score > 74 && score <= 94) {
					$(this).addClass("rate-3").html(3);
				} else if (score > 94 && score <= 99) {
					$(this).addClass("rate-4").html(4);
				} else if (score >= 100) {
					$(this).addClass("rate-5").html(5);
				}
			})

			$(".commitment").each(function() {
				var score = parseInt($(this).text().trim());
				if (score == 0) {
					$(this).addClass("rate-1");
				} else if (score > 0 && score <= 1) {
					$(this).addClass("rate-1").html(1*20*0.5/100);
				} else if (score > 1 && score <= 2) {
					$(this).addClass("rate-2").html(2*20*0.5/100);
				} else if (score > 2 && score <= 3) {
					$(this).addClass("rate-3").html(3*20*0.5/100);
				} else if (score > 3 && score <= 4) {
					$(this).addClass("rate-4").html(4*20*0.5/100);
				} else if (score > 4) {
					$(this).addClass("rate-5").html(5*20*0.5/100);
				}
			})

			$(".commitment-unweighted").each(function() {
				var score = parseInt($(this).text().trim());
				if (score == 0) {
					$(this).addClass("rate-1");
				} else if (score > 0 && score <= 1) {
					$(this).addClass("rate-1");
				} else if (score > 1 && score <= 2) {
					$(this).addClass("rate-2");
				} else if (score > 2 && score <= 3) {
					$(this).addClass("rate-3");
				} else if (score > 3 && score <= 4) {
					$(this).addClass("rate-4");
				} else if (score > 4) {
					$(this).addClass("rate-5");
				}
			})

			$(".rating").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score < 2) {
					$(this).find('span').addClass("rate-1--badge");
				} else if (score > 1 && score < 3) {
					$(this).find('span').addClass("rate-2--badge");
				} else if (score > 2 && score < 4) {
					$(this).find('span').addClass("rate-3--badge");
				} else if (score > 3 && score < 5) {
					$(this).find('span').addClass("rate-4--badge");
				} else if (score > 4 && score < 6) {
					$(this).find('span').addClass("rate-5--badge");
				}
			})
		});

block content
	.articleContent
		.flex-row
			.col-md-8
				p Morbi porta justo sem, eget consequat purus porttitor nec. Pellentesque vitae euismod nulla, a commodo diam. Phasellus eget tincidunt nibh. Ut sem arcu, aliquam non lectus eu, faucibus viverra lacus. Vestibulum tellus turpis, sollicitudin quis efficitur id, convallis nec velit. Nulla facilisi. Cras id neque quis lacus placerat hendrerit. Etiam neque augue, eleifend sit amet fermentum at, faucibus vel odio. Morbi ac bibendum ante, ut rutrum ipsum. Ut vel finibus est.
				p
					button Compare energy prices

		ul.tablist(role='tablist')
			li#tab1.tab(aria-controls='panel1', aria-selected='true', role='tab', tabindex='0') Overview
			li#tab2.tab(aria-controls='panel2', role='tab', aria-selected='false', tabindex='0') Complaints
			li#tab3.tab(aria-controls='panel3', role='tab', aria-selected='false', tabindex='0') Customer Service
			li#tab4.tab(aria-controls='panel4', role='tab', aria-selected='false', tabindex='0') Billing Satisfaction
			li#tab5.tab(aria-controls='panel5', role='tab', aria-selected='false', tabindex='0') Switching
			li#tab5.tab(aria-controls='panel6', role='tab', aria-selected='false', tabindex='0') Customer Commitment
		#panel1.tab-panel(aria-labelledby='tab1', role='tabpanel', aria-hidden='false')
			h3 Overview
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th.col-supp(scope="col") Supplier
						th.lg-only(scope="col") Complaints
						th.lg-only(scope="col") Customer service
						th.lg-only(scope="col") Billing satisfaction
						th.lg-only(scope="col") Switching
						th.lg-only(scope="col") Customer commitment
						th.col-rate(scope="col") Rating
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td.complaints 40.6
						td.service 57.89%
						td.billing 53.78%
						td.switch 80.94%
						td.commitment 4
						td.rating
							span 3
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td.complaints 70.4
						td.service 67.89%
						td.billing 56.8%
						td.switch 100%
						td.commitment 4
						td.rating
							span 3.25
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td.complaints 140.7
						td.service 92.67%
						td.billing 82.34%
						td.switch 74.68%
						td.commitment 5
						td.rating
							span 4
					tr
						td
							span.inline-badge 4
						td Supplier D
						td.complaints 35.7
						td.service 65.01%
						td.billing 57.86%
						td.switch 91.35%
						td.commitment 0
						td.rating
							span 3
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td.complaints 80.8
						td.service 54.67%
						td.billing 74.67%
						td.switch 100%
						td.commitment 4
						td.rating
							span 3.5
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td.complaints 405.6
						td.service 62.2%
						td.billing 45.67%
						td.switch 60.54%
						td.commitment 5
						td.rating
							span 2.25
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td.complaints 500.6
						td.service 85.75%
						td.billing 49.87%
						td.switch 96.8%
						td.commitment 0
						td.rating
							span 2.5
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td.complaints 230.5
						td.service 51.23%
						td.billing 45.67%
						td.switch 77.56%
						td.commitment 4
						td.rating
							span 2.75
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td.complaints 700.8
						td.service 74.79%
						td.billing 23.47%
						td.switch 98.7%
						td.commitment 0
						td.rating
							span 2
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td.complaints 460
						td.service 66.05%
						td.billing 61.2%
						td.switch 58.97%
						td.commitment 0
						td.rating
							span 2.25
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td.complaints 90.4
						td.service 53.3%
						td.billing 61.5%
						td.switch 96.34%
						td.commitment 4
						td.rating
							span 3.25
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td.complaints 46.8
						td.service 76.44%
						td.billing 25.67%
						td.switch 54.23%
						td.commitment 4
						td.rating
							span 3.5
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td.complaints 330.5
						td.service 30.56%
						td.billing 72.3%
						td.switch 97.89%
						td.commitment 0
						td.rating
							span 2.5
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td.complaints 111.2
						td.service 68.79%
						td.billing 51.64%
						td.switch 97.4%
						td.commitment 0
						td.rating
							span 2.5
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td.complaints 546.9
						td.service 42.38%
						td.billing 80.67%
						td.switch 82.34%
						td.commitment 4
						td.rating
							span 2.75
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td.complaints 55.4
						td.service 71.23%
						td.billing 67.56%
						td.switch 40.21%
						td.commitment 0
						td.rating
							span 3.25
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td.complaints 800.7
						td.service 72.45%
						td.billing 76.45%
						td.switch 30.45%
						td.commitment 0
						td.rating
							span 2.75
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td.complaints 340.5
						td.service -
						td.billing -
						td.switch -
						td.commitment -
						td.rating
							span n/a
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td.complaints 375.6
						td.service -
						td.billing -
						td.switch -
						td.commitment 4
						td.rating
							span n/a
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td.complaints 345.3
						td.service -
						td.billing -
						td.switch -
						td.commitment -
						td.rating
							span n/a
					tr
						td
							span.inline-badge 21
						td Supplier U
						td.complaints 950.6
						td.service -
						td.billing -
						td.switch -
						td.commitment -
						td.rating
							span n/a
					tr
						td
							span.inline-badge 22
						td Supplier V
						td.complaints -
						td.service -
						td.billing -
						td.switch -
						td.commitment 5
						td.rating
							span n/a

		#panel2.tab-panel(aria-labelledby='tab2', role='tabpanel', aria-hidden='true')
			h3 Complaints
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th(scope="col") Supplier
						th(scope="col") Complaints per 100,000 customers
						th(scope="col") Score (unweighted)
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td 40.6
						td.complaints-unweighted 40.6
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td 70.4
						td.complaints-unweighted 70.4
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td 140.7
						td.complaints-unweighted 140.7
					tr
						td
							span.inline-badge 4
						td Supplier D
						td 35.7
						td.complaints-unweighted 35.7
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td 80.8
						td.complaints-unweighted 80.8
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td 405.6
						td.complaints-unweighted 405.6
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td 500.6
						td.complaints-unweighted 500.6
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td 230.5
						td.complaints-unweighted 230.5
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td 700.8
						td.complaints-unweighted 700.8
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td 460
						td.complaints-unweighted 460
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td 90.4
						td.complaints-unweighted 90.4
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td 46.8
						td.complaints-unweighted 46.8
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td 330.5
						td.complaints-unweighted 330.5
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td 111.2
						td.complaints-unweighted 111.2
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td 546.9
						td.complaints-unweighted 546.9
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td 55.4
						td.complaints-unweighted 55.4
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td 800.7
						td.complaints-unweighted 800.7
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td 340.5
						td.complaints-unweighted 340.5
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td 375.6
						td.complaints-unweighted 375.6
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td 345.3
						td.complaints-unweighted 345.3
					tr
						td
							span.inline-badge 21
						td Supplier U
						td 950.6
						td.complaints-unweighted 950.6
					tr
						td
							span.inline-badge 22
						td Supplier V
						td -
						td.complaints-unweighted -

		#panel3.tab-panel(aria-labelledby='tab3', role='tabpanel', aria-hidden='true')
			h3 Customer Service
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th(scope="col") Supplier
						th(scope="col") Customer service
						th(scope="col") Score (unweighted)
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td 57.89%
						td.service-unweighted 57.89%
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td 67.89%
						td.service-unweighted 67.89%
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td 92.67%
						td.service-unweighted 92.67%
					tr
						td
							span.inline-badge 4
						td Supplier D
						td 65.01%
						td.service-unweighted 65.01%
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td 54.67%
						td.service-unweighted 54.67%
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td 62.2%
						td.service-unweighted 62.2%
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td 85.75%
						td.service-unweighted 85.75%
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td 51.23%
						td.service-unweighted 51.23%
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td 74.79%
						td.service-unweighted 74.79%
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td 66.05%
						td.service-unweighted 66.05%
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td 53.3%
						td.service-unweighted 53.3%
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td 76.44%
						td.service-unweighted 76.44%
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td 30.56%
						td.service-unweighted 30.56%
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td 68.79%
						td.service-unweighted 68.79%
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td 42.38%
						td.service-unweighted 42.38%
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td 71.23%
						td.service-unweighted 71.23%
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td 72.45%
						td.service-unweighted 72.45%
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td -
						td.service-unweighted -
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td -
						td.service-unweighted -
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td -
						td.service-unweighted -
					tr
						td
							span.inline-badge 21
						td Supplier U
						td -
						td.service-unweighted -
					tr
						td
							span.inline-badge 22
						td Supplier V
						td -
						td.service-unweighted -

		#panel4.tab-panel(aria-labelledby='tab4', role='tabpanel', aria-hidden='true')
			h3 Billing Satisfaction
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th(scope="col") Supplier
						th(scope="col") Billing satisfaction
						th(scope="col") Score (unweighted)
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td 53.78%
						td.billing-unweighted 53.78%
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td 56.8%
						td.billing-unweighted 56.8%
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td 82.34%
						td.billing-unweighted 82.34%
					tr
						td
							span.inline-badge 4
						td Supplier D
						td 57.86%
						td.billing-unweighted 57.86%
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td 74.67%
						td.billing-unweighted 74.67%
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td 45.67%
						td.billing-unweighted 45.67%
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td 49.87%
						td.billing-unweighted 49.87%
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td 45.67%
						td.billing-unweighted 45.67%
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td 23.47%
						td.billing-unweighted 23.47%
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td 61.2%
						td.billing-unweighted 61.2%
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td 61.5%
						td.billing-unweighted 61.5%
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td 25.67%
						td.billing-unweighted 25.67%
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td 72.3%
						td.billing-unweighted 72.3%
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td 51.64%
						td.billing-unweighted 51.64%
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td 80.67%
						td.billing-unweighted 80.67%
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td 67.56%
						td.billing-unweighted 67.56%
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td 76.45%
						td.billing-unweighted 76.45%
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td -
						td.billing-unweighted -
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td -
						td.billing-unweighted -
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td -
						td.billing-unweighted -
					tr
						td
							span.inline-badge 21
						td Supplier U
						td -
						td.billing-unweighted -
					tr
						td
							span.inline-badge 22
						td Supplier V
						td -
						td.billing-unweighted -

		#panel5.tab-panel(aria-labelledby='tab5', role='tabpanel', aria-hidden='true')
			h3 Switching
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th(scope="col") Supplier
						th(scope="col") Switching
						th(scope="col") Score (unweighted)
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td 80.94%
						td.switch-unweighted 80.94%
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td 100%
						td.switch-unweighted 100%
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td 74.68%
						td.switch-unweighted 74.68%
					tr
						td
							span.inline-badge 4
						td Supplier D
						td 91.35%
						td.switch-unweighted 91.35%
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td 100%
						td.switch-unweighted 100%
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td 60.54%
						td.switch-unweighted 60.54%
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td 96.8%
						td.switch-unweighted 96.8%
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td 77.56%
						td.switch-unweighted 77.56%
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td 98.7%
						td.switch-unweighted 98.7%
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td 58.97%
						td.switch-unweighted 58.97%
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td 96.34%
						td.switch-unweighted 96.34%
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td 54.23%
						td.switch-unweighted 54.23%
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td 97.89%
						td.switch-unweighted 97.89%
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td 97.4%
						td.switch-unweighted 97.4%
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td 82.34%
						td.switch-unweighted 82.34%
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td 40.21%
						td.switch-unweighted 40.21%
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td 30.45%
						td.switch-unweighted 30.45%
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td -
						td.switch-unweighted -
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td -
						td.switch-unweighted -
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td -
						td.switch-unweighted -
					tr
						td
							span.inline-badge 21
						td Supplier U
						td -
						td.switch-unweighted -
					tr
						td
							span.inline-badge 22
						td Supplier V
						td -
						td.switch-unweighted -

		#panel6.tab-panel(aria-labelledby='tab6', role='tabpanel', aria-hidden='true')
			h3 Customer Commitment
			p Aliquam pharetra feugiat velit, sed gravida tortor consequat vel.
			table.sortable.energy-comparison
				thead
					tr
						th.col-rank.sorttable_numeric(scope="col") Rank
						th(scope="col") Supplier
						th(scope="col") Signed to switching guarantee
						th(scope="col") Signed to billing code
						th(scope="col") Score (unweighted)
				tbody
					tr
						td.increase
							span.inline-badge 1
						td Supplier A
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.increase
							span.inline-badge 2
						td Supplier B
						td
						td Yes
						td.commitment-unweighted 4
					tr
						td.decrease
							span.inline-badge 3
						td Supplier C
						td Yes
						td Yes
						td.commitment-unweighted 5
					tr
						td
							span.inline-badge 4
						td Supplier D
						td
						td
						td.commitment-unweighted 0
					tr
						td.decrease
							span.inline-badge 5
						td Supplier E
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.increase
							span.inline-badge 6
						td Supplier F
						td Yes
						td Yes
						td.commitment-unweighted 5
					tr
						td.decrease
							span.inline-badge 7
						td Supplier G
						td
						td
						td.commitment-unweighted 0
					tr
						td.decrease
							span.inline-badge 8
						td Supplier H
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.decrease
							span.inline-badge 9
						td Supplier I
						td
						td
						td.commitment-unweighted 0
					tr
						td.decrease
							span.inline-badge 10
						td Supplier J
						td
						td
						td.commitment-unweighted 0
					tr
						td.increase
							span.inline-badge 11
						td Supplier K
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.increase
							span.inline-badge 12
						td Supplier L
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.decrease
							span.inline-badge 13
						td Supplier M
						td
						td
						td.commitment-unweighted 0
					tr
						td.increase
							span.inline-badge 14
						td Supplier N
						td
						td
						td.commitment-unweighted 0
					tr
						td.decrease
							span.inline-badge 15
						td Supplier O
						td
						td Yes
						td.commitment-unweighted 4
					tr
						td.increase
							span.inline-badge 16
						td Supplier P
						td Yes
						td Yes
						td.commitment-unweighted 0
					tr
						td
							span.inline-badge 17
						td Supplier Q
						td
						td
						td.commitment-unweighted 0
					tr
						td.decrease
							span.inline-badge 18
						td Supplier R
						td
						td
						td.commitment-unweighted -
					tr
						td.decrease
							span.inline-badge 19
						td Supplier S
						td Yes
						td
						td.commitment-unweighted 4
					tr
						td.decrease
							span.inline-badge 20
						td Supplier T
						td
						td
						td.commitment-unweighted -
					tr
						td
							span.inline-badge 21
						td Supplier U
						td
						td
						td.commitment-unweighted -
					tr
						td
							span.inline-badge 22
						td Supplier V
						td Yes
						td Yes
						td.commitment-unweighted 5
