block settings
    - var title = "How the scores are worked out"
    - var sidebar = true
    - var toolbars = true
    - var mockup = true
    - var dir = "../../"

block sidebar
    - var section = "Energy"
    +sidebar([
        {href: "comparison.html", title: "Compare energy suppliers’ customer service"},
        {href: "#", title: title}
    ])

extends /template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Energy", href: "#"},
        {title: title}])

block content
    .articleContent
        p We give energy suppliers a score out of 5 for each category. 1 is poor and 5 is excellent.

        //table
            thead
                tr
                    th(scope="col") &nbsp;
                    th(scope="col") Weight out of 100%
                    th(scope="col") Description
            tbody
                tr
                    th(scope="row") Complaints
                    td 30%
                    td How well energy suppliers perform on complaints handling
                tr
                    th(scope="row") Customer service
                    td 25%
                    td How satisfied energy consumers are with the ease of contacting their supplier
                tr
                    th(scope="row") Billing satisfaction
                    td 25%
                    td How satisfied energy consumers are with the ease of understanding their bills
                tr
                    th(scope="row") Switching
                    td 10%
                    td The proportion of energy consumers that are switched by their supplier in 21 days, inclusive of delays for a valid reason
                tr
                    th(scope="row") Customer commitment
                    td 10%
                    td Which suppliers are signed up to the switching guarantee and billing code

        table
            thead
                tr
                    th(scope="col", width="20%") Category score
                    th(scope="col", width="16%") 5
                    th(scope="col", width="16%") 4
                    th(scope="col", width="16%") 3
                    th(scope="col", width="16%") 2
                    th(scope="col", width="16%") 1
            tbody
                tr
                    th(scope="row") Number of complaints per 100,000 customers
                    td 50 or less
                    td 51 to 100
                    td 101 to 350
                    td 351 to 550
                    td More than 550
                tr
                    th(scope="row") Customers who found contacting supplier easy
                    td More than 75%
                    td 70-75%
                    td 60-69%
                    td 51-59%
                    td 50% or less
                tr
                    th(scope="row") Customers who found bills easy to understand
                    td More than 75%
                    td 70-75%
                    td 60-69%
                    td 51-59%
                    td 50% or less
                tr
                    th(scope="row") Switches done in 21 days
                    td 98%
                    td 90-97%
                    td 75-89%
                    td 50-74%
                    td Less than 50%
                tr
                    th(scope="row") Customer guarantees
                    td(colspan="5") Suppliers score a 3 if they’re signed up to switch guarantee. If they’re not, they score a zero.

        p The categories aren’t equal - they’re weighted so that some categories count more towards the final star rating than others.

        table
            thead
                tr
                    th(scope="col")
                    th(scope="col") Complaints
                    th(scope="col") Ease of contact
                    th(scope="col") Billing clarity
                    th(scope="col") Switching
                    th(scope="col") Customer guarantees
            tbody
                tr
                    th(scope="row") Weighting
                    td 30%
                    td 25%
                    td 25%
                    td 15%
                    td 5%

        p We give a final star rating to suppliers with scores in all 5 categories.

        p We calculate this rating by adding up the weighted scores and rounding the total to the nearest 0.25. The maximum a supplier can get is 5.

        p You can see how this works in the example.

        h2 Example
        h3 UK Energy Supplier plc - star rating 4.5

        table
            thead
                tr
                    th(scope="col")
                    th(scope="col") Complaints
                    th(scope="col") Ease of contact
                    th(scope="col") Billing clarity
                    th(scope="col") Switching
                    th(scope="col") Customer guarantees
            tbody
                tr
                    th(scope="row") Number
                    td 30.5
                    td 72%
                    td 74%
                    td 99%
                    td yes
                tr
                    th(scope="row") Score out of 5
                    td 5
                    td 4
                    td 4
                    td 5
                    td 3
                tr
                    th(scope="row") Weighted score
                    td 1.5
                    td 1
                    td 1
                    td 0.75
                    td 0.15

        h2 Where the information comes from

        p Ratings are based on information gathered over the period D

        p Complaints information comes from complaints made to:

        ul
            li Citizens Advice Consumer Service
            li the #[a(href="http://www.cas.org.uk/about-us/consumer-advice/extra-help-unit") Extra Help Unit]
            li the Energy Ombudsman

        p Information on complaints is only available for suppliers with 50,000 customers or more.

        p For the other categories, information on:

        ul
            li customer service and billing comes from the #[a(href="http://www.gfk.com/en-gb/industries/energy/") GFK market research survey]
            li switching comes from Ofgem and suppliers themselves
            li customer guarantees comes from #[a(href="http://www.energy-uk.org.uk/") Energy UK]

        p This information is only available for suppliers with 150,000 customers or more.
