/**
 * Breadcrumb.
 *
 * Beta breadcrumb amends.
 * Functional changes to be made in 
 */

.breadcrumb {
    // Hack as we have Bootstrap in the mix
    background-color: @white;
    padding: 0;
    p {
        font-size: @font-size-base;
        color: @beta-blue-light;
    }
    p a {
        padding: 0em 0.5em;
        color: @text-color;
    }
}
