/**
 * CALLOUTS.
 *
 * Styles for content boxes and coloured sections.
 */

/* Creates a mixin for making box styles, including their links */
.callout (@box-color: @text-color, @box-color-h: #666666, @box-color-bg: #f8f8f8) {
    padding: 0 @box-padding-horizontal @box-padding-vertical @box-padding-horizontal;
    margin: @box-padding-vertical 0;
    background-color: @box-color-bg;
    color: @box-color;
    border-color: darken(@box-color-bg, 15%);
	h1, h2, h3 {
		color: @box-color-h !important; 
	}
    *:first-child {
    	padding-top: @box-padding-vertical;
    }
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
    	margin-top: 0;
    }
    li:first-child {
    	padding-top: 0;
    }
    *:last-child {
    	margin-bottom: 0 !important;
    }
	&--border {
		border: 1px darken(@box-color-bg, 15%) solid;
	}
	&--border--left {
		border: 5px darken(@box-color-bg, 15%) solid;
		border-width: 0 0 0 5px;
		padding-left: calc(@box-padding-horizontal*.75);
	}
	.callout__link {
	 	cursor: pointer;
	 	display: block;
	    padding: @box-padding-vertical @box-padding-horizontal*4.5 @box-padding-vertical @box-padding-horizontal;
	    margin: @box-padding-vertical -@box-padding-horizontal -@box-padding-vertical -@box-padding-horizontal !important;
	    border: none;
	    background-color: lighten(@box-color-bg, .5%);
	    color: @box-color;
	    border-bottom: 1px solid darken(@box-color-bg, 25%);
	    text-decoration: none !important;
	    position: relative;
		&:after {
			box-sizing: border-box;
		    font-family: FontAwesome;
		    content: "\f054";
		    color: @box-color;
		    padding: 0 @box-padding-horizontal*1.25;
		    background-color: darken(@box-color-bg, 10%);
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    line-height: 3em;
		}
	    &:hover {
	    	background-color: lighten(@box-color-bg, 10%);
	    	color: @box-color;
	    	&:after {
	    		background-color: darken(@box-color-bg, 15%);
	    	}
	    }
	    &--anchor:after {
		    content: "\f063";
	    }
	}
}

/**
 * Creates the various box styles using two colours
 * .callout(text, title, background)
 */
.callout {
	.callout(); // Create unstyled box
	&--turquoise 	{ .callout( @text-color, @text-color, @turquoise ) }
	&--green 		{ .callout( @green, @green, @green-light ) }
	&--warning 		{ .callout( @text-color, #B10B1E, #FCDBDF ) }
	&--alert 		{ .callout( @text-color, @text-color, #FEF8D4 ) }
	&--info			{ .callout( @text-color, #0A4B88, #EEF7FF ) }
    &--example      { .callout( @text-color, @cloud, @gray-6 ) }
}
