/**
 * COLLAPSIBLES.
 *
 * Styles for content boxes and coloured sections.
 */

/* Creates a mixin for making box styles, including their links */
.collapse ( @collapse-toggle-bg: #004B88, @collapse-toggle-icon: darken(@collapse-toggle-bg, 10%), @collapse-toggle-color: white ) {
    padding: 0 @box-padding-horizontal @box-padding-vertical @box-padding-horizontal;
    margin: @box-padding-vertical 0;
    background-color: white;
    color: @text-color;
	.collapse-toggle {
	 	cursor: pointer;
	 	display: block;
	    padding: @box-padding-vertical @box-padding-horizontal*4.5 @box-padding-vertical @box-padding-horizontal;
	    margin: @box-padding-vertical -@box-padding-horizontal -@box-padding-vertical -@box-padding-horizontal !important;
	    border: none;
	    background-color: @collapse-toggle-bg;
	    text-decoration: none !important;
	    position: relative;
		margin-bottom: 0.75em !important;
		background-color: @collapse-toggle-bg;
		color: @collapse-toggle-color;
		h1, h2, h3, h4, h5, h6 {
	    	margin: 0;
	    	color: @collapse-toggle-color;
	    }
		&:after {
			box-sizing: border-box;
		    font-family: 'FontAwesome';
			content: "\f067";
		    color: @collapse-toggle-color;
		    padding: 0 @box-padding-horizontal*1.25;
		    background-color: @collapse-toggle-icon;
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    line-height: 3em;
		}
	    &:hover {
	    	background-color: darken(@collapse-toggle-bg, 3%);
	    	color: @collapse-toggle-color;
	    	&:after {
	    		background-color: darken(@collapse-toggle-icon, 3%);
	    	}
	    }
	}
	.collapse-toggle-close {
	 	cursor: pointer;
	 	display: block;
	    padding: @box-padding-vertical @box-padding-horizontal*4.5 @box-padding-vertical @box-padding-horizontal;
	    margin: @box-padding-vertical -@box-padding-horizontal -@box-padding-vertical -@box-padding-horizontal !important;
	    text-decoration: none !important;
	    position: relative;
		color: @collapse-toggle-color;
		cursor: pointer;
		border: none;
		background-color: fadeout(@collapse-toggle-bg, 90%);
		color: @collapse-toggle-bg;
		margin-top: 1em !important;
		&:after {
			box-sizing: border-box;
		    font-family: 'FontAwesome';
		    padding: 0 @box-padding-horizontal*1.25;
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    line-height: 3em;
			content: "\f068";
			background-color: fadeout(@collapse-toggle-icon, 90%);
			color: @collapse-toggle-icon;
		}
	    &:hover {
	    	background-color: fadeout(@collapse-toggle-bg, 87%);
	    	&:after {
	    		background-color: fadeout(@collapse-toggle-icon, 87%);
	    	}
	    }
	}
	.open:after {
		content: "\f068";
	}
	.collapse-content {
		padding: 0;
		border: 0;
	    margin: -0.75em -1em 0.75em -1em !important;
	    padding: 0.75em 1em 0.75em 1em;
	    border: solid @collapse-toggle-icon;
	    border-width: 1px;
	}
}

.collapse-toggle {cursor: pointer;}
.collapse-content {display: none;}
.collapse-content.default {display: block;}

/**
 * Creates the various box styles using three colours
 * .collapse(button background, button icon background, button text)
 * 
 * However, setting one colour should also intelligently create the styles
 */
.collapse {
	.collapse(#004B88,#253460); // Create unstyled collapse
	&--turquoise 	{ .collapse( @turquoise ) }
	&--green 		{ .collapse( @green ) }
	&--warning 		{ .collapse( #B10B1E ) }
}
