/**
 * NAVIGATION.
 * 
 * Breadcrumb
 * Left hand menu
*/

.breadcrumb {
    margin-top: 1em;
    font-size: @font-size-base;
    p a:after {
        content: "›";
        font-size: @font-size-large;
        color: @beta-blue-light-tint;
        padding-left: 0.75em;
        padding-right: 0.75em;
        background-color: @white;
    }
}