/**
 * Panels.
 *
 * These are the functional boxes used for callouts and indicators 
 *
 */

/************************************************************************
 * Base – the unstyled panel example (assuming we can use a white background on the content page.
 */

.callout {
    background-color: @white;
    border: 1px solid @beta-blue-light;
    margin-bottom: 0.75em;
    padding: (@box-padding-vertical * 1.2);
}

/**
 * Things within each panel.
 */
.callout__title {
    font-size: @font-size-medium;
    font-weight: @font-weight-bolder;
    color: @text-color;
    margin: 0 0 (@paragraph-margin-bottom * 0.7) 0;
    line-height: @line-height-large;
}

.callout__subtitle {
    font-size: @font-size-base;
    font-weight: @font-weight-bolder;
    margin: 0 0 (@paragraph-margin-bottom * 0.7) 0;
    color: @text-color;
}


/************************************************************************
 * Variations on panel styling.
 * Extend callout standards
 */

/************************************************************************
 * Crucial – this is for only the most important mandatory tasks, we must use this sparingly.
 */

.callout--crucial {
    background-color: lighten(@beta-red, 55%);
    border: 1px solid @beta-red;

    .callout__title {
        color: @beta-red;
    }

    .callout__subtitle {
        color: @text-color;
    }
}
/************************************************************************
 * Important – these are for generally important actions clients need to take but are not mandatory.
 */

.callout--important {
    background-color: lighten(@heritage-blue, 70%);
    border: 1px solid @heritage-blue;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }

}
/************************************************************************
 * Progress panel - for instructional information, primarily used for 'Next stages'.
 */

.callout--progress {
    background-color: lighten(@beta-aqua, 10%);
    border-left: 4px solid @beta-aqua;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }

}
/************************************************************************
 * Adviser box - extending to style the adviser only content.
 */

.callout--adviser {
    background-color: @beta-yellow-light;
    border-left: 4px solid @beta-yellow;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }

}

/************************************************************************
 * Example box - extending to style the adviser only content.
 */

.callout--example {
    background-color: @white;
    border-left: 4px solid @gray-4;

    .callout__title {
        color: @gray-2;
    }

    .callout__subtitle {
        color: @text-color;
    }

}
/************************************************************************
 * Side-panels.
 */
.callout--side__blue {
    background-color: lighten(@gray-4, 15%);
    border-top: 4px solid @heritage-blue;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }

}

.callout--side__yellow {
    background-color: lighten(@gray-4, 15%);
    border-top: 4px solid @beta-yellow;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }
}

.callout--side__aqua {
    background-color: lighten(@gray-4, 15%);
    border-top: 4px solid @beta-aqua;

    .callout__title {
        color: @heritage-blue;
    }

    .callout__subtitle {
        color: @text-color;
    }

}
