/** Option 3
* All additional styles used in option 3
*/

/**
 * steps.
 *
 * Styles for content boxes and coloured sections.
 * 'o' used for option '3' used for version
 */

/* Creates a mixin for making box styles, including their links */
.steps (@box-color: @text-color, @box-color-bg: @box-3-bg) {
    padding: 0 @box-padding-horizontal @box-padding-vertical @box-padding-horizontal;
    margin: @box-padding-vertical 0;
    background-color: @box-color-bg;
    color: @box-color;
    border-color: darken(@box-color-bg, 15%);
    h1, h2, h3 {
        color: @box-color; 
    }
    *:first-child {
        padding-top: @box-padding-vertical;
    }
    *:last-child {
        margin-bottom: 0 !important;
    }
    &--border {
        border-left: 5px darken(@box-color-bg, 15%) solid;
        padding-left: calc(@box-padding-horizontal*.75);
    }
    .steps__link {
        cursor: pointer;
        width: 100%;
        display: block;
        padding: @box-padding-vertical @box-padding-horizontal;
        margin: @box-padding-vertical -@box-padding-horizontal -@box-padding-vertical -@box-padding-horizontal !important;
        border: none;
        background-color: lighten(@box-color-bg, 7.5%);
        color: @box-color;
        border-bottom: 1px solid darken(@box-color-bg, 25%);
        &:after {
            box-sizing: border-box;
            font-family: FontAwesome;
            content: "\f054";
            float: right;
            color: @box-color;
            padding: 0 @box-padding-horizontal*1.25;
            background-color: darken(@box-color-bg, 10%);
            margin-top: -@box-padding-vertical;
            margin-right: -@box-padding-horizontal;
            line-height: 290%;
        }
        &:hover {
            background-color: lighten(@box-color-bg, 10%);
            color: @box-color;
            &:after {
                background-color: darken(@box-color-bg, 15%);
            }
        }
    }
}

/**
 * Creates the various box styles using two colours
 * .steps(text, background)
 */
.steps {
    .steps(); // Create unstyled box
    &--turquoise    { .steps(@text-color, @turquoise) }
    &--green        { .steps(@green, @green-light) }
    &--warning      { .steps(darken(@red-brighter, 10%), @red-brighter-tint) }
}
