block settings
	- var title = "Advisor content"
	- var sidebar = true
	- var toolbars = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Templates", href: "index.html#templates"},
		{title: "Advisor content"}])

block sidebar
	- var section = "Section title"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Sibling page 1"},
		{title: "Sibling page 2"}],
		0)

	#advisorInline1--box.advisor--box
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

	#advisorInline1--box.advisor--box
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

block content
	.articleContent
		div
			p Introduction is optional, but for a long format advice page it can be useful to summarise the pages content, this should be kept as a relatively short paragraph that covers what this page of content will do.
			#overview.steps
				h3 On this page
				.flex-row
					ul.col-md-6
						li
							a(href="#step1") First use of &lt;h2&gt; in content
						li
							a(href="#step2") Second use of &lt;h2&gt; in content
						li
							a(href="#step3") Third use of &lt;h2&gt; in content
						li
							a(href="#step4") Fourth use of &lt;h2&gt; in content
					ul.col-md-6
						li
							a(href="#step5") Fifth use of &lt;h2&gt; in content
						li
							a(href="#step6") Sixth use of &lt;h2&gt; in content
						li
							a(href="#step7") Seventh use of &lt;h2&gt; in content
						li
							a(href="#step8") Eigth use of &lt;h2&gt; in content
			section#step1
				h2#h-what-you-could-get-from-the-airline.ref-heading
					span.ref-heading__heading First use of &lt;h2&gt; in content 
					span.ref-heading__toggle.ref-heading__toggle--on
						a.js-toggle-ref(href="#!") Added
				h3 Example of content
				p#advisorInline1
					span#advisorInline1Button.inline--button
					| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore #[span#advisor1.advisor magna] aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step2
				h2 Second use of &lt;h2&gt; in content
				h3 Example of content
				p#advisorInline2
					span#advisorInline1Button.inline--button
					| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #[span#advisor2.advisor Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.]
			section#step3
				h2 Third use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step4
				h2 Fourth use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step5
				h2 Fifth use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step6
				h2 Sixth use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step7
				h2 Seventh use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section#step8
				h2 Eigth use of &lt;h2&gt; in content
				h3 Example of content
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section.print-only
				h2 This section is print only
				p Should be hidden on screen, but not on print.