block settings
	- var title = "Block links"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Blocklinks"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p Block links are boxed text, usually with a link attribute that is not part of the content. The blocklink is usually a link to a tool or to the document that the current page is referring to.

			.example-box-plain
				a(href="#").blocklink Blocklink
				a(href="#").blocklink.i-doc-image Image blocklink
				a(href="#").blocklink.i-search Search blocklink
			pre
				code.language-html
					| &lt;a href="#" class="blocklink"&gt;Blocklink&lt;/a&gt;
					| &lt;a href="#" class="blocklink i-doc-image"&gt;Image blocklink&lt;/a&gt;
					| &lt;a href="#" class="blocklink i-search"&gt;Search blocklink&lt;/a&gt;

			h2 Block link as a modal
			p Block links can also be extended to be used as image modals. The function of these is to disclose images to people who choose to (similar in purpose to accordions).

			.example-box-plain
				a.js-toggle-extent-dialog(href="#")
					.blocklink.blocklink--modal
						p What does this image look like?

			.example-box-plain
				a.js-toggle-extent-dialog(href="#")
					.blocklink--modal-search
						p What does this image look like?

			.example-box-plain
				.collapse.collapsible
					.collapse-toggle What does this image look like?
					.collapse-content
						img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
						a.collapse-toggle-close Close
