block settings
	- var title = "The Team"
	- var sidebar = false
	- var toolbars = false
	//- var cookiemonster = true
	- var mockup = false

extends ../template/template-blog.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])
block sidebar
	include ../template/sidebar-blog.jade

block content
	.articleContent
		div
			h3(style="text-align:center;") Management
			.row.flex-container
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Manager
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Manager
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Manager
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Manager
			h3(style="text-align:center;") Content
			.row.flex-container
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
				.col-xs-12.col-md-3
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Content Designer
			h3(style="text-align:center;") Design
			.row.flex-container
				.col-xs-12.col-md-6
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Designer
				.col-xs-12.col-md-6
					.team
						.avatar-full
							img(src="images/sample-blog/avatar.png" alt="That Person")
						.avatar-title
							h4 #[a(href="blog-team-profile.html") That Person]
							p Designer
