block settings
	- var title = "Citizens Advice digital blog"
	- var sidebar = true
	- var toolbars = false
	//- var cookiemonster = true
	- var mockup = false

extends ../template/template-blog.jade

//block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block sidebar
	include ../template/sidebar-blog.jade

block content
	.articleContent
		.flex-container.flex-row
			.title__subheading--blog(style="margin-top:-1.5rem;")
				//.blog-tag
					| Research
				//.blog-tag
					| Content
				h2 #[a(href="blog-post.html") Making things simpler: Personal Independence Payment (PIP)]
				p.small #[a(href="#") Stephen Rehill] on January 18, 2016 in #[a(href="#") Content], #[a(href="#") Design]
				img(src="images/sample-blog/pip-feature-images-2.jpg" alt="PIP feature image" style="width:100%;")
				p Making a claim for the benefit Personal Independence Payment (PIP) can take a long time time. It can often take up to 4 months from starting the application to getting your money (if you’re #[a(href="#") terminally ill] your claim will be processed more quickly).
				a(href="#").btn-secondary.btn-small(type="button") Read full article

			.title__subheading--blog
				//.blog-tag
					| Design
				//.blog-tag
					| Research
				h2 #[a(href="blog-post.html") Introducing… immigration advice]
				p.small #[a(href="#") Emily Brunwin] on January 1, 2016 in #[a(href="#") Content], #[a(href="#") Immigration]
				img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
				p We’ve pushed the button on some brand new content – immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
				a(href="#").btn-secondary.btn-small(type="button") Read full article

		.flex-container.flex-row
			.col-xs-12.col-md-6.blog-column-excerpt
				.cards
					.card-image-top
						img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					.card-text
						h3 #[a(href="#") Introducing… immigration advice]
						p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
			.col-xs-12.col-md-6.blog-column-excerpt
				.cards
					.card-image-top
						img(src="images/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image" style="width:100%;")
					.card-text
						h3 #[a(href="#") Introducing… immigration advice]
						p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?


			.col-xs-12.pagination
				ul
					li.active
						span 1
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") 2]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") 3]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") Next]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") Last]