block settings
	- var title = "Brand icons"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Branding", href: "index.html#branding"},
		{title: "Brand icons"}])

block sidebar
	include ../template/sidebar-brand.jade

block content
	.articleContent
		div
			p Brand icons differ from the website content icons because they are used illustrate information from and about the Citizens Advice organisation.
			p They should be used sparingly to maintain importance but are there to support the information.

			table.iconlist.brand
				thead
					tr
						th Icon
						th Name
						th Variable
						th Unicode
				tbody
					tr.brand-accelerator
						td.icon-brand
						td accelerator
						td.variable @brand-accelerator
						td.unicode \e900
					tr.brand-add_folder
						td.icon-brand
						td add folder
						td.variable @brand-add_folder
						td.unicode \e901
					tr.brand-agenda
						td.icon-brand
						td agenda
						td.variable @brand-agenda
						td.unicode \e902
					tr.brand-alarm_clock
						td.icon-brand
						td alarm clock
						td.variable @brand-alarm_clock
						td.unicode \e903
					tr.brand-arrow_down
						td.icon-brand
						td arrow down
						td.variable @brand-arrow_down
						td.unicode \e904
					tr.brand-arrow_left
						td.icon-brand
						td arrow left
						td.variable @brand-arrow_left
						td.unicode \e905
					tr.brand-arrow_right
						td.icon-brand
						td arrow right
						td.variable @brand-arrow_right
						td.unicode \e906
					tr.brand-arrow_up
						td.icon-brand
						td arrow up
						td.variable @brand-arrow_up
						td.unicode \e907
					tr.brand-battery_1
						td.icon-brand
						td battery 1
						td.variable @brand-battery_1
						td.unicode \e908
					tr.brand-battery_2
						td.icon-brand
						td battery 2
						td.variable @brand-battery_2
						td.unicode \e909
					tr.brand-battery_3
						td.icon-brand
						td battery 3
						td.variable @brand-battery_3
						td.unicode \e90a
					tr.brand-battery_4
						td.icon-brand
						td battery 4
						td.variable @brand-battery_4
						td.unicode \e90b
					tr.brand-blackboard_graph
						td.icon-brand
						td blackboard graph
						td.variable @brand-blackboard_graph
						td.unicode \e90c
					tr.brand-boat
						td.icon-brand
						td boat
						td.variable @brand-boat
						td.unicode \e90d
					tr.brand-booknote_add
						td.icon-brand
						td booknote add
						td.variable @brand-booknote_add
						td.unicode \e90e
					tr.brand-booknote_remove
						td.icon-brand
						td booknote remove
						td.variable @brand-booknote_remove
						td.unicode \e90f
					tr.brand-booknote
						td.icon-brand
						td booknote
						td.variable @brand-booknote
						td.unicode \e910
					tr.brand-calendar
						td.icon-brand
						td calendar
						td.variable @brand-calendar
						td.unicode \e911
					tr.brand-camera_1
						td.icon-brand
						td camera 1
						td.variable @brand-camera_1
						td.unicode \e912
					tr.brand-camera_2
						td.icon-brand
						td camera 2
						td.variable @brand-camera_2
						td.unicode \e913
					tr.brand-case
						td.icon-brand
						td case
						td.variable @brand-case
						td.unicode \e915
					tr.brand-case_2
						td.icon-brand
						td case 2
						td.variable @brand-case_2
						td.unicode \e914
					tr.brand-cd
						td.icon-brand
						td cd
						td.variable @brand-cd
						td.unicode \e916
					tr.brand-check
						td.icon-brand
						td check
						td.variable @brand-check
						td.unicode \e917
					tr.brand-chronometer
						td.icon-brand
						td chronometer
						td.variable @brand-chronometer
						td.unicode \e918
					tr.brand-clock
						td.icon-brand
						td clock
						td.variable @brand-clock
						td.unicode \e919
					tr.brand-cloud_check
						td.icon-brand
						td cloud check
						td.variable @brand-cloud_check
						td.unicode \e91a
					tr.brand-cloud_delete
						td.icon-brand
						td cloud delete
						td.variable @brand-cloud_delete
						td.unicode \e91b
					tr.brand-cloud_download
						td.icon-brand
						td cloud download
						td.variable @brand-cloud_download
						td.unicode \e91c
					tr.brand-cloud_upload
						td.icon-brand
						td cloud upload
						td.variable @brand-cloud_upload
						td.unicode \e91d
					tr.brand-cloudy
						td.icon-brand
						td cloudy
						td.variable @brand-cloudy
						td.unicode \e91e
					tr.brand-cocktail
						td.icon-brand
						td cocktail
						td.variable @brand-cocktail
						td.unicode \e91f
					tr.brand-coffee
						td.icon-brand
						td coffee
						td.variable @brand-coffee
						td.unicode \e920
					tr.brand-compass
						td.icon-brand
						td compass
						td.variable @brand-compass
						td.unicode \e921
					tr.brand-compress
						td.icon-brand
						td compress
						td.variable @brand-compress
						td.unicode \e922
					tr.brand-cutlery
						td.icon-brand
						td cutlery
						td.variable @brand-cutlery
						td.unicode \e923
					tr.brand-delete_folder
						td.icon-brand
						td delete folder
						td.variable @brand-delete_folder
						td.unicode \e924
					tr.brand-delete
						td.icon-brand
						td delete
						td.variable @brand-delete
						td.unicode \e925
					tr.brand-dialogue_add
						td.icon-brand
						td dialogue add
						td.variable @brand-dialogue_add
						td.unicode \e926
					tr.brand-dialogue_delete
						td.icon-brand
						td dialogue delete
						td.variable @brand-dialogue_delete
						td.unicode \e927
					tr.brand-dialogue_happy
						td.icon-brand
						td dialogue happy
						td.variable @brand-dialogue_happy
						td.unicode \e928
					tr.brand-dialogue_sad
						td.icon-brand
						td dialogue sad
						td.variable @brand-dialogue_sad
						td.unicode \e929
					tr.brand-dialogue_text
						td.icon-brand
						td dialogue text
						td.variable @brand-dialogue_text
						td.unicode \e92a
					tr.brand-dialogue_think
						td.icon-brand
						td dialogue think
						td.variable @brand-dialogue_think
						td.unicode \e92b
					tr.brand-diamond
						td.icon-brand
						td diamond
						td.variable @brand-diamond
						td.unicode \e92c
					tr.brand-dish_fork
						td.icon-brand
						td dish fork
						td.variable @brand-dish_fork
						td.unicode \e92d
					tr.brand-dish_spoon
						td.icon-brand
						td dish spoon
						td.variable @brand-dish_spoon
						td.unicode \e92e
					tr.brand-download_folder
						td.icon-brand
						td download folder
						td.variable @brand-download_folder
						td.unicode \e92f
					tr.brand-download
						td.icon-brand
						td download
						td.variable @brand-download
						td.unicode \e930
					tr.brand-expand
						td.icon-brand
						td expand
						td.variable @brand-expand
						td.unicode \e931
					tr.brand-eye
						td.icon-brand
						td eye
						td.variable @brand-eye
						td.unicode \e932
					tr.brand-fast_food
						td.icon-brand
						td fast food
						td.variable @brand-fast_food
						td.unicode \e933
					tr.brand-flag
						td.icon-brand
						td flag
						td.variable @brand-flag
						td.unicode \e934
					tr.brand-folder
						td.icon-brand
						td folder
						td.variable @brand-folder
						td.unicode \e935
					tr.brand-geolocalizator
						td.icon-brand
						td geolocalizator
						td.variable @brand-geolocalizator
						td.unicode \e936
					tr.brand-globe
						td.icon-brand
						td globe
						td.variable @brand-globe
						td.unicode \e937
					tr.brand-graph_descending
						td.icon-brand
						td graph descending
						td.variable @brand-graph_descending
						td.unicode \e938
					tr.brand-graph_rising
						td.icon-brand
						td graph rising
						td.variable @brand-graph_rising
						td.unicode \e939
					tr.brand-graph
						td.icon-brand
						td graph
						td.variable @brand-graph
						td.unicode \e93a
					tr.brand-hammer
						td.icon-brand
						td hammer
						td.variable @brand-hammer
						td.unicode \e93b
					tr.brand-happy_drop
						td.icon-brand
						td happy drop
						td.variable @brand-happy_drop
						td.unicode \e93c
					tr.brand-headphones
						td.icon-brand
						td headphones
						td.variable @brand-headphones
						td.unicode \e93d
					tr.brand-heart_broken
						td.icon-brand
						td heart broken
						td.variable @brand-heart_broken
						td.unicode \e93e
					tr.brand-heart
						td.icon-brand
						td heart
						td.variable @brand-heart
						td.unicode \e93f
					tr.brand-home
						td.icon-brand
						td home
						td.variable @brand-home
						td.unicode \e940
					tr.brand-hourglass
						td.icon-brand
						td hourglass
						td.variable @brand-hourglass
						td.unicode \e941
					tr.brand-image
						td.icon-brand
						td image
						td.variable @brand-image
						td.unicode \e942
					tr.brand-key
						td.icon-brand
						td key
						td.variable @brand-key
						td.unicode \e943
					tr.brand-life_buoy
						td.icon-brand
						td life buoy
						td.variable @brand-life_buoy
						td.unicode \e944
					tr.brand-list
						td.icon-brand
						td list
						td.variable @brand-list
						td.unicode \e945
					tr.brand-lock_closed
						td.icon-brand
						td lock closed
						td.variable @brand-lock_closed
						td.unicode \e946
					tr.brand-lock_open
						td.icon-brand
						td lock open
						td.variable @brand-lock_open
						td.unicode \e947
					tr.brand-loudspeaker
						td.icon-brand
						td loudspeaker
						td.variable @brand-loudspeaker
						td.unicode \e948
					tr.brand-magnifier_minus
						td.icon-brand
						td magnifier minus
						td.variable @brand-magnifier_minus
						td.unicode \e949
					tr.brand-magnifier_plus
						td.icon-brand
						td magnifier plus
						td.variable @brand-magnifier_plus
						td.unicode \e94a
					tr.brand-magnifier
						td.icon-brand
						td magnifier
						td.variable @brand-magnifier
						td.unicode \e94b
					tr.brand-mail_open
						td.icon-brand
						td mail open
						td.variable @brand-mail_open
						td.unicode \e94c
					tr.brand-mail
						td.icon-brand
						td mail
						td.variable @brand-mail
						td.unicode \e94d
					tr.brand-map
						td.icon-brand
						td map
						td.variable @brand-map
						td.unicode \e94e
					tr.brand-medical_case
						td.icon-brand
						td medical case
						td.variable @brand-medical_case
						td.unicode \e94f
					tr.brand-microphone_1
						td.icon-brand
						td microphone 1
						td.variable @brand-microphone_1
						td.unicode \e950
					tr.brand-microphone_2
						td.icon-brand
						td microphone 2
						td.variable @brand-microphone_2
						td.unicode \e951
					tr.brand-minus
						td.icon-brand
						td minus
						td.variable @brand-minus
						td.unicode \e952
					tr.brand-multiple_image
						td.icon-brand
						td multiple image
						td.variable @brand-multiple_image
						td.unicode \e953
					tr.brand-music_back
						td.icon-brand
						td music back
						td.variable @brand-music_back
						td.unicode \e954
					tr.brand-music_backtoend
						td.icon-brand
						td music backtoend
						td.variable @brand-music_backtoend
						td.unicode \e955
					tr.brand-music_eject
						td.icon-brand
						td music eject
						td.variable @brand-music_eject
						td.unicode \e956
					tr.brand-music_forward
						td.icon-brand
						td music forward
						td.variable @brand-music_forward
						td.unicode \e957
					tr.brand-music_forwardtoend
						td.icon-brand
						td music forwardtoend
						td.variable @brand-music_forwardtoend
						td.unicode \e958
					tr.brand-music_pause
						td.icon-brand
						td music pause
						td.variable @brand-music_pause
						td.unicode \e959
					tr.brand-music_play
						td.icon-brand
						td music play
						td.variable @brand-music_play
						td.unicode \e95a
					tr.brand-music_random
						td.icon-brand
						td music random
						td.variable @brand-music_random
						td.unicode \e95b
					tr.brand-music_repeat
						td.icon-brand
						td music repeat
						td.variable @brand-music_repeat
						td.unicode \e95c
					tr.brand-music_stop
						td.icon-brand
						td music stop
						td.variable @brand-music_stop
						td.unicode \e95d
					tr.brand-musical_note
						td.icon-brand
						td musical note
						td.variable @brand-musical_note
						td.unicode \e95f
					tr.brand-musical_note_2
						td.icon-brand
						td musical note 2
						td.variable @brand-musical_note_2
						td.unicode \e95e
					tr.brand-old_video_cam
						td.icon-brand
						td old video cam
						td.variable @brand-old_video_cam
						td.unicode \e960
					tr.brand-paper_pen
						td.icon-brand
						td paper pen
						td.variable @brand-paper_pen
						td.unicode \e961
					tr.brand-paper_pencil
						td.icon-brand
						td paper pencil
						td.variable @brand-paper_pencil
						td.unicode \e962
					tr.brand-paper_sheet
						td.icon-brand
						td paper sheet
						td.variable @brand-paper_sheet
						td.unicode \e963
					tr.brand-pen_pencil_ruler
						td.icon-brand
						td pen pencil ruler
						td.variable @brand-pen_pencil_ruler
						td.unicode \e964
					tr.brand-pencil_ruler
						td.icon-brand
						td pencil ruler
						td.variable @brand-pencil_ruler
						td.unicode \e965
					tr.brand-pencil
						td.icon-brand
						td pencil
						td.variable @brand-pencil
						td.unicode \e966
					tr.brand-plus
						td.icon-brand
						td plus
						td.variable @brand-plus
						td.unicode \e967
					tr.brand-portable_pc
						td.icon-brand
						td portable pc
						td.variable @brand-portable_pc
						td.unicode \e968
					tr.brand-pricetag
						td.icon-brand
						td pricetag
						td.variable @brand-pricetag
						td.unicode \e969
					tr.brand-printer
						td.icon-brand
						td printer
						td.variable @brand-printer
						td.unicode \e96a
					tr.brand-profile_add
						td.icon-brand
						td profile add
						td.variable @brand-profile_add
						td.unicode \e96b
					tr.brand-profile_remove
						td.icon-brand
						td profile remove
						td.variable @brand-profile_remove
						td.unicode \e96c
					tr.brand-profile
						td.icon-brand
						td profile
						td.variable @brand-profile
						td.unicode \e96d
					tr.brand-rainy
						td.icon-brand
						td rainy
						td.variable @brand-rainy
						td.unicode \e96e
					tr.brand-rotate
						td.icon-brand
						td rotate
						td.variable @brand-rotate
						td.unicode \e96f
					tr.brand-setting_1
						td.icon-brand
						td setting 1
						td.variable @brand-setting_1
						td.unicode \e970
					tr.brand-setting_2
						td.icon-brand
						td setting 2
						td.variable @brand-setting_2
						td.unicode \e971
					tr.brand-share
						td.icon-brand
						td share
						td.variable @brand-share
						td.unicode \e972
					tr.brand-shield_down
						td.icon-brand
						td shield down
						td.variable @brand-shield_down
						td.unicode \e973
					tr.brand-shield_left
						td.icon-brand
						td shield left
						td.variable @brand-shield_left
						td.unicode \e974
					tr.brand-shield_right
						td.icon-brand
						td shield right
						td.variable @brand-shield_right
						td.unicode \e975
					tr.brand-shield_up
						td.icon-brand
						td shield up
						td.variable @brand-shield_up
						td.unicode \e976
					tr.brand-shopping_cart_content
						td.icon-brand
						td shopping cart content
						td.variable @brand-shopping_cart_content
						td.unicode \e977
					tr.brand-shopping_cart
						td.icon-brand
						td shopping cart
						td.variable @brand-shopping_cart
						td.unicode \e978
					tr.brand-sinth
						td.icon-brand
						td sinth
						td.variable @brand-sinth
						td.unicode \e979
					tr.brand-smartphone
						td.icon-brand
						td smartphone
						td.variable @brand-smartphone
						td.unicode \e97a
					tr.brand-spread
						td.icon-brand
						td spread
						td.variable @brand-spread
						td.unicode \e97b
					tr.brand-squares
						td.icon-brand
						td squares
						td.variable @brand-squares
						td.unicode \e97c
					tr.brand-stormy
						td.icon-brand
						td stormy
						td.variable @brand-stormy
						td.unicode \e97d
					tr.brand-sunny
						td.icon-brand
						td sunny
						td.variable @brand-sunny
						td.unicode \e97e
					tr.brand-tablet
						td.icon-brand
						td tablet
						td.variable @brand-tablet
						td.unicode \e97f
					tr.brand-three_stripes_horiz
						td.icon-brand
						td three stripes horiz
						td.variable @brand-three_stripes_horiz
						td.unicode \e980
					tr.brand-three_stripes_vert
						td.icon-brand
						td three stripes vert
						td.variable @brand-three_stripes_vert
						td.unicode \e981
					tr.brand-ticket
						td.icon-brand
						td ticket
						td.variable @brand-ticket
						td.unicode \e982
					tr.brand-todolist_add
						td.icon-brand
						td todolist add
						td.variable @brand-todolist_add
						td.unicode \e983
					tr.brand-todolist_check
						td.icon-brand
						td todolist check
						td.variable @brand-todolist_check
						td.unicode \e984
					tr.brand-todolist
						td.icon-brand
						td todolist
						td.variable @brand-todolist
						td.unicode \e985
					tr.brand-trash_bin
						td.icon-brand
						td trash bin
						td.variable @brand-trash_bin
						td.unicode \e986
					tr.brand-tshirt
						td.icon-brand
						td tshirt
						td.variable @brand-tshirt
						td.unicode \e987
					tr.brand-tv_monitor
						td.icon-brand
						td tv monitor
						td.variable @brand-tv_monitor
						td.unicode \e988
					tr.brand-umbrella
						td.icon-brand
						td umbrella
						td.variable @brand-umbrella
						td.unicode \e989
					tr.brand-upload_folder
						td.icon-brand
						td upload folder
						td.variable @brand-upload_folder
						td.unicode \e98a
					tr.brand-upload
						td.icon-brand
						td upload
						td.variable @brand-upload
						td.unicode \e98b
					tr.brand-variable
						td.icon-brand
						td variable
						td.variable @brand-variable
						td.unicode \e98c
					tr.brand-video_cam
						td.icon-brand
						td video cam
						td.variable @brand-video_cam
						td.unicode \e98d
					tr.brand-volume_higher
						td.icon-brand
						td volume higher
						td.variable @brand-volume_higher
						td.unicode \e98e
					tr.brand-volume_lower
						td.icon-brand
						td volume lower
						td.variable @brand-volume_lower
						td.unicode \e98f
					tr.brand-volume_off
						td.icon-brand
						td volume off
						td.variable @brand-volume_off
						td.unicode \e990
					tr.brand-watch
						td.icon-brand
						td watch
						td.variable @brand-watch
						td.unicode \e991
					tr.brand-waterfall
						td.icon-brand
						td waterfall
						td.variable @brand-waterfall
						td.unicode \e992
					tr.brand-website_1
						td.icon-brand
						td website 1
						td.variable @brand-website_1
						td.unicode \e993
					tr.brand-website_2
						td.icon-brand
						td website 2
						td.variable @brand-website_2
						td.unicode \e994
					tr.brand-wine
						td.icon-brand
						td wine
						td.variable @brand-wine
						td.unicode \e995