block settings
	- var title = "Budgeting Tool"
	//- var sidebar = true
	//- var toolbars = true
	//- var cookiemonster = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Templates", href: "index.html#templates"},
		{title: "Budgeting Tool"}])

//block sidebar
	- var section = "Nav"
	+sidebar([
		{title: "Budgeting Tool"}
		],0)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		.main-content__right
			h2(style="margin-top: 0;") Income - Benefits

			fieldset
				label(for="income") Income support
					a.remove.u-pull-right(href="#") Remove
				.field-group.field-group--dropdown
					input#income(placeholder="£", type="number")
					.dropdown
						select#exampleSelect1
							option Weekly
							option Monthly
							option Yearly

			fieldset
				label(for="income") Tax credit
					a.remove.u-pull-right(href="#") Remove
				.field-group.field-group--dropdown
					input#income(placeholder="£", type="number")
					.dropdown
						select#exampleSelect1
							option Weekly
							option Monthly
							option Yearly

			fieldset
				label(for="addbenefit") Add another benefit
				.field-group.well
					.field
						.dropdown(style="width:100%;")
							select#exampleSelect1
								option Housing benefit
								option Child benefit
								option Disability Living Allowance
								option Incapacity Benefit
								option Jobseeker's Allowance
								option Council Tax Benefit
								option Statutory Maternity Pay
								option Carer's Allowance
					.function
						button.btn.btn-success.plus-button-icon(type="button") Add

			button.btn.btn-primary-light.left-button-icon(type="button") Income
			button.btn.btn-primary.right-button-icon(type="button") Household

		nav.side-nav-beta.tools
			ul
				li.side-nav-beta__heading.-active.-open
					a
						span Budgeting tool
				li
					ul
						li.side-nav-beta__sibling.-visited
							a(href="#") Start
						li.side-nav-beta__sibling.-current
							a(href="#") Income
						li.side-nav-beta__sibling
							a(href="#") 1. Bills
						li.side-nav-beta__sibling
							a(href="#") 2. Household
						li.side-nav-beta__sibling
							a(href="#") 3. Leisure
						li.side-nav-beta__sibling
							a(href="#") 4. Travel
						li.side-nav-beta__sibling
							a(href="#") 5. Car
						li.side-nav-beta__sibling
							a(href="#") 6. Child
						li.side-nav-beta__sibling
							a(href="#") 7. Family
						li.side-nav-beta__sibling
							a(href="#") 8. Debt
						li.side-nav-beta__sibling
							a(href="budgeting-tool-results.html") Results