block settings
	- var title = "Budgeting tool"
	//- var sidebar = true
	//- var toolbars = true
	//- var cookiemonster = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Templates", href: "index.html#templates"},
		{title: "Budgeting tool"}])

//block sidebar
	- var section = "Sidebar"
	+sidebar([
		{title: "Link"}
		],0)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].

block script
	script(src="../libs/javascript/vendor/highcharts/highcharts.js")
	script(src="../libs/javascript/vendor/highcharts/modules/exporting.js")
	script.
		// OVERVIEW CHART
		$(function () {
			var chart = new Highcharts.Chart({
				colors: ['#004B88', '#FCBB69'],
				chart: {
					type: 'column',
					renderTo: 'overview-chart',
					backgroundColor:'rgba(255,255,255,0)'
				},
				title: {
					text: null
				},
				xAxis: {
					labels: {
						enabled: false
					}
				},
				yAxis: {
					title:
					{
						enabled: false
					}
				},
				tooltip: {
					formatter: function () {
						return this.series.name + ': <b>£' + this.y + '</b>';
					}
				},
				credits: {
					enabled: false
				},
				series: [{
					name: 'Income',
					data: [250]
				},
						{
					name: 'Spending',
					data: [450]
				}],
				navigation: {
					buttonOptions: {
						enabled: false
					}
				}
			});
		});

		// INCOME CHART
		$(function () {
			var chart = new Highcharts.Chart({
				colors: ['#f8a980', '#ffbf47', '#b9db9b', '#a5bddc', '#b5afd7', '#81cec6', '#f499be', '#e76568', '#87c3d0'],
				chart: {
					type: 'pie',
					renderTo: 'income-chart',
					backgroundColor:'#f2f2f2'
				},
				title: {
					text: null
				},
				tooltip: {
					formatter: function () {
						return this.point.name + ': <b>£' + this.y + '</b>';
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: false,
						cursor: 'pointer',
						dataLabels: {
							enabled: true
						},
						showInLegend: false
					}
				},
				credits: {
					enabled: false
				},
				series: [{
					name: 'Income',
					colorByPoint: true,
					data: [{
						name: 'Wages',
						y: 50
					}, {
						name: 'Lodger(s)',
						y: 50
					}, {
						name: 'Pension',
						y: 50
					}, {
						name: 'Child Support',
						y: 50
					}, {
						name: 'Benefits',
						y: 50
					}],
					dataLabels: {
						formatter: function () {
							return this.point.name + ' £' + this.y;
						}
					}
				}],
				navigation: {
					buttonOptions: {
						enabled: false
					}
				}
			});
		});

		// MOBILE CHART
		$(function () {
			var chart = new Highcharts.Chart({
				colors: ['#f8a980', '#ffbf47', '#b9db9b', '#a5bddc', '#b5afd7', '#81cec6', '#f499be', '#e76568', '#87c3d0'],
				chart: {
					type: 'pie',
					renderTo: 'mobile-spending-chart',
					backgroundColor:'#f2f2f2'
				},
				title: {
					text: null
				},
				tooltip: {
					formatter: function () {
						return this.point.name + ': <b>£' + this.y + '</b>';
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: false,
						cursor: 'pointer',
						dataLabels: {
							enabled: true
						},
						showInLegend: false
					}
				},
				credits: {
					enabled: false
				},
				series: [{
					name: 'Spending',
					colorByPoint: true,
					data: [{
						name: 'Bills',
						y: 6
					}, {
						name: 'Household',
						y: 11
					}, {
						name: 'Leisure',
						y: 10
					}, {
						name: 'Travel',
						y: 4
					}, {
						name: 'Car',
						y: 7
					}, {
						name: 'Child',
						y: 7
					}, {
						name: 'Family',
						y: 3
					}, {
						name: 'Debt',
						y: 14
					}, {
						name: 'Savings',
						y: 1
					}],
					dataLabels: {
						formatter: function () {
							return this.point.name + ' £' + this.y;
						}
					}
				}],
				navigation: {
					buttonOptions: {
						enabled: false
					}
				}
			});
		});

		// DESKTOP CHART
		$(function () {

			var //colors = Highcharts.getOptions().colors,
				categories = ['Bills', 'Household', 'Leisure', 'Travel', 'Car', 'Child', 'Family', 'Debt', 'Savings'],
				//colors: ['#f8a980', '#ffbf47', '#b9db9b', '#a5bddc', '#b5afd7', '#81cec6', '#f499be', '#e76568', '#87c3d0'],
				data = [{
					y: 6,
					color: '#f8a980',
					drilldown: {
						name: 'Bills',
						categories: ['Rent or mortgage', 'Council Tax / Rates', 'Buildings and contents insurance', 'Gas and electricity', 'Water', 'TV licence'],
						data: [1, 1, 1, 1, 1, 1]
					}
				}, {
					y: 11,
					color: '#ffbf47',
					drilldown: {
						name: 'Household',
						categories: ['Grocery shopping (include food, drinks, toiletries and cleaning supplies etc)', 'Work lunches and coffees, teas etc', 'Cigarettes and tobacco', 'Alcohol (bought from an off-licence or shop but not from the pub, bar or restaurant)', 'Clothing and footwear', 'Repairs and house maintenance', 'Hire purchases or conditional sale items (eg a sofa or TV paid in monthly instalments)', 'Haircuts', 'Laundrette', 'Medicines (including prescription charges)', 'Dentistry', 'Insurance (life or home, but not travel)'],
						data: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
					}
				}, {
					y: 10,
					color: '#b9db9b',
					drilldown: {
						name: 'Leisure',
						categories: ['Meals and drinks out', 'Memberships (eg gym or cinema membership)', 'Magazines and newspapers', 'Books or music (in any format)', 'Website subscriptions (eg news, dating or music/video streaming websites)', 'Season tickets', 'Cinema or theatre tickets', 'Holiday (include cost of travel, accommodation, expenses while you’re there and travel insurance) ', 'Cigarettes or other tobacco', 'Lottery and pools'],
						data: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
					}
				}, {
					y: 4,
					color: '#a5bddc',
					drilldown: {
						name: 'Travel',
						categories: ['Public transport (including season tickets', 'Taxis', 'Bicycle (including running costs such as repair or rental', 'Car rental (including petrol'],
						data: [1, 1, 1, 1]
					}
				}, {
					y: 7,
					color: '#b5afd7',
					drilldown: {
						name: 'Car',
						categories: ['Car insurance', 'Road tax', 'Fuel', 'MOT', 'Car maintenance', 'Breakdown or recovery', 'Parking/congestion charges'],
						data: [1, 1, 1, 1, 1, 1, 1]
					}
				}, {
					y: 7,
					color: '#81cec6',
					drilldown: {
						name: 'Child',
						categories: ['Childcare', 'Child support/maintenance', 'Tuition fees', 'School uniform', 'School meals', 'Pocket money and school trips', 'Nappies and baby items (if you haven’t already included in groceries)'],
						data: [1 ,1 ,1 ,1 ,1 ,1 ,1]
					}
				}, {
					y: 3,
					color: '#f499be',
					drilldown: {
						name: 'Family',
						categories: ['Adult care (eg care home costs for an elderly relative)', 'Christmas and birthday presents', 'Pet-related expenses (eg vet bills, pet food and insurance)'],
						data: [1, 1, 1]
					}
				}, {
					y: 14,
					color: '#e76568',
					drilldown: {
						name: 'Debt',
						categories: ['Mortgage, rent or any loans secured against your home', 'Council Tax', 'Credit card, store card debts or payday loans', 'Bank or building society loans', 'Personal loans', 'Catalogue, home credit or in-store credit debts', 'Overdrafts' , 'Money borrowed from friends or family', 'Income Tax, National Insurance and VAT', 'Gas and electricity bills', 'Child maintenance', 'TV licence', 'Hire purchase agreements', 'Court fines'],
						data: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
					}
				}, {
					y: 1,
					color: '#87c3d0',
					drilldown: {
						name: 'Savings',
						categories: ['Savings'],
						data: [1]
					}
				}],
				sectionData = [],
				spendingData = [],
				i,
				j,
				dataLen = data.length,
				drillDataLen,
				brightness;

			// Build the data arrays
			for (i = 0; i < dataLen; i += 1) {

				// add browser data
				sectionData.push({
					name: categories[i],
					y: data[i].y,
					color: data[i].color
				});

				// add version data
				drillDataLen = data[i].drilldown.data.length;
				for (j = 0; j < drillDataLen; j += 1) {
					brightness = 0.2 - (j / drillDataLen) / 5;
					spendingData.push({
						name: data[i].drilldown.categories[j],
						y: data[i].drilldown.data[j],
						color: Highcharts.Color(data[i].color).brighten(brightness).get()
					});
				}
			}

			// Create the chart
			var chart = new Highcharts.Chart({
				chart: {
					type: 'pie',
					renderTo: 'desktop-spending-chart',
					backgroundColor:'#f2f2f2'
				},
				title: {
					text: null
				},
				plotOptions: {
					pie: {
						shadow: false,
						center: ['50%', '50%'],
						cursor: 'pointer',
						dataLabels: {
							enabled: true
						}
					}
				},
				tooltip: {
					formatter: function () {
						return this.point.name + ': <b>£' + this.y + '</b>';
					}
				},
				series: [{
					name: 'Spending',
					data: sectionData,
					size: '70%',
					dataLabels: {
						formatter: function () {
							// display only if larger than 5
							return this.y > 5 ? this.point.name : null;
						},
						color: '#ffffff',
						distance: -30
					}
				}, {
					name: 'Spending',
					data: spendingData,
					size: '80%',
					innerSize: '70%',
					dataLabels: {
						formatter: function () {
							// display only if larger than 25
							return this.y > 25 ? this.point.name + ': £' + this.y : null;
						}
					}
				}],
				navigation: {
					buttonOptions: {
						enabled: false
					}
				}
			});
		});
				
block content
	.articleContent
		.main-content__right
			
			h2 Results

			p 
				| Total monthly income: #[strong £250.00]
				br
				| Total spending: #[strong £450.00]

			h3 You are spending £200 more than your income
			//h3 You are spending [UnderAmount] less than your income

			.well
				div#overview-chart(style="min-width: 300px; margin: 0 auto;")

			ul
				li 
					a.a-pdf-doc Download your full budget sheet to save or print
				li 
					a(href="#detailed") See a detailed breakdown of your income and spending

			.callout--alert
				h3 Your income isn’t covering your costs

				p As your income isn’t covering your living costs:
				ul
					li see if there’s any way you can #[a cut your costs/reduce your spending]
					li see if you can #[a get help towards your living costs]
					li make sure you’re #[a prioritising the right bills] - this means that if getting into debt short-term is unavoidable, you can at least keep paying the most important bills and avoid some of the worst dangers of getting in debt
					li if you’re really struggling with your money and are in lots of debt, you can get help from your #[a(href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/") local Citizens Advice]

			.callout--confirmation
				h3 You’ve got some money left each month

				p As you’ve got some money spare each month you could consider:
				ul
					li #[a(href="https://www.citizensadvice.org.uk/debt-and-money/savings/") saving some money]
					li increasing your repayments, if you’re repaying debts

			.callout--alert
				h3 Your living costs 

				p The amounts you put in for the following areas look a bit high. There might be good reasons for this, but it might be worth checking if you can cut your costs in these areas:
				ul
					li Gas and electricity - short para of advice and LINK
					li Phone/TV/broadband - short para of advice and LINK 
					li Food - short para of advice and LINK 
					li Insurance - short para of advice and LINK 

			h3 Dealing with debts

			p If you have debts your budget can be used to help find the right debt solution for your circumstances. The options available to you depend on how much (if any) spare income you have each month. You can see our content on #[a(href="https://www.citizensadvice.org.uk/debt-and-money/help-with-debt/options-for-getting-out-of-debt/checking-your-options-for-getting-out-of-debt/") getting out of debt], or get help from your #[a(href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/") local Citizens Advice]. 

			h3 Tips for keeping on top of your budget

			p Keep a spending diary for a month to keep track of exactly what you spend. You could keep receipts and write down everything you spend your money on or use a spending diary app on your mobile phone.
			ul
				li Sign up for text balance alerts from your bank - this can help you keep on top of your bank balance.
				li Sign up for online banking - it can be quicker and easier to check your bank balance.

			p Some local Citizens Advice offices also run free sessions on budgeting and managing your money. They cover things like:
			ul
				li how to reduce your costs
				li how to budget
				li how to set up and use a bank account
				li how to set up standing orders and direct debits 

			p Ask #[a(href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/search-for-your-local-citizens-advice/") local Citizens Advice] whether they offer these services.

			h2#detailed Income breakdown

			table.full-width
				thead
					tr
						th(scope="col", colspan="2") Income
				tbody
					tr
						td Wages
						td.amount £50.00
					tr
						td Lodger(s)
						td.amount £50.00
					tr
						td Pension
						td.amount £50.00
					tr.table-collapse--toggle
						td Child Support
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Child maintenance or support
										td.amount £0.00
									tr
										td Child Benefit
										td.amount £0.00
									tr
										td Child Tax Credit
										td.amount £0.00
									tr
										td Guardian’s Allowance
										td.amount £0.00
					tr.table-collapse--toggle
						td Benefits
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Attendance Allowance
										td.amount £0.00
									tr
										td Bereavement Allowance
										td.amount £0.00
									tr
										td Bereavement payment (lump-sum)
										td.amount £0.00
									tr
										td Carer’s Allowance
										td.amount £0.00
									tr
										td Disability Living Allowance
										td.amount £0.00
									tr
										td Employment and Support Allowance
										td.amount £0.00
									tr
										td Housing Benefit
										td.amount £0.00
									tr
										td Incapacity Benefit
										td.amount £0.00
									tr
										td Income Support
										td.amount £0.00
									tr
										td Industrial Injuries Benefit
										td.amount £0.00
									tr
										td Jobseeker’s Allowance
										td.amount £0.00
									tr
										td Maternity Allowance
										td.amount £0.00
									tr
										td Pension Credit
										td.amount £0.00
									tr
										td Personal Independence Payment
										td.amount £0.00
									tr
										td Severe Disablement Allowance
										td.amount £0.00
									tr
										td Universal Credit
										td.amount £0.00
									tr
										td War Widow’s (or Widower’s) Pension
										td.amount £0.00
									tr
										td Widowed Parent’s Allowance
										td.amount £0.00
									tr
										td Widow’s Pension
										td.amount £0.00
									tr
										td Winter Fuel Payment and Christmas Bonus
										td.amount £0.00
									tr
										td Working Tax Credit
										td.amount £0.00
									tr
										td Young Person’s Bridging Allowance
										td.amount £0.00
					tr.total
						td Total
						td.amount £250.00

			.well
				div#income-chart(style="min-width: 310px; margin: 0 auto;")

			h2 Spending breakdown

			table.full-width
				thead
					tr
						th(scope="col", colspan="2") Spending
				tbody
					tr.table-collapse--toggle
						td Bills
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Rent or mortgage
										td.amount £0.00
									tr
										td Council Tax / Rates
										td.amount £0.00
									tr
										td Buildings and contents insurance
										td.amount £0.00
									tr
										td Gas and electricity
										td.amount £0.00
									tr
										td Water
										td.amount £0.00
									tr
										td TV licence
										td.amount £0.00
					tr.table-collapse--toggle
						td Household
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Grocery shopping (include food, drinks, toiletries and cleaning supplies etc)
										td.amount £0.00
									tr
										td Work lunches and coffees, teas etc
										td.amount £0.00
									tr
										td Cigarettes and tobacco
										td.amount £0.00
									tr
										td Alcohol (bought from an off-licence or shop but not from the pub, bar or restaurant)
										td.amount £0.00
									tr
										td Clothing and footwear
										td.amount £0.00
									tr
										td Repairs and house maintenance
										td.amount £0.00
									tr
										td Hire purchases or conditional sale items (eg a sofa or TV paid in monthly instalments)
										td.amount £0.00
									tr
										td Haircuts
										td.amount £0.00
									tr
										td Laundrette
										td.amount £0.00
									tr
										td Medicines (including prescription charges)
										td.amount £0.00
									tr
										td Dentistry
										td.amount £0.00
									tr
										td Insurance (life or home, but not travel)
										td.amount £0.00
					tr.table-collapse--toggle
						td Leisure
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Meals and drinks out
										td.amount £0.00
									tr
										td Memberships (eg gym or cinema membership)
										td.amount £0.00
									tr
										td Magazines and newspapers
										td.amount £0.00
									tr
										td Books or music (in any format)
										td.amount £0.00
									tr
										td Website subscriptions (eg news, dating or music/video streaming websites)
										td.amount £0.00
									tr
										td Season tickets
										td.amount £0.00
									tr
										td Cinema or theatre tickets
										td.amount £0.00
									tr
										td Holiday (include cost of travel, accommodation, expenses while you’re there and travel insurance) 
										td.amount £0.00
									tr
										td Cigarettes or other tobacco
										td.amount £0.00
									tr
										td Lottery and pools
										td.amount £0.00
					tr.table-collapse--toggle
						td Travel
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Public transport (including season tickets)
										td.amount £0.00
									tr
										td Taxis 
										td.amount £0.00
									tr
										td Bicycle (including running costs such as repair or rental)
										td.amount £0.00
									tr
										td Car rental (including petrol)
										td.amount £0.00
									tr
										td Car hire as purchase payment
										td.amount £0.00
					tr.table-collapse--toggle
						td Car
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Car insurance
										td.amount £0.00
									tr
										td Road tax
										td.amount £0.00
									tr
										td Fuel
										td.amount £0.00
									tr
										td MOT
										td.amount £0.00
									tr
										td Car maintenance
										td.amount £0.00
									tr
										td Breakdown or recovery
										td.amount £0.00
									tr
										td Parking/congestion charges
										td.amount £0.00
					tr.table-collapse--toggle
						td Child
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Childcare
										td.amount £0.00
									tr
										td Child support/maintenance
										td.amount £0.00
									tr
										td Tuition fees
										td.amount £0.00
									tr
										td School uniform
										td.amount £0.00
									tr
										td School meals 
										td.amount £0.00
									tr
										td Pocket money and school trips
										td.amount £0.00
									tr
										td Nappies and baby items (if you haven’t already included in groceries)
										td.amount £0.00
					tr.table-collapse--toggle
						td Family
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Adult care (eg care home costs for an elderly relative)
										td.amount £0.00
									tr
										td Christmas and birthday presents
										td.amount £0.00
									tr
										td Pet-related expenses (eg vet bills, pet food and insurance)
										td.amount £0.00
					tr.table-collapse--toggle
						td Debt
						td.amount £50.00
					tr.table-collapse
						td(colspan="2")
							table.full-width
								tbody
									tr
										td Mortgage, rent or any loans secured against your home
										td.amount £0.00
									tr
										td Council Tax
										td.amount £0.00
									tr
										td Credit card, store card debts or payday loans
										td.amount £0.00
									tr
										td Bank or building society loans
										td.amount £0.00
									tr
										td Personal loans
										td.amount £0.00
									tr
										td Catalogue, home credit or in-store credit debts
										td.amount £0.00
									tr
										td Overdrafts 
										td.amount £0.00
									tr
										td Money borrowed from friends or family
										td.amount £0.00
									tr
										td Income Tax, National Insurance and VAT
										td.amount £0.00
									tr
										td Gas and electricity bills
										td.amount £0.00
									tr
										td Child maintenance
										td.amount £0.00
									tr
										td TV licence
										td.amount £0.00
									tr
										td Hire purchase agreements
										td.amount £0.00
									tr
										td Court fines
										td.amount £0.00
					tr
						td Savings
						td.amount £50.00
					tr.total
						td Total
						td.amount £450.00
			
			.well
				div#desktop-spending-chart.hide-mobile(style="min-width: 310px; margin: 0 auto;")
				div#mobile-spending-chart.show-mobile(style="min-width: 310px; margin: 0 auto;")

		nav.side-nav-beta.tools
			ul
				li.side-nav-beta__heading.-active.-open
					a
						span Budgeting tool
				li
					ul
						li.side-nav-beta__sibling.-visited
							a(href="#") Start
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") Income
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 1. Bills
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 2. Household
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 3. Leisure
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 4. Travel
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 5. Car
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 6. Child
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 7. Family
						li.side-nav-beta__sibling.-visited
							a(href="budgeting-tool.html") 8. Debt
						li.side-nav-beta__sibling.-current
							a(href="#") Results