block settings
	- var title = "Buttons"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Forms", href: "index.html#forms"},
		{title: "Buttons"}])

block sidebar
	include ../template/sidebar-styles.jade

block content
	.articleContent
		div
			h2 Buttons (directions)
			.example-box-plain
				button.btn-light.left-button-icon(type="button") Back
				button.btn.right-button-icon(type="button") Continue
				button.btn.tick-button-icon(type="submit") Submit
				button.btn.search-button-icon(type="button") Search
				// Recommending we use the lighter back button to differentiate between purposes
			pre
				code.language-html
					| &lt;button type="button" class="btn-light left-button-icon"&gt;Back&lt;/button&gt;
					| &lt;button type="button" class="btn right-button-icon"&gt;Continue&lt;/button&gt;
					| &lt;button type="submit" class="btn tick-button-icon"&gt;Submit&lt;/button&gt;
					| &lt;button type="button" class="btn search-button-icon"&gt;Search&lt;/button&gt;

			// Testing back button
			h2 Buttons (directions alternative)
			.example-box-plain
				button.btn-white.back-button-icon(type="button") Back
				button.btn-white.left-cancel-button-icon(type="button") Cancel
				// Recommending we use the lighter back button to differentiate between purposes
			pre
				code.language-html
					| &lt;button type="button" class="btn-white back-button-icon"&gt;Back&lt;/button&gt;
					| &lt;button type="button" class="btn-white left-cancel-button-icon"&gt;Cancel&lt;/button&gt;

			// Cmobining back button
			h2 Buttons combined (directions alternative)
			.example-box-plain
				button.btn-white.back-button-icon(type="button") Back
				button.btn.right-button-icon(type="button") Continue
				// Recommending we use the lighter back button to differentiate between purposes
			pre
				code.language-html
					| &lt;button type="button" class="btn-white back-button-icon"&gt;Back&lt;/button&gt;
					| &lt;button type="button" class="btn right-button-icon"&gt;Continue&lt;/button&gt;

			h2 Buttons (actions)
			.example-box-plain
				button.btn-secondary.email-button-icon(type="button") Email
				button.btn-secondary.print-button-icon(type="button") Print
				button.btn-secondary.restart-button-icon(type="reset") Restart
				button.btn-secondary.save-button-icon(type="button") Save
			pre
				code.language-html
					| &lt;button type="button" class="btn-secondary email-button-icon"&gt;Email&lt;/button&gt;
					| &lt;button type="button" class="btn-secondary print-button-icon"&gt;Print&lt;/button&gt;
					| &lt;button type="reset" class="btn-secondary restart-button-icon"&gt;Restart&lt;/button&gt;
					| &lt;button type="button" class="btn-secondary save-button-icon"&gt;Save&lt;/button&gt;

			h2 Buttons (additional)
			.example-box-plain
				button.btn-disabled(disabled, type="button") Continue
				button.btn-success(type="button") Success
				button.btn-warning.exclamation-button-icon(type="button") Warning
			pre
				code.language-html
					| &lt;button disabled type="button" class="btn-disabled"&gt;Continue&lt;/button&gt;
					| &lt;button type="button" class="btn-success"&gt;Success&lt;/button&gt;
					| &lt;button type="button" class="btn-warning exclamation-button-icon"&gt;Warning&lt;/button&gt;

			h2 Buttons (right)
			.example-box-plain
				button.btn-secondary.btn-right.print-button-icon(type="button") Print
			pre
				code.language-html
					| &lt;button type="button" class="btn-secondary btn-right print-button-icon"&gt;Print&lt;/button&gt;

			h2 Buttons (small)
			.example-box-plain
				button.btn.btn-small(type="button") Basic
				button.btn-light.btn-small(type="button") Light
				button.btn-secondary.btn-small(type="button") Secondary
				button.btn-white.btn-small(type="button") White
				br
				button.btn-small(disabled type="button") Disabled
				button.btn-success.btn-small(type="button") Success
				button.btn-warning.btn-small(type="button") Warning
			pre
				code.language-html
					| &lt;button type="button" class="btn btn-small"&gt;Basic&lt;/button&gt;
					| &lt;button type="button" class="btn-light btn-small"&gt;Light&lt;/button&gt;
					| &lt;button type="button" class="btn-secondary btn-small"&gt;Secondary&lt;/button&gt;
					| &lt;button type="button" class="btn-white btn-small"&gt;White&lt;/button&gt;
					| &lt;button disabled="" type="button" class="btn-small"&gt;Disabled&lt;/button&gt;
					| &lt;button type="button" class="btn-success btn-small"&gt;Success&lt;/button&gt;
					| &lt;button type="button" class="btn-warning btn-small"&gt;Warning&lt;/button&gt;

			h2 Buttons (group)
			.example-box-plain
				.btn-group
					button.btn(type="button") Left
					button.btn(type="button") Middle
					button.btn(type="button") Right
			pre
				code.language-html
					| &lt;div class="btn-group"&gt;
					| 	&lt;button type="button" class="btn"&gt;Left&lt;/button&gt;
					| 	&lt;button type="button" class="btn"&gt;Middle&lt;/button&gt;
					| 	&lt;button type="button" class="btn"&gt;Right&lt;/button&gt;
					| &lt;/div&gt;