block settings
	- var title = "Callouts"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Callouts"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p Used as part of content formats to highlight information. This can be a few words, paragraph or paragraphs with multiple links.
			p It is important to ask:
			ul
				li is the callout neccessary, too many, misused or unneccessary callouts weaken their value and can distract from other important content around it
				li which style of callout is relevant, is the information 'useful', 'important' or 'recommending'
			p Colours can't be relied upon as the only method of communicating the importance and content of a callout. Any callouts should be clearly titled using #[code.code h2] or #[code.code h3] tags. Use the appropriate Aria tags for the relevant callouts to ensure screenreaders understand the information contained.
			h2 Callout styles

			.example-box-plain
				.callout
					h3 Callout unstyled
					p This callout does not require an Aria tag but should be labeled with a clear heading.
					p This style is used for any neutral callouts or particularly common help tips, where the information needs to be seperated from the content.
					//a.callout__link Callout link
			pre
				code.language-html
					| &lt;div class="callout"&gt;
					| 	&lt;h3&gt;Callout unstyled&lt;/h3&gt;
					| 	&lt;p&gt;This callout does not require an Aria tag but should be labeled with a clear heading.&lt;/p&gt;
					| 	&lt;p&gt;This style is used for any neutral callouts or particularly common help tips, where the information needs to be seperated from the content.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--warning
					h3 Callout warning
					p Use the Aria tag #[code.code aria-label="Important"].
					p The warning callout should be used for any important snippet of text that has serious and/or legal implications if the client does not follow the advice.
					//a.callout__link Callout link
			pre
				code.language-html
					| &lt;div class="callout--warning"&gt;
					| 	&lt;h3&gt;Callout warning&lt;/h3&gt;
					| 	&lt;p&gt;Use the Aria tag &lt;code&gt;aria-label="Important"&lt;/code&gt;.&lt;/p&gt;
					| 	&lt;p&gt;The warning callout should be used for any important snippet of text that has serious and/or legal implications if the client does not follow the advice.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--alert
					h3 Callout alert
					p Use the Aria tag #[code.code aria-label="Help"].
					p This callout style should be applied on information which is important and will have implications on the client if they do understand and follow the advice but it isn't mandatory and won't have legal implications they don't follow.
					//a.callout__link Callout link
				.callout--alert--icon
					h3 Callout alert with icon
					p The icon is optional and can be including by adding the #[code.code .callout--icon] class. For accessibility purposes use aria-label="Help"].
			pre
				code.language-html
					| &lt;div class="callout--alert"&gt;
					| 	&lt;h3&gt;Callout alert&lt;/h3&gt;
					| 	&lt;p&gt;Use the Aria tag &lt;code&gt;aria-label="Help"&lt;/code&gt;.&lt;/p&gt;
					| 	&lt;p&gt;This callout style should be applied on information which is important and will have implications on the client if they do understand and follow the advice but it isn't mandatory and won't have legal implications they don't follow.&lt;/p&gt;
					| &lt;/div&gt;
					| &lt;div class="callout--alert--icon"&gt;
					| 	&lt;h3&gt;Callout alert with icon&lt;/h3&gt;
					| 	&lt;p&gt;The icon is optional and can be including by adding the &lt;code&gt;.callout--icon&lt;/code&gt; class.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--confirmation
					h3 Callout confirmation
					p This callout is used to confirm an action as correct or where the content needs to act as positive reinforcement of the informaiton i.e. 'Do apply for this if…'
				.callout--confirmation--icon
					h3 Callout confirmation with icon
					p The icon is optional and can be including by adding the #[code.code .callout--icon] class.
					//a.callout__link Callout link
			pre
				code.language-html
					| &lt;div class="callout--confirmation"&gt;
					| 	&lt;h3&gt;Callout confirmation&lt;/h3&gt;
					| 	&lt;p&gt;This callout is used to confirm an action as correct or where the content needs to act as positive reinforcement of the information i.e. 'Do apply for this if…'&lt;/p&gt;
					| &lt;/div&gt;
					| &lt;div class="callout--confirmation--icon"&gt;
					| 	&lt;h3&gt;Callout confirmation with icon&lt;/h3&gt;
					| 	&lt;p&gt;The icon is optional and can be including by adding the &lt;code&gt;.callout--icon&lt;/code&gt; class.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--quote
					h3 Callout quote
					p Also referred to as Blockquote, this style is when a quote needs to be displayed.
					//a.callout__link Callout link
			pre
				code.language-html
					| &lt;div class="callout--quote"&gt;
					| 	&lt;h3&gt;Callout quote&lt;/h3&gt;
					| 	&lt;p&gt;Also referred to as Blockquote, this style is when a quote needs to be displayed.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--adviser
					h3 Adviser content
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			pre
				code.language-html
					| &lt;div class="callout--adviser"&gt;
					| 	&lt;h3&gt;Adviser content&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| &lt;/div&gt;

			h2 Callouts combined
			p These callouts can be combined both consecutively or combined, someexamples are shown below.

			.example-box-plain
				.callout
					h3 Callout
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					.callout--quote
						h3 This is a quote
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					.callout--alert
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			pre
				code.language-html
					| &lt;div class="callout"&gt;
					| 	&lt;h3&gt;Callout&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| 	&lt;div class="callout--quote"&gt;
					| 		&lt;h3&gt;This is a quote&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="callout--alert"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--quote
					h3 This is a quote
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					.callout--warning
						h3 Callout warning
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			pre
				code.language-html
					| &lt;div class="callout--quote"&gt;
					| 	&lt;h3&gt;This is a quote&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| 	&lt;div class="callout--warning"&gt;
					| 		&lt;h3&gt;Callout warning&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.callout--related
					h3 Next steps
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Also #[a(href="#") including a link to other content].
			pre
				code.language-html
					| &lt;div class="callout--related"&gt;
					| 	&lt;h3&gt;Next steps&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Also &lt;a href="#"&gt; including a link to other content&lt;/a&gt;&lt;/p&gt;
					| &lt;/div&gt;

			// unindent when uncommenting
				h2 Brand callout styles
				p Below are examples of callout styles utilising the brand colour palette.
				p These should not be used as part of the advice content. They can be used after the advice content to help the client on their journey to the next step or to ask for support on a campaign related to the advice.

				.example-box-plain
					.callout--heritage
						h3 Callout heritage
						p Lorem ipsum.
				pre
					code.language-html
						| &lt;div class="callout--heritage"&gt;
						| 	&lt;h3&gt;Callout heritage&lt;/h3&gt;
						| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
						| &lt;/div&gt;

				.example-box-plain
					.callout--responsible
						h3 Callout responsible
						p Lorem ipsum.
				pre
					code.language-html
						| &lt;div class="callout--responsible"&gt;
						| 	&lt;h3&gt;Callout responsible&lt;/h3&gt;
						| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
						| &lt;/div&gt;

				.example-box-plain
					.callout--inventive
						h3 Callout inventive
						p Lorem ipsum.
				pre
					code.language-html
						| &lt;div class="callout--inventive"&gt;
						| 	&lt;h3&gt;Callout inventive&lt;/h3&gt;
						| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
						| &lt;/div&gt;

				.example-box-plain
					.callout--generous
						h3 Callout generous
						p Lorem ipsum.
				pre
					code.language-html
					| &lt;div class="callout--generous"&gt;
					| 	&lt;h3&gt;Callout generous&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/div&gt;

			h2 Wells

			p These are a variation on callouts that are only used in tools, to help organise forms and layouts.

			.example-box-plain
				.well
					h3 Well
					p Lorem ipsum.
			pre
				code.language-html
					| &lt;div class="well"&gt;
					| 	&lt;h3&gt;Well&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/div&gt;

			.example-box-plain
				.well--outline
					h3 Outline well
					p Lorem ipsum.
			pre
				code.language-html
					| &lt;div class="well--outline"&gt;
					| 	&lt;h3&gt;Outline well&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/div&gt;