block settings
	- var title = "Cards"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Cards"}])

block sidebar
	- var section = "Modules"
	+sidebar([
		{href: "callout.html", title: "Callout"},
		{href: "collapse.html", title: "Collapse"},
		{href: "charts.html", title: "Charts"},
		{href: "section-notice.html", title: "Section Notices"},
		{href: "toolbar.html", title: "Content toolbar"},
		{href: "cookie-monster.html", title: "Cookie Monster"},
		{href: "extent.html", title: "Extent Switcher"},
		{href: "overlay.html", title: "Modal/Overlay"},
		{href: "reference.html", title: "Reference tool"}
		{href: "cards.html", title: "Cards"}
	],8)

block content
	.articleContent
		div
			p.p-lede Used as part of content formats to highlight information. This can be a few words, paragraph or paragraphs with multiple links.
			p It is important to ask:
			ul
				li is the callout neccessary, too many, misused or unneccessary callouts weaken their value
				li which style of callout is relevant, is the information 'useful', 'important' or 'recommending'
			p Colours can't be relied upon as the only method of communicating the importance and content of a callout. Any callouts should be clearly titled using #[code h2] or #[code h3] tags. Use the appropriate Aria tags for the relevant callouts to ensure screenreaders understand the information contained.
			h2 Callout styles

			h2 Brand callout styles
			p Below are examples of callout styles utilising the brand colour palette.
			p These should not be used as part of the advice content. They can be used after the advice content to help the client on their journey to the next step or to ask for support on a campaign related to the advice.

			.example-box-plain
				.callout--heritage
					h3 Callout heritage
					p Lorem ipsum.
			pre
				code.language-html
					| &lt;div class="callout--heritage"&gt;
					| 	&lt;h3&gt;Callout heritage&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/div&gt;