block settings
	- var title = "Cards"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Branding", href: "index.html#branding"},
		{title: "Cards"}])

block sidebar
	include ../template/sidebar-brand.jade

block content
	.articleContent
		div
			p Cards are flexible content containers, for adding snippets of text and images.
			h2 Card uses

			.example-box-plain
				label Basic card
				.cards
					.card-image-top
						img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
					.card-text
						h3 Title
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
			pre
				code.language-html
					| &lt;div class="cards"&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;h3&gt;Title&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;


			//.example-box-plain
				label Landscape card
				.cards
					.row(style="margin:0;")
						//.card-banner-top(style="color:#fff; background-color:#004b88;")
							p Header
						.span6
							.card-image-left
								img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
						.span6
							.card-text-left
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
			//pre
				code.language-html
					| &lt;div class="cards"&gt;
					| 	&lt;div class="row"&gt;
					| 		&lt;div class="span6"&gt;
					| 			&lt;div class="card-image-left"&gt;
					| 				&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| 			&lt;/div&gt;
					| 		&lt;/div&gt;
					| 		&lt;div class="span6"&gt;
					| 			&lt;div class="card-text-left"&gt;
					| 				&lt;h3&gt;Title&lt;/h3&gt;
					| 				&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 			&lt;/div&gt;
					| 		&lt;/div&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;


			.example-box-plain
				label Extending
				.row
					.span6
						.cards
							.card-banner-top(style="color:#fff; background-color:#004b88;")
								p Header
							.card-image-top
								img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					.span6
						.cards
							.card-image-top
								img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
							.card-text
								h3 Title
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button") Continue

			pre
				code.language-html
					| &lt;div class="cards"&gt;
					| 	&lt;div style="color:#fff; background-color:#004b88;" class="card-banner-top"&gt;
					| 		&lt;p&gt;Header&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
					| &lt;div class="cards"&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;h3&gt;Title&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				label Branding
				.row
					.span6
						.cards(style="color:#fff; background-color:#006278;")
							.card-banner-top(style="background-color:#006278;")
								p(style="color:#fff;") Campaigns
							.card-image-top
								img(src="images/mother_with_children.jpg" alt="Mother with two daughters")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button") Continue

					.span6
						.cards(style="color:#fff; background-color:#32457E;")
							.card-banner-top
								p(style="color:#fff;") Policy
							.card-image-top
								img(src="images/laptop-branding.png" alt="Laptop")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button" style="background-color:#FFBF47; border-color:#FFBF47;") Continue

			pre
				code.language-html
					| &lt;div style="color:#fff; background-color:#006278;" class="cards"&gt;
					| 	&lt;div style="background-color:#006278;" class="card-banner-top"&gt;
					| 		&lt;p style="color:#fff;"&gt;Campaigns&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					|		&lt;img src="images/mother_with_children.jpg" alt="Mother with two daughters"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
					| &lt;div style="color:#fff; background-color:#32457E;" class="cards"&gt;
					| 	&lt;div class="card-banner-top"&gt;
					| 		&lt;p style="color:#fff;"&gt;Policy&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					|		&lt;img src="images/laptop-branding.png" alt="Laptop"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" style="background-color:#FFBF47; border-color:#FFBF47;" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
