block settings
	- var title = "Collapse"

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Molecules", href: "index.html#molecules"}, 
		{title: "Collapse"}])

block content
	.articleContent.row
		.span8

			.example-box-plain
				.collapse.collapsible
					.collapse-toggle Unstyled content inside header/toggle
					.collapse-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.collapse-toggle-close Close
			pre
				code.language-html
					| &lt;div class="collapse collapsible"&gt;
					| 	&lt;div class="collapse-toggle"&gt;Unstyled content inside header/toggle&lt;/div&gt;
					| 	&lt;div class="collapse-content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a class="collapse-toggle-close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.collapse.collapsible--aqua
					.collapse-toggle Collapses can be grouped
					.collapse-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.collapse-toggle-close Close
					.collapse-toggle Collapses can be grouped
					.collapse-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.collapse-toggle-close Close
			pre
				code.language-html
					| &lt;div class="collapse collapsible--aqua"&gt;
					| 	&lt;div class="collapse-toggle"&gt;Collapses can be grouped&lt;/div&gt;
					| 	&lt;div class="collapse-content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a class="collapse-toggle-close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="collapse-toggle"&gt;Collapses can be grouped&lt;/div&gt;
					| 	&lt;div class="collapse-content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a class="collapse-toggle-close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.collapse.collapsible--green
					.collapse-toggle
						h2 H2 Heading
						p Heading toggle can also contain formatted html.
					.collapse-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.collapse-toggle-close Close
			pre
				code.language-html
					| &lt;div class="collapse collapsible--green"&gt;
					| 	&lt;div class="collapse-toggle"&gt;
					| 		&lt;h2&gt;H2 Heading&lt;/h2&gt;
					| 		&lt;p&gt;Heading toggle can also contain formatted html.&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="collapse-content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a class="collapse-toggle-close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				.collapse.collapsible--red
					.collapse-toggle Unstyled content inside header/toggle
					.collapse-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.collapse-toggle-close Close
			pre
				code.language-html
					| &lt;div class="collapse collapsible--red"&gt;
					| 	&lt;div class="collapse-toggle"&gt;Unstyled content inside header/toggle&lt;/div&gt;
					| 	&lt;div class="collapse-content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a class="collapse-toggle-close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			.example-box-plain
				h2 Old syntax styling
				section.revealable
					h3#heading-one.revealable__heading(aria-controls="revealable-1", aria-expanded="true", tabindex="0", title="Expand section") Heading one
					div#revealable-1.revealable__content(aria-expanded="false", aria-hidden="false")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.
						a.revealable__close(href="#") Close
					h3#heading-two.revealable__heading(aria-controls="revealable-2", aria-expanded="false", tabindex="0", title="Expand section") Heading two
			pre
				code.language-html
					| &lt;section class="revealable"&gt;
					| 	&lt;h3 id="heading-one" aria-controls="revealable-1" aria-expanded="true" tabindex="0" title="Expand section" class="revealable__heading"&gt;Heading one&lt;/h3&gt;
					| 	&lt;div id="revealable-1" aria-expanded="false" aria-hidden="false" class="revealable__content"&gt;
					| 		&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| 		&lt;a href="#" class="revealable__close"&gt;Close&lt;/a&gt;
					| 	&lt;/div&gt;
					| 	&lt;h3 id="heading-two" aria-controls="revealable-2" aria-expanded="false" tabindex="0" title="Expand section" class="revealable__heading"&gt;Heading two&lt;/h3&gt;
					| &lt;/section&gt;