block settings
	- var title = "Colours"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Colours"}])

block sidebar
	include ../template/sidebar-styles.jade

block content
	.articleContent
		div
			.newrow
				.span12
					h3 Colour contrast
					p The colour contrast ratio for text and interactive elements should be at least 4.5:1 #[a(href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html") as recommended by the W3C].
					h3 Brand
					p Colours as defined in the #[a(href="#") Brand Guidelines]. To be used in pairs as displayed below. 
			.newrow
				.span4-sm.span6.swatch.swatch--brand--heritage-blue
					p Heritage Blue
						br
						| @heritage-blue
						br
				.span4-sm.span6.swatch.swatch--brand--heritage-yellow
					p Heritage Yellow
						br
						| @heritage-yellow
						br
			.newrow
				.span4-sm.span6.swatch.swatch--brand--responsible-purple
					p Responsible Purple
						br
						| @responsible-purple
						br
				.span4-sm.span6.swatch.swatch--brand--responsible-aqua
					p Responsible Aqua
						br
						| @responsible-aqua
						br
			.newrow
				.span4-sm.span6.swatch.swatch--brand--inventive-teal
					p Inventive Teal
						br
						| @inventive-teal
						br
				.span4-sm.span6.swatch.swatch--brand--inventive-pink
					p Inventive Pink
						br
						| @inventive-pink
						br
			.newrow
				.span4-sm.span6.swatch.swatch--brand--generous-green
					p Generous Green
						br
						| @generous-green
						br
				.span4-sm.span6.swatch.swatch--brand--generous-mauve
					p Generous Mauve
						br
						| @generous-mauve
						br
			.newrow
				.span12
					h3 Brand tints
					p There are also variations of some of these swatches in lighter tints.
			.newrow
				.span4-sm.span6.swatch.swatch--beta--heritage-blue-lighter
					p Heritage Blue Lighter
						br
						| @heritage-blue-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--heritage-blue-lightest
					p Heritage Blue Lightest
						br
						| @heritage-blue-lightest
						br
			.newrow
				.span4-sm.span6.swatch.swatch--beta--heritage-yellow-lighter
					p Heritage Yellow Lighter
						br
						| @heritage-yellow-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--heritage-yellow-darker
					p Heritage Yellow Darker
						br
						| @heritage-yellow-darker
						br
			.newrow
				.span12
					h3 Extended palette
					p Colours to extend the brand into actionable items. These colours shouldn't be used as brand or decorative colours, but purely for system and functional colours. A good example of their use is in form error handling.
			.newrow
				.span4-sm.span6.swatch.swatch--beta--red
					p Red
						br
						| @red
						br
				.span4-sm.span6.swatch.swatch--beta--pink
					p Pink
						br
						| @pink
						br
				.span4-sm.span6.swatch.swatch--beta--orange
					p Orange
						br
						| @orange
						br
				.span4-sm.span6.swatch.swatch--beta--yellow
					p Yellow
						br
						| @yellow
						br
				.span4-sm.span6.swatch.swatch--beta--green
					p Green
						br
						| @green
						br
				.span4-sm.span6.swatch.swatch--beta--blue
					p Blue
						br
						| @blue
						br
				.span4-sm.span6.swatch.swatch--beta--aqua
					p Aqua
						br
						| @aqua
						br
			.newrow
				.span12
					h3 Extended palette tints
					p Tint variations of the extended colour palette.
			.newrow
				.span4-sm.span6.swatch.swatch--beta--red-light
					p Red Light
						br
						| @red-light
						br
				.span4-sm.span6.swatch.swatch--beta--red-lighter
					p Red Lighter
						br
						| @red-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--orange-light
					p Orange Light
						br
						| @orange-light
						br
				.span4-sm.span6.swatch.swatch--beta--orange-lighter
					p Orange Lighter
						br
						| @orange-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--green-light
					p Green Light
						br
						| @green-light
						br
				.span4-sm.span6.swatch.swatch--beta--green-lighter
					p Green Lighter
						br
						| @green-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--blue-light
					p Blue Light
						br
						| @blue-light
						br
				.span4-sm.span6.swatch.swatch--beta--blue-lighter
					p Blue Lighter
						br
						| @blue-lighter
						br
				.span4-sm.span6.swatch.swatch--beta--blue-darker
					p Blue Darker
						br
						| @blue-darker
						br
				.span4-sm.span6.swatch.swatch--beta--aqua-light
					p Aqua Light
						br
						| @aqua-light
						br
				.span4-sm.span6.swatch.swatch--beta--yellow-light
					p Yellow Light
						br
						| @yellow-light
						br
				.span4-sm.span6.swatch.swatch--beta--purple-dark
					p Purple Dark
						br
						| @purple-dark
						br
			.newrow
				.span12
					h3 Monochrome palette
					p Range for text primarily, but also for neutral colouring.
			.newrow
				.span4-sm.span6.swatch.swatch--mono--gray0
					p Gray 0
						br
						| @gray-0
						br
				.span4-sm.span6.swatch.swatch--mono--gray1
					p Gray 1
						br
						| @gray-1
						br
				.span4-sm.span6.swatch.swatch--mono--gray2
					p Gray 2
						br
						| @gray-2
						br
				.span4-sm.span6.swatch.swatch--mono--gray3
					p Gray 3
						br
						| @gray-3
						br
				.span4-sm.span6.swatch.swatch--mono--gray4
					p Gray 4
						br
						| @gray-4
						br
				.span4-sm.span6.swatch.swatch--mono--gray5
					p Gray 5
						br
						| @gray-5
						br
				.span4-sm.span6.swatch.swatch--mono--gray6
					p Gray 6
						br
						| @gray-6
						br
				.span4-sm.span6.swatch.swatch--mono--gray7
					p Gray 7
						br
						| @gray-7
						br
				.span4-sm.span6.swatch.swatch--mono--gray8
					p Gray 8
						br
						| @gray-8
						br
			//.newrow
				.span12
					h3 Adviser colour palette
					p Range of colours used for adviser only content.
			//.newrow
				.span4-sm.span6.swatch.swatch--adviser--inventive-teal-light
					p Inventive Teal Light
						br
						| @inventive-teal-light
						br
				.span4-sm.span6.swatch.swatch--adviser--inventive-teal-lighter
					p Inventive Teal Lighter
						br
						| @inventive-teal-lighter
						br
			//.newrow
				.span4-sm.span6.swatch.swatch--adviser-blue-gray
					p Adviser Blue Gray
						br
						| @adviser-blue-gray
						br
				.span4-sm.span6.swatch.swatch--adviser-stone
					p Adviser Stone
						br
						| @adviser-stone
						br

	script.
		var sw = $('.swatch').width();
		$('.swatch').css({'height':sw+'px'});
		$(window).resize(function() {
			var sw = $('.swatch').width();
			$('.swatch').css({'height':sw+'px'});
		});
