block settings
	- var title = "Content index"
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Templates", href: "index.html#templates"},
		{title: "Content index"}])

block sidebar
	- var section = "Section title"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Sibling page 1"},
		{title: "Sibling page 2"}],
		0)

block script
	style.
		h1.title__heading { display: none !important; }

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

	.content__header
		.content__header__content
			.title
				h1.page-title Consumer

			.index-intro
			p Contact the Citizens Advice consumer helpline on #[strong 03454 04 05 06] if you need help - a trained adviser can give you advice over the phone.</p>
			p #[strong] Consumer Rights Act
				| Find out about the #[a(href="/about-us/how-citizens-advice-works/citizens-advice-consumer-work/the-consumer-rights-act-2015/") Consumer Rights Act 2015] and what's changed.

block content
	.contents-page

		.contents-page__section
			h2 Cars and vehicles
			ul.li--no-style
				li
					a(href="#") Buying a used car
				li
					a(href="#") Problem with a used car
				li
					a(href="#") Problem with a car repair

		.contents-page__section
			h2 Changing your mind about a purchase
			ul.li--no-style
				li
					a(href="#") If you were pressured into buying something you didn’t want
				li
					a(href="#") Cancel something being paid for on hire-purchase
				li
					a(href="#") Cancel a contract, membership or subscription
				li
					a(href="#") Changing your mind about something you've bought

		.contents-page__section
			h2 Problems with purchases
			ul.li--no-style
				li
					a(href="#") Belongings left with a trader have been lost or damaged
				li
					a(href="#") Claim under a warranty or guarantee
				li
					a(href="#") Claim compensation if something you bought causes damage or distress
				li
						a(href="#") Problems with delivery
					li
						a(href="#") Return faulty goods

		.contents-page__section
			h2 Scams, counterfeits and stolen goods
			ul.li--no-style
				li
					a(href="#") Report fake or counterfeit goods
				li
					a(href="#") If you think you've bought stolen goods
				li
					a(href="#") Report to Trading Standards

		.contents-page__section
			h2 Problems with phone, internet, downloads or TV
			ul.li--no-style
				li
					a(href="#") Switch broadband, phone or TV provider
				li
					a(href="#") Stop getting nuisance calls and texts
				li
					a(href="#") Disputing a phone, internet or TV bill
				li
					a(href="#") Problem with an app, software or download

		.contents-page__section
			h2 Getting home improvements done
			ul.li--no-style
				li
					a(href="#") Before you get building work done
				li
					a(href="#") Problem with building work, decorating or home improvements

		.contents-page__section
			h2 Holiday cancellations and compensation
			ul.li--no-style
				li
					a(href="#") Claim compensation if your flight's delayed or cancelled
				li
					a(href="#") Cancelling a holiday
				li
					a(href="#") Claim compensation for a holiday

		.contents-page__section
			h2 Get more help
			ul.li--no-style
				li
					a(href="#") Contact the consumer helpline
				li
					a(href="#") Template letters