block settings
    - var title = "About the ESA support group and work-related activity group"
    - var sidebar = true
    - var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Templates", href: "index.html#templates"},
        {title: "Content"}])

block sidebar
    //- var section = "Help with your ESA claim"
    //+sidebar([
        ])
    - var section = "While you're getting ESA"
    +sidebar([
        {title: "Claiming ESA (filling in the ESA1 form"},
        {title: "Filling in the ESA50 form about your health and ability"},
        {title: "Preparing for your ESA medical assessment"},
        {title: "Getting your ESA decision after the assessment"},
        {title: "What to do if you're not awarded ESA"}
        ],0)

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div
            p If you’re eligible for ESA (Employment and Support Allowance) you’ll be put into either:
                ul
                    li the support group
                    li the work-related activity group
                    li You'll get a decision letter from from the Department for Work and Pensions (DWP) telling you which group you’ve been put into. The DWP will make this decision based on the information you put on your ESA50 form and the results of the medical assessment.
            p You'll get a decision letter from from the Department for Work and Pensions (DWP) telling you which group you’ve been put into. The DWP will make this decision based on the information you put on your ESA50 form and the results of the medical assessment.

            h2 If you think you’ve been put into the wrong group
            p You can #[a(href="#") ask the DWP to re-think their decision]. This is called ‘mandatory reconsideration’.

            .callout--adviser.callout--icon
                h3 Information for advisers
                p For more about the activities and descriptors that are used to place people into the groups, see CPAG Welfare Benefits and Tax Credits Handbook, Appendix 4: Limited capability for work assessment.

                p For more about limited capability for work see Decision Makers Guidance Chapter 42 - Limited Capability for Work and Limited Capability for Work-Related Activity

            h2 The support group

            p If you’ve been put in the support group, it means the DWP has decided that you can’t work and that it doesn’t expect you to do anything to improve your chances of finding work.

            p However, if you’re in this group and decide that you want to take part in work-related activity anyway, you can do. Use the contact details on your decision letter to let the DWP know you want to do this. They’ll let you know if there’s any suitable work-related activity going on in your area that you can join.

            h2 The work-related activity group

            p If you’ve been put into the work-related activity group it means the DWP has decided that your disability or health condition does limit your ability to work right now, but that there are things you can do to improve this.

            p You’re not expected to look for work, but you can be asked to go to a work-focused interview and then do work-related activities. These activities are things that the DWP thinks will improve your chances of working in the future.

            p You won’t need to go to a work-focused interview or do any work-related activities if:
                ul
                    li you’re a lone parent with a child under one year old
                    li you’ve reached Pension Credit age

            .well--outline
                h2 Check if your age excludes you from the work-related group interviews and activities
                p Answer 2 questions to see if your age excludes you from the work-related group interviews and activities
                button.btn.btn-primary.right-button-icon(type="button") Start

            h2 Outcomes

            .well--outline
                h2 Your result
                .callout
                    h3 You will have to do work-focused interviews and work-related activities.
                p This is because you won’t reach Pension Credit age until 9 September 2048.
                button.btn.btn-secondary.restart-button-icon(type="reset") Restart

            .callout--related
                h3 Next steps
                p #[a(href="#") What to do if you’ve been sanctioned while on ESA]
                p #[a(href="#") ESA: Reporting changes to the DWP]
                p #[a(href="#") Work you can do while getting ESA]
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
