block settings
	- var title = "Cookie Monster"
	- var cookiemonster = true
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Cookie Monster"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p The cookie monster appears attached to the bottom of the screen. Once a user dismisses it with the close button it shouldn't reappear until the cookie has expired or been removed.
			.example-box-plain
				.cookie-monster(style="position:relative;z-index:0;display:block;")
					.cookie-monster__content
						p This site uses cookies. Find out more about #[a(href="#") our use of cookies].
						button.btn.cookie-monster__close(data-action="close", type="button") Close
			pre
				code.language-html
					| &lt;div class="cookie-monster hide-no-cookies hide-no-js no-print"&gt;
					| 	&lt;div class="cookie-monster__content"&gt;
					| 		&lt;p&gt;This site uses cookies. Find out more about &lt;a href="#"&gt;our use of cookies&lt;/a&gt;.&lt;/p&gt;
					| 		&lt;button data-action="close" type="button" class="btn cookie-monster__close"&gt;Close&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;