block settings
	- var title = "Descriptions"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Descriptions"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p Developing a semantically correct approach to handling descriptions for images and charts, showing clearly the relationship between the two.
			h3 When to use
			p This approach should be used to when illustrations, diagrams, photos, code listings, etc would benefit from a more detailed descriptor to explain. This also includes reference to sources or credits where applicable.
			p It isn't always neccessary and images with correctly structured alt attributes may also be appropriate.
			h4 Figure
			p The object is a container for a user interface element such as a table, chart, or image and a caption which labels the element
			h4 Caption
			p The object contains descriptive information, usually textual, about another user interface element such as a table, chart, or image.

			.example-box-plain
				label Caption
				figure
					img(src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
					figcaption Advisers being trained in a local Citizens Advice.
			pre
				code.language-html
					| &lt;figure&gt;
					| &lt;img src="assets/images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| &lt;figcaption&gt;Advisers being trained in a local Citizens Advice.&lt;/figcaption&gt;
					| &lt;/figure&gt;

			h4 Alt attributes
			p Alt attributes should be considered as image replacements, though not solely for the purpose of screenreaders, though their benefit for this use is very high, they can also be used in case a person is on a low bandwidth.
			p When considering what to use as a description in an alt tag, always think of the context, where is it on the page and what is the image conveying? You can use #[a.a-external-link(href="http://dev.w3.org/html5/alt-techniques/#tree", target="_blank") this simple design tree] to help decide whether to use, and #[a.a-external-link(href="http://webaim.org/techniques/alttext/", target="_blank") WebAIM also has some examples] of how best to describe images in alt attributes.
			p You can add a link from the image to a description further down the page, which can be read by a screenreader, but this could affect the flow for the user. In this instance it is best to use an alt label of just the question. It will enable the screenreader user to understand what is being explained below without adding confusion.

			.example-box-plain
				label Alt
				figure
					img(src="images/PIP2-form-Q3b.jpg" alt="PIP Form question 3b. Do you need help from another person to prepare or cook a simple meal?")
			pre
				code.language-html
					| &lt;figure&gt;
					| &lt;img src="assets/images/PIP2-form-Q3b.jpg" alt="PIP Form question 3b. Do you need help from another person to prepare or cook a simple meal?"&gt;
					| &lt;/figure&gt;