block settings
	- var title = "Extent switcher"
	- var sidebar = true
	- var toolbars = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Modals", href: "index.html#modals"},
		{title: "Extent switcher"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.dialog__mask(style="z-index: 2;")

		.dialog.dialog--simple.dialog--extent-picker(aria-describedby="dialog-1-main", aria-labelledby="dialog-1-label", role="alertdialog", style="z-index: 3;", tabindex="-1")
			header.dialog__header
				h2.dialog__title#dialog-1-label
				button.dialog__close(data-action="close", type="button")
					i(aria-hidden="true", class="dialog__close-icon")
					span.dialog__close-text Close
			.dialog__main#dialog-1-main
				div
					h2 Choose a location
					p Advice can vary depending on where you live.
					p For information that could help solve your problem, please choose your location.
				ul.extent-selection
					li
						a.btn.btn-small(href="?lang=en-GB") England
					li
						a.btn.btn-small(href="?lang=en-NIR") Northern Ireland
					li
						a.btn.btn-small(href="?lang=en-SCT") Scotland
					li
						a.btn.btn-small(href="?lang=en-WLS") Wales
			footer.dialog__footer

		//.dialog.dialog--extent-picker(aria-describedby="dialog-1-main", aria-labelledby="dialog-1-label", role="alertdialog", style="z-index: 3;", tabindex="-1")
			header.dialog__header
				h2.dialog__title#dialog-1-label Where in the UK do you live?
				button.dialog__close(data-action="close", type="button")
					i.dialog__close-icon(aria-hidden="true")
					span.dialog__close-text Close

			div.dialog__main#dialog-1-main
				div
					p The law can vary in different parts of the UK.

				ul.extent-selection
					li
						a.btn.btn-small(href="?lang=en-GB") England
					li
						a.btn.btn-small(href="?lang=en-NIR") Northern Ireland
					li
						a.btn.btn-small(href="?lang=en-SCT") Scotland
					li
						a.btn.btn-small(href="?lang=en-WLS") Wales
					li
						a.btn.btn-small(href="?lang=cy") Cymru

			footer.dialog__footer

	//script.
		$(document).ready(function(){
			$("#showSimpleModal").click(function() {
				$("div#simpleModal").addClass("show");
				return false;
			});
			$("#closeSimple").click(function() {
				$("div#simpleModal").removeClass("show");
				return false;
			});
		});
		//close modal when clicking the esc keyboard button
		$(document).keyup(function(event){
			if(event.which=='27'){
				$("div#simpleModal").removeClass('show');
			}
		});