block settings
	- var title = "Field groups"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Forms", href: "index.html#forms"},
		{title: "Field groups"}])

block sidebar
	include ../template/sidebar-styles.jade

block content
	.articleContent
		div
			p Often two fields can be linked to the same question. This may be because the question has multiple parts to the answer, or the question can be answered in different ways. Using combined form fields allows the user to easily answer the multiple parts of the question at the same time, in a way that looks simple and logical.
			.example-box-plain
				fieldset
					label(for="field") Field group with dropdown
					.field-group.field-group--dropdown
						input#field(type="number")
						.dropdown
							select#exampleSelect1
								option Daily
								option Monthly
								option Yearly
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="field"&gt;Field group with dropdown&lt;/label&gt;
					| 	&lt;div class="field-group field-group--dropdown"&gt;
					| 		&lt;input id="field" type="number"&gt;
					| 		&lt;div class="dropdown"&gt;
					| 			&lt;select id="exampleSelect1"&gt;
					| 				&lt;option&gt;Daily&lt;/option&gt;
					| 				&lt;option&gt;Monthly&lt;/option&gt;
					| 				&lt;option&gt;Yearly&lt;/option&gt;
					| 			&lt;/select&gt;
					| 		&lt;/div&gt;
					| 	&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="field") Field group with button
					.field-group.field-group--buttons
						input#field(type="text")
						button.btn Search
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="field"&gt;Field group with button&lt;/label&gt;
					| 	&lt;div class="field-group field-group--buttons"&gt;
					| 		&lt;input id="field" type="text"&gt;
					| 		&lt;button class="btn"&gt;Search&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="field") Field group with checkbox buttons
					.field-group.field-group--toggle
						input#field(type="number")
						label.checkbox.checkbox--inline
							input(checked name="checkbox-inline", type="checkbox", value="option1")
							| Week
						label.checkbox.checkbox--inline
							input(name="checkbox-inline", type="checkbox", value="option2")
							| Month
						label.checkbox.checkbox--inline
							input(name="checkbox-inline", type="checkbox", value="option3")
							| Year
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="field"&gt;Field group with checkbox buttons&lt;/label&gt;
					| 	&lt;div class="field-group field-group--toggle"&gt;
					| 		&lt;input id="field" type="number"&gt;
					| 		&lt;label class="checkbox checkbox--inline"&gt;
					| 			&lt;input checked="" name="checkbox-inline" type="checkbox" value="option1"&gt;Week
					| 		&lt;/label&gt;
					| 		&lt;label class="checkbox checkbox--inline"&gt;
					| 			&lt;input name="checkbox-inline" type="checkbox" value="option2"&gt;Month
					| 		&lt;/label&gt;
					| 		&lt;label class="checkbox checkbox--inline"&gt;
					| 			&lt;input name="checkbox-inline" type="checkbox" value="option3"&gt;Year
					| 		&lt;/label&gt;
					| 	&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="field") Field group with radio buttons
					.field-group.field-group--toggle
						input#field(type="number")
						label.radio.radio--inline
							input(checked name="radio-inline", type="radio", value="option1")
							| Week
						label.radio.radio--inline
							input(name="radio-inline", type="radio", value="option2")
							| Month
						label.radio.radio--inline
							input(name="radio-inline", type="radio", value="option3")
							| Year
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="field"&gt;Field group with radio buttons&lt;/label&gt;
					| 	&lt;div class="field-group field-group--toggle"&gt;
					| 		&lt;input id="field" type="number"&gt;
					| 		&lt;label class="radio radio--inline"&gt;
					| 			&lt;input checked="" name="radio-inline" type="radio" value="option1"&gt;Week
					| 		&lt;/label&gt;
					| 		&lt;label class="radio radio--inline"&gt;
					| 			&lt;input name="radio-inline" type="radio" value="option2"&gt;Month
					| 		&lt;/label&gt;
					| 		&lt;label class="radio radio--inline"&gt;
					| 			&lt;input name="radio-inline" type="radio" value="option3"&gt;Year
					| 		&lt;/label&gt;
					| 	&lt;/div&gt;
					| &lt;/fieldset&gt;

			h2 Date field
			p With date fields it's important that the question and field type is repeated in the first label, using the #[span.code screenreader] class.
			.example-box-plain
				.form-group-date
					legend When did you buy your car?
					fieldset
						label(for="dob-day")
							span.screenreader When did you buy your car? Date field,
							| Day
						input#dob-day(max="31", min="1", placeholder="DD", type="number")
					fieldset
						label(for="dob-month") Month
						input#dob-month(max="12", min="1", placeholder="MM", type="number")
					fieldset
						label(for="dob-year") Year
						input#dob-year(max="2100", placeholder="YYYY", type="number")
			pre
				code.language-html
					| &lt;div class="form-group-date"&gt;
					|	&lt;legend&gt;When did you buy your car?</legend>
					| 	&lt;fieldset&gt;
					|		&lt;!-- It's important to repeat the question and explain the field in the day label --&gt;
					| 		&lt;label for="dob-day"&gt;&lt;span class="screenreader"&gt;When did you buy your car? Date field, &lt;/span&gt;Day&lt;/label&gt;
					| 		&lt;input id="dob-day" max="31" min="1" placeholder="DD" type="number"&gt;
					| 	&lt;/fieldset&gt;
					| 	&lt;fieldset&gt;
					| 		&lt;label for="dob-month"&gt;Month&lt;/label&gt;
					| 		&lt;input id="dob-month" max="12" min="1" placeholder="MM" type="number"&gt;
					| 	&lt;/fieldset&gt;
					| 	&lt;fieldset&gt;
					| 		&lt;label for="dob-year"&gt;Year&lt;/label&gt;
					| 		&lt;input id="dob-year" max="2100" placeholder="YYYY" type="number"&gt;
					| 	&lt;/fieldset&gt;
					| &lt;/div&gt;