block settings
	- var title = "Fields"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Forms", href: "index.html#forms"},
		{title: "Fields"}])

block sidebar
	include ../template/sidebar-styles.jade

block content
	.articleContent
		div
			p Forms are an essential medium to help people find the information they need, complete a task or complete an application online. By maintaining the least friction possible between starting and completing the form will ensure greater completion rates for clients with the most accurate information possible.
			p Only ask for the minimum amount of information for the client to complete the task required, this means that forms are kept shorter, improving completion rate and also trust. Any fields which are optional should be indicated as such.
			h3 Examples of form components
			p Using a field for a persons full name is recommended when possible, different cultures structure names in different ways and a Firstname, Surname approach isn't always appropriate.

			.example-box-plain
				fieldset
					label(for="standardField") Standard field
					input#standardField(placeholder="", type="text")
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="standardField"&gt;Standard field&lt;/label&gt;
					| 	&lt;input id="standardField" placeholder="" type="text"&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="standardField") Standard field
					span.form-hint With additional help text
					input#standardField(placeholder="" type="text")
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="standardField"&gt;Standard field&lt;/label&gt;
					| 	&lt;span class="form-hint"&gt;With additional help text&lt;/span&gt;
					| 	&lt;input id="standardField" placeholder="" type="text"&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleInputEmail1") Inline validation error with field placeholder
					input#exampleInputEmail1(placeholder="Email", required="", type="email")
					small Information about these details.
					.invalid Please enter a valid email address
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleInputEmail1"&gt;Inline validation error with field placeholder&lt;/label&gt;
					| 	&lt;input id="exampleInputEmail1" placeholder="Email" required="" type="email"&gt;
					| 	&lt;small&gt;Information about these details.&lt;/small&gt;
					| 	&lt;div class="invalid"&gt;Please enter a valid email address&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleInputPassword1") Password
					span.form-hint Enter at least 3 characters
					input#exampleInputPassword1(pattern=".{3,10}", placeholder="Password", required="", type="password")
					.valid Wonderful!
					.invalid Please enter a password between 3 and 10 characters
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleInputPassword1"&gt;Password&lt;/label&gt;
					| 	&lt;span class="form-hint"&gt;Enter at least 3 characters&lt;/span&gt;
					| 	&lt;input id="exampleInputPassword1" pattern=".{3,10}" placeholder="Password" required="" type="password"&gt;
					| 	&lt;div class="valid"&gt;Wonderful!&lt;/div&gt;
					| 	&lt;div class="invalid"&gt;Please enter a password between 3 and 10 characters&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleInputPassword1") Disabled field
					span.form-hint Description why this field isn't enabled
					input#exampleInputPassword1(disabled, placeholder="Disabled field", type="password")
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleInputPassword1"&gt;Disabled field&lt;/label&gt;
					| 	&lt;span class="form-hint"&gt;Description why this field isn't enabled&lt;/span&gt;
					| 	&lt;input id="exampleInputPassword1" disabled placeholder="Disabled field" type="password"&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleSelect1") Example dropdown select
					.dropdown
						select#exampleSelect1
							option 1
							option 2
							option 3
							option 4
							option 5
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleSelect1"&gt;Example dropdown select&lt;/label&gt;
					| 	&lt;div class="dropdown"&gt;
					| 		&lt;select id="exampleSelect1"&gt;
					| 			&lt;option&gt;1&lt;/option&gt;
					| 			&lt;option&gt;2&lt;/option&gt;
					| 			&lt;option&gt;3&lt;/option&gt;
					| 			&lt;option&gt;4&lt;/option&gt;
					| 			&lt;option&gt;5&lt;/option&gt;
					| 		&lt;/select&gt;
					| 	&lt;/div&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleSelect2") Example dropdown multiple select
					select#exampleSelect2.multi-select(multiple)
						option 1
						option 2
						option 3
						option 4
						option 5
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleSelect2"&gt;Example dropdown multiple select&lt;/label&gt;
					| 	&lt;select id="exampleSelect2" multiple="" class="multi-select"&gt;
					| 		&lt;option&gt;1&lt;/option&gt;
					| 		&lt;option&gt;2&lt;/option&gt;
					| 		&lt;option&gt;3&lt;/option&gt;
					| 		&lt;option&gt;4&lt;/option&gt;
					| 		&lt;option&gt;5&lt;/option&gt;
					| 	&lt;/select&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleTextarea") Example textarea
					textarea#exampleTextarea(rows="3")
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleTextarea"&gt;Example textarea &lt;/label&gt;
					| 	&lt;textarea id="exampleTextarea" rows="3"&gt;&lt;/textarea&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					label(for="exampleInputFile") File input
					input#exampleInputFile.form-control-file(type="file")
					small This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;label for="exampleInputFile"&gt;File input&lt;/label&gt;
					| 	&lt;input id="exampleInputFile" type="file" class="form-control-file"&gt;
					| 	&lt;small&gt;This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.&lt;/small&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="radio") Radio buttons
					label.radio.radio--block
						input(checked, name="radio", type="radio", value="option1")
						| Yes
					label.radio.radio--block
						input(name="radio", type="radio", value="option2")
						| No
					label.radio.radio--block.disabled
						input(disabled, name="radio", type="radio", value="option3")
						| Not sure
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="radio"&gt;Radio buttons&lt;/legend&gt;
					| 	&lt;label class="radio radio--block"&gt;
					| 		&lt;input checked name="radio" type="radio" value="option1"&gt;Yes
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--block"&gt;
					| 		&lt;input name="radio" type="radio" value="option2"&gt;No
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--block disabled"&gt;
					| 		&lt;input disabled name="radio" type="radio" value="option3"&gt;Not sure
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="radio-inline") Inline Radio buttons
					label.radio.radio--inline
						input(checked name="radio-inline", type="radio", value="option1")
						| Yes
					label.radio.radio--inline
						input(name="radio-inline", type="radio", value="option2")
						| No
					label.radio.radio--inline.disabled
						input(disabled name="radio-inline", type="radio", value="option3")
						| Not sure
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="radio-inline"&gt;Inline Radio buttons&lt;/legend&gt;
					| 	&lt;label class="radio radio--inline"&gt;
					| 		&lt;input checked name="radio-inline" type="radio" value="option1"&gt;Yes
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--inline"&gt;
					| 		&lt;input name="radio-inline" type="radio" value="option2"&gt;No
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--inline disabled"&gt;
					| 		&lt;input disabled name="radio-inline" type="radio" value="option3"&gt;Not sure
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="radio-description") Radio buttons (description)
					label.radio.radio--block
						input(checked name="radio-description", type="radio", value="option1")
						p
							span Yes
							br
							| I'm in situation A
					label.radio.radio--block
						input(name="radio-description", type="radio", value="option2")
						p
							span Yes
							br
							| I'm in situation B
					label.radio.radio--block
						input(name="radio-description", type="radio", value="option3")
						p
							span No
							br
							| I'm not in any situation
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="radio-description"&gt;Radio buttons (description)&lt;/legend&gt;
					| 	&lt;label class="radio radio--block"&gt;
					| 		&lt;input checked name="radio-description" type="radio" value="option1"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;Yes&lt;/span&gt;&lt;br&gt;I'm in situation A
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--block"&gt;
					| 		&lt;input name="radio-description" type="radio" value="option2"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;Yes&lt;/span&gt;&lt;br&gt;I'm in situation B
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| 	&lt;label class="radio radio--block"&gt;
					| 		&lt;input name="radio-description" type="radio" value="option3"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;No&lt;/span&gt;&lt;br&gt;I'm not in any situation
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="checkbox") Checkboxes
					label.checkbox.checkbox--block
						input(name="checkbox", type="checkbox")
						| Option one
					label.checkbox.checkbox--block
						input(name="checkbox", type="checkbox")
						| Option two
					label.checkbox.checkbox--block.disabled
						input(disabled name="checkbox", type="checkbox")
						| Disabled
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="checkbox"&gt;Checkboxes&lt;/legend&gt;
					| 	&lt;label class="checkbox checkbox--block"&gt;
					| 		&lt;input name="checkbox" type="checkbox"&gt;Option one
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--block"&gt;
					| 		&lt;input name="checkbox" type="checkbox"&gt;Option two
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--block disabled"&gt;
					| 		&lt;input disabled name="checkbox" type="checkbox"&gt;Disabled
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="checkbox-inline") Inline checkboxes
					label.checkbox.checkbox--inline
						input(name="checkbox-inline", type="checkbox")
						| Option one
					label.checkbox.checkbox--inline
						input(name="checkbox-inline", type="checkbox")
						| Option two
					label.checkbox.checkbox--inline.disabled
						input(disabled name="checkbox-inline", type="checkbox")
						| Disabled
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="checkbox-inline"&gt;Inline checkboxes&lt;/legend&gt;
					| 	&lt;label class="checkbox checkbox--inline"&gt;
					| 		&lt;input name="checkbox-inline" type="checkbox"&gt;Option one
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--inline"&gt;
					| 		&lt;input name="checkbox-inline" type="checkbox"&gt;Option two
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--inline disabled"&gt;
					| 		&lt;input disabled name="checkbox-inline" type="checkbox"&gt;Disabled
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;

			.example-box-plain
				fieldset
					legend(for="checkbox-description") Check boxes (description)
					label.checkbox.checkbox--block
						input(name="checkbox-description", type="checkbox")
						p
							span Yes
							br
							| You are in situation A
					label.checkbox.checkbox--block
						input(name="checkbox-description", type="checkbox")
						p
							span Yes
							br
							| You are in situation B
					label.checkbox.checkbox--block
						input(name="checkbox-description", type="checkbox")
						p
							span No
							br
							| I'm not in any situation
			pre
				code.language-html
					| &lt;fieldset&gt;
					| 	&lt;legend for="checkbox-description"&gt;Check boxes (description)&lt;/legend&gt;
					| 	&lt;label class="checkbox checkbox--block"&gt;
					| 		&lt;input name="checkbox-description" type="checkbox"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;Yes&lt;/span&gt;&lt;br&gt;You are in situation A
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--block"&gt;
					| 		&lt;input name="checkbox-description" type="checkbox"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;Yes&lt;/span&gt;&lt;br&gt;You are in situation B
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| 	&lt;label class="checkbox checkbox--block"&gt;
					| 		&lt;input name="checkbox-description" type="checkbox"&gt;
					| 		&lt;p&gt;
					| 			&lt;span&gt;No&lt;/span&gt;&lt;br&gt;I'm not in any situation
					| 		&lt;/p&gt;
					| 	&lt;/label&gt;
					| &lt;/fieldset&gt;