block settings
	- var title = "Fields (conditional)"

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Forms", href: "index.html#forms"},
		{title: "Fields"}])

block content
	.articleContent
		.row
			.span8
				p Conditional fields are used in more advanced forms and are not recommended for most forms.


				.example-box-plain
					fieldset
						label(for="exampleInputFile") Conditional Radio buttons
						label.radio.radio--conditional
							input(name="radio", type="radio", value="option1")
							| Yes
							div.conditional--content
								fieldset
									label.checkbox.radio--conditional
										input(name="checkbox", type="checkbox")
										| Option 1
									label.checkbox.radio--conditional
										input(name="checkbox", type="checkbox")
										| Option 2
						label.radio.radio--conditional
							input(name="radio", type="radio", value="option2")
							| No
				pre
					code.language-html
						| &lt;fieldset&gt;
						| 	&lt;label for="exampleInputFile"&gt;Radio buttons&lt;/label&gt;
						| 	&lt;label class="radio radio--conditional"&gt;
						| 		&lt;input checked="" name="radio" type="radio" value="option1"&gt;Yes
						|       &lt;div class="conditional--content"&gt;
						| 			&lt;fieldset&gt;
						| 					&lt;label class="checkbox checkbox--block"&gt;
						| 						&lt;input name="checbox" type="checkbox"&gt;Option 1
						| 						&lt;input name="checbox" type="checkbox"&gt;Option 2
						|					&lt;/label&gt;
						|			&lt;/fieldset&gt;
						|		&lt;/div&gt;
						| 	&lt;/label&gt;
						| 	&lt;label class="radio radio--conditional"&gt;
						| 		&lt;input name="radio" type="radio" value="option2"&gt;No
						| 	&lt;/label&gt;
						| &lt;/fieldset&gt;
