block settings
	- var title = "Volunteering with the Citizens Advice network"
	- var fullpage = true
	- var dir = ""
	- var newfooter = true
	- var nofooter = true

extends /template/template-site-2.jade

block content
		.main-container
			.home-first-intranet
				.home__content
					.flex-container.flex-row
						.col-md-6.col-sm-12
							h2 Latest Updates
							.flex-container.flex-row
									.col-md-6.col-sm-12
										.blog-lead-intranet
											.blog-name
												p Staff News
												h3 #[a(href="#") RideLondon-Surrey100 Cycle 2016 ]
											img(src="#{dir}images/intranet/Pru100-600x400px.png" alt="Image of cyclists")
											p Citizens Advice is looking for 22 committed and enthusiastic cyclists to join our team to take part in the Prudential RideLondon-Surrey 100 on Sunday 31 July 2016.
									.col-md-6.col-sm-12
										.blog-lead-intranet
											.blog-name
												p Latest Blog
												h3 #[a(href="#") What we’ve learnt from the phase 2 PQF pilots ]
												p Jun 14 2016
											img.avatar(src="#{dir}images/intranet/cropleyl_avatar-75x75.jpg" alt="Blog image")
											p Many of you have been helping us to test the elements of the performance and quality framework (PQF), with the new approach to quality of advice assessment (QAA) proving ...
						.col-md-6.col-sm-12
							.well(style="background-color:#fff; margin: 1rem;")
								h3 I want to...
								a(href="#").blocklink Do some training
								a(href="#").blocklink Find someone
								a(href="#").blocklink Claim expenses
								a(href="#").blocklink Get help doing my job
								a(href="#").blocklink Understand the brand
								a(href="#").blocklink Know about membership
								a(href="#").blocklink See what events are happening



			.home__content
				.flex-container.flex-row
					.col-md-12.col-sm-12
						h3 Browse my Citizens Advice
					.col-md-4.col-sm-12
						.cards
							.card-banner-top--intranet
								p Do your job
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					.col-md-4.col-sm-12
						.cards
							.card-banner-top--intranet
								p Connect and share
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					.col-md-4.col-sm-12
						.cards
							.card-banner-top--intranet
								p Get updated
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
