block settings
    - var title = "Family members joining you in the UK to live"
    - var sidebar = true
    - var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Law and Rights", href: "#"},
        {title: "Immigration", href: "#"},
        {title: "Family members joining you in the UK to live", href: "#"}
        ])

block sidebar
    - var section = "Help filling in your PIP2 form"
    +sidebar([
        {title: "General Advice"},
        //{title: "Q2 About your health conditions or disabilities"},
        {title: "Q3 Preparing Food"},
        //{title: "Q4 Eating and drinking"},
        //{title: "Q5 Managing treatments"},
        //{title: "Q6 Washing and bathing"},
        //{title: "Q7 Managing toilet needs"},
        {title: "Q8 Dressing and undressing"}
        //{title: "Q9 Communicating"},
        //{title: "Q10 Reading"},
        //{title: "Q11 Mixing with other people"},
        //{title: "Q12 Making decisions about money"},
        //{title: "Q13 Going out"},
        //{title: "Q14 Moving around"}
        ],2)
//    - var section = "Sibling categories"
//    +sidebar([
//        ])

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div

            .callout--confirmation
                p #[strong This is level 1 advice] - you don't need to be OISC-accredited to advise on the immigration issues covered on this page. Find out more about what you can and can’t advise on.

            .callout--alert
                p #[strong This is level 2 advice] - you can’t advise on the immigration issues covered on this page unless you have a level 2 or 3 OISC qualification.
                p If you’re not qualified, you can:
                    ul
                        li still talk through what’s on this page (so long as you’re comfortable doing so)
                        li refer the client to an adviser or immigration specialist accredited at OISC level 2 or higher - search for an immigration adviser on GOV.UK if you don’t have someone reputable in your area

            p If you’re already in the UK, your family members (eg husband, wife, child) will need visas to join you to live for over 6 months. If they’re coming for a visit for less than 6 months you need to apply for a visit visa. 
            p If successful, they’ll normally be able to stay in the uk for 2 or 3 years. After that, they’ll usually be able to apply to extend the visa or settle in the UK - also known as getting ‘indefinite leave to remain’. 
            
            p A family member who joins you in the UK on the basis of your right to stay in the UK is called a ‘dependant’. You can apply for them.

            .callout--important
                p If the application gets rejected, an appeal will take 6 to 9 months, so you should think about getting help from a specialist immigration adviser. You can:
                ul
                    li search for an immigration adviser on GOV.UK
                    li contact your local Citizens Advice for help finding someone in your area

            h3 Check what visa they need

            p The visa your family member needs will depend on your circumstances.

                table
                    thead
                        tr
                            th(scope="col") Your circumstances
                            th(scope="col") The visa they need
                    tbody
                        tr
                            td You’re a British citizen, or naturalised
                            td ‘Family of a settled person’ visa
                        tr
                            td You’re a ‘settled person’ in the UK (ie you have ‘indefinite leave to remain’)
                            td ‘Family of a settled person’ visa
                        tr
                            td You’re an EEA national living in the UK and your dependant is not from the EEA
                            td ‘EEA family permit’
                        tr
                            td You have refugee status or humanitarian protection
                            td Family reunion
                        tr
                            td You have a Tier 2 (General) visa
                            td Apply as a dependant of a Tier 2 (General) visa holder
                        tr
                            td You have a Tier 4 student visa
                            td Apply as a dependant of a Tier 4 visa holder

            h3 If you’re applying for them
            p You can fill in the application form for your family member - you need to do this online through the links above. 
            p After you do the form, your family member will need to have their fingerprints and photograph taken at a visa application centre. Check where their nearest visa application centre is before you apply, because it might be in a different country.
            p The online application system doesn’t list the visas by name - you’ll have to answer some questions to find the visa you need. There’s an option to “apply for someone else” on the online form. 
            p You need to #[strong make sure you put the your family member’s information as the applicant’s details]. 
            
            h3 Include the correct evidence
            p The most common reason a visa application gets rejected is because there’s #[strong not enough evidence] (ie documents that prove your case) sent with the application. 
            p In general, you’ll need to provide a piece of evidence to support everything you say in the application. Make sure you carefully follow the online guidance for the visa you’re applying for. 

            //.callout--related
                h3 Next steps
                p If you don’t meet the basic eligibility conditions, you’ll be sent a decision letter to say why you’ve been refused. If you think the decision is wrong, you can #[a(href="#") challenge the DWP’s decision].
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
