block settings
	- var dir = ""

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	// NEW INDEX
	.articleContent
		.newrow
			.span6-sm

				h2(style="margin-top: 0;") Getting started
				ul
					li
						a.a-external(href="http://alphablog.citizensadvice.org.uk/2016/02/principles-for-digital/") Digital principles
					li
						a.a-external(href="http://alphablog.citizensadvice.org.uk/") Citizens Advice Digital team blog
			.span6-sm
				h2(style="margin-top: 0;") Resources
				ul
					li
						a.a-external(href="https://github.com/citizensadvice/cab-ui") cab-ui repo
					li
						a.a-external(href="https://github.com/citizensadvice/cab-ui#including-in-a-project") Using cab-ui in your own project
					//li
						a.a-external(href="#") Content styleguide
					//li
						a.a-external(href="#") Brand guidelines

		.newrow
			.span8-md
				h2 Digital design elements
				p This is a guide to demonstrate elements such as layout, typography, forms, buttons and icons.
		.newrow
			.index-row-1
				.index-col
					h3#Styles(style="margin-top: 0;") Styles
					ul
						li
							a(href="styles/typography.html") Typography
						li
							a(href="styles/colours.html") Colours
						li
							a(href="styles/icons.html") Icons
						li
							a(href="styles/tables.html") Tables
						li
							a(href="styles/charts.html") Charts

				.index-col
					h3#Forms(style="margin-top: 0;") Forms
					ul
						li
							a(href="forms/buttons.html") Buttons
						li
							a(href="forms/fields.html") Fields
						li
							a(href="forms/field-groups.html") Field groups
						li
							a(href="forms/validation.html") Form validation
						li
							a(href="forms/clipboard.html") Copy to clipboard

				.index-col
					h3#Modules(style="margin-top: 0;") Modules
					ul
						li
							a(href="modules/callout.html") Callout
						li
							a(href="modules/revealable.html") Revealable
						//li
							a(href="modules/section-notice-dev.html") Section Notice Development
						li
							a(href="modules/toolbar.html") Content toolbar
						li
							a(href="modules/sticky.html") Sticky box
						//li
							a(href="modules/overlay.html") Modal/Overlay

			.index-row-2
				.index-col
					h3#Features(style="margin-top: 0;") Features
					ul
						li
							a(href="features/section-notice.html") Section Notices
						li
							a(href="features/cookie-monster.html") Cookie Monster
						li
							a(href="features/browser-warning.html") Browser warning
						li
							a(href="features/extent.html") Extent Switcher
						//li
							a(href="modules/reference.html") Reference tool


				.index-col
					h3#Navigation(style="margin-top: 0;") Navigation
					ul
						li
							a(href="navigation/blocklinks.html") Block links

					h3#Branding Branding
					ul
						li
							a(href="branding/brand-icons.html") Brand icons
						//li
							a(href="branding/cards.html") Cards
						li
							a(href="branding/speech-line.html") Speech line
