extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	.articleContent
		.newrow
			.span8
				p.u-lede This is a guide to demonstrate elements such as layout, typography, forms, buttons and icons.

		.newrow
			.span12
				h2#Principles Digital principles
				ul
					li
						a(href="principles.html") Digital principles
		.newrow
			.span4-sm
				h2#Styles Styles
				ul
					li
						a(href="typography.html") Typography
					li
						a(href="colours.html") Colours
					li
						a(href="icons.html") Icons
					li
						a(href="tables.html") Tables
					//li
						a(href="new-grid.html") New grid layout
					//li
					//	a(href="new-grid-examples.html") New grid examples
					li
						h3#forms Forms
						ul
							li
								a(href="buttons.html") Buttons
							li
								a(href="fields.html") Fields
							li
								a(href="field-groups.html") Field groups

			.span4-sm
				h2#Modules Modules
				ul
					//li
					//	a(href="cards.html") Cards
					li
						a(href="callout.html") Callout
					li
						a(href="revealable.html") Revealable
					li
						a(href="charts.html") Charts
					//li
					//	a(href="descriptions.html") Captions
					li
						a(href="section-notice.html") Section Notices
					//li
					//	a(href="section-notice-dev.html") Section Notice Development
					li
						a(href="toolbar.html") Content toolbar
					li
						a(href="cookie-monster.html") Cookie Monster
					li
						a(href="notice.html") Browser notice
					li
						a(href="sticky.html") Sticky box
					li
						h3#modals Modals
						ul
							li
								a(href="extent.html") Extent Switcher
							//li
								a(href="overlay.html") Modal/Overlay
							//li
								a(href="reference.html") Reference tool
			.span4-sm
				h2#Templates Templates
				ul
					li
						a(href="content.html") Content example
					li
						a(href="long-form.html") Long form content example
					//li
					//	a(href="advisor.html") Advisor content
					li
						a(href="contents-page.html") Contents pages
					//li
						a(href="section-index-dev.html") Section index development
					//li
					//	a(href="employment-checker.html") Example of in-content tool

					// Example PIP content
					//li
					//	a(href="pip-index.html") Help with filling out PIP2 form
					//li
					//	a(href="pip-contents.html") PIP contents page
					//li
					//	a(href="pip-dressing.html") PIP help with getting dressed question
					//li
					//	a(href="pip-cooking.html") PIP preparing and cooking food question

				h2#Brand Branding
				ul
					li
						a(href="brand-icons.html") Brand icons
					//li
						a(href="cards.html") Cards
					li
						a(href="speech-line.html") Speech line
					//li
						a(href="slider.html") Slider