extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	.articleContent
		.newrow
			.span8
				p.u-lede This is a guide to demonstrate elements such as layout, typography, forms, buttons and icons.

		.newrow
			.span12
				h2#Principles Digital principles
				ul
					li
						a(href="principles.html") Digital principles
		.newrow
			.span4-sm
				h2#Styles Styles
				ul
					li
						a(href="styles/typography.html") Typography
					li
						a(href="styles/colours.html") Colours
					li
						a(href="styles/icons.html") Icons
					li
						a(href="styles/tables.html") Tables
					//li
						a(href="new-grid.html") New grid layout
				h2#Forms Forms
				ul
					li
						a(href="forms/buttons.html") Buttons
					li
						a(href="forms/fields.html") Fields
					li
						a(href="forms/field-groups.html") Field groups
					li
						a(href="forms/validation.html") Form validation

			.span4-sm
				h2#Modules Modules
				ul
					li
						a(href="modules/callout.html") Callout
					li
						a(href="modules/revealable.html") Revealable
					li
						a(href="modules/charts.html") Charts
					li
						a(href="modules/section-notice.html") Section Notices
					//li
						a(href="modules/section-notice-dev.html") Section Notice Development
					li
						a(href="modules/toolbar.html") Content toolbar
					li
						a(href="modules/cookie-monster.html") Cookie Monster
					li
						a(href="modules/notice.html") Browser notice
					li
						a(href="modules/sticky.html") Sticky box
					li
						a(href="modules/extent.html") Extent Switcher
					//li
						a(href="modules/overlay.html") Modal/Overlay
					//li
						a(href="modules/reference.html") Reference tool
			.span4-sm
				h2#Brand Branding
				ul
					li
						a(href="branding/brand-icons.html") Brand icons
					//li
						a(href="branding/cards.html") Cards
					li
						a(href="branding/speech-line.html") Speech line