extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	.articleContent
		p.p-lede This is a guide to demonstrate elements such as layout, typography, forms, buttons and icons.
		h2 Contents
		.flex-container
			.flex-col-1-3
				h3 Layout
				ul
					li
						a(href="layout.html") Grid layout
					li
						a(href="new-grid.html") New grid layout
					li
						a(href="long-form.html") Long form content
					li
						a(href="toolbar.html") Content toolbar
					li
						a(href="advisor.html") Advisor content
			.flex-col-1-3
				h3 Website elements
				ul
					li
						a(href="tables.html") Tables
					li 
						h4 Modals
					li(style="list-style: none; display: inline")
						ul
							li
								a(href="extent.html") Extent Switcher
							li
								a(href="overlay.html") Modal/Overlay
							li
								a(href="reference.html") Reference tool
					li
						a(href="typography.html") Typography
					li
						a(href="colours.html") Colours
					li
						a(href="callout.html") Callout
					li
						a(href="collapse.html") Collapse
					li
						a(href="forms.html") Forms