extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home"}])

block content
	.articleContent
		.row
			.span8
				p.u-lede This is a guide to demonstrate elements such as layout, typography, forms, buttons and icons.

		.row
			.span12
				h2#principles Design principles
				ul
					li
						a(href="principles.html") Design principles
		.row
			.span3
				h2#atoms Atoms
				ul
					li
						a(href="typography.html") Typography
					li
						a(href="colours.html") Colours
					li
						a(href="tables.html") Tables
					li
						h4#forms Forms
						ul
							li
								a(href="buttons.html") Buttons
							li
								a(href="Fields.html") Fields
					li 
						h4#grid Grid
						ul
							li
								a(href="grid.html") Grid layout
							li
								a(href="new-grid.html") New grid layout
			.span3
				h2#molecules Molecules
				ul
					li
						a(href="callout.html") Callout
					li
						a(href="collapse.html") Collapse
					li
						a(href="section-notice.html") Section Notices
			.span3
				h2#organisms Organisms
				ul
					li
						a(href="toolbar.html") Content toolbar
					li
						a(href="cookie-monster.html") Cookie Monster
					li 
						h4#modals Modals
						ul
							li
								a(href="extent.html") Extent Switcher
							li
								a(href="overlay.html") Modal/Overlay
							li
								a(href="reference.html") Reference tool
			.span3
				h2#templates Templates
				ul
					li
						a(href="long-form.html") Long form content
					//li
					//	a(href="advisor.html") Advisor content
					li
						a(href="section-index.html") Section index