block settings
	- var title = "Slider"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Branding", href: "index.html#branding"}, 
		{title: "Intro panel"}])

	.intro-panel-1
		.row
			.intro-panel-content
				h1 Example heading
				p Employment and Support Allowance (ESA) is for people who have an illness, health condition or disability that makes it difficult or impossible to work.
	.intro-panel(style="background-color:#B5AFD7; background-image: url(images/branding-development.jpg); background-position:center right; background-size:contain; background-repeat:no-repeat; min-height:350px;")
		.row
			.intro-panel-content(style="padding-right:20%;")
				h1 Example heading
				p Employment and Support Allowance (ESA) is for people who have an illness, health condition or disability that makes it difficult or impossible to work.

block sidebar
	include ../template/sidebar-brand.jade

block content
	.articleContent
		div
			p What's the user need?

			.example-box-plain(style="margin-top:100px; !important")
				label(style="margin-bottom:1rem;") Speech line
				.row
					.span12
						.speech-lines
							h3 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p Quote from William Shakespear 1690
							.box-speech-line

			pre
				code.language-html
					| &lt;div class="speech-lines"&gt;
					| &lt;h3&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h3&gt;
					| &lt;p&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| &lt;div class="box-speech-line"&gt;&lt;/div&gt;
