block settings

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Templates", href: "index.html#templates"},
		{title: "Navigation page"}])

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

block content
	.articleContent
		.row
			.span12
				input#standardField(placeholder="Search", type="text", value="Consumer")
				b Related tags:&nbsp;
				button.btn.btn-small(type="button") Tag one
				button.btn.btn-small(type="button") Tag two
				button.btn.btn-small(type="button") Tag three
				button.btn.btn-small(type="button") Tag four3
		//.row
			.span12
				hr(style="margin:0;")
		//.row
			.span8
				h2 Pages
			nav.side-nav-beta.adviser-nav
				ul
					li.side-nav-beta__heading.-active.-open
						a
							span Sections
					ul
						li.side-nav-beta__sibling
							a(href="") Link
						li.side-nav-beta__sibling
							a(href="") Link
					li.side-nav-beta__heading.-active.-open
						a
							span Tools
					ul
						li.side-nav-beta__sibling
							a(href="") Link
						li.side-nav-beta__sibling
							a(href="") Link
					li.side-nav-beta__heading.-active.-open
						a
							span Tags
					ul
						li.side-nav-beta__sibling
							a(href="") Link
						li.side-nav-beta__sibling
							a(href="") Link
