block settings
	- var title = "Modal/Overlay"
	- var sidebar = true
	- var toolbars = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Modals", href: "index.html#modals"}, 
		{title: "Modal/Overlay"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.overlay
		.overlay__modal
			.overlay__main
				h3.overlay__header Overlay title
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem nibh, placerat in ultrices id, semper id est. Suspendisse maximus eget tortor ut efficitur. Aenean facilisis ultrices lorem volutpat pellentesque. In quis scelerisque magna. Suspendisse vel erat a sapien ornare sollicitudin quis ut quam. Vestibulum sollicitudin augue at tempor elementum. Nulla vitae nisl nisl.
				fieldset
					label(for="standardField") Standard field
					input#standardField(type="text", placeholder="")
			.overlay__footer
				button.btn.btn-primary-light(type="button") Cancel
				button.btn.btn-primary.tick-button-icon(type="button") Agree