block settings
    - var title = "Q8 Dressing and undressing"
    - var sidebar = true
    - var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Benefits", href: "#"},
        {title: "Sick or disabled people and carers", href: "#"},
        {title: "PIP", href: "pip-index.html"},
        {title: "Help filling in your PIP2 form", href: "pip-contents.html"},
        {title: "Q8 Dressing and undressing"}
        ])

block sidebar
    - var section = "Help filling in your PIP2 form"
    +sidebar([
        {title: "General Advice"},
        //{title: "Q2 About your health conditions or disabilities"},
        {title: "Q3 Preparing Food"},
        //{title: "Q4 Eating and drinking"},
        //{title: "Q5 Managing treatments"},
        //{title: "Q6 Washing and bathing"},
        //{title: "Q7 Managing toilet needs"},
        {title: "Q8 Dressing and undressing"}
        //{title: "Q9 Communicating"},
        //{title: "Q10 Reading"},
        //{title: "Q11 Mixing with other people"},
        //{title: "Q12 Making decisions about money"},
        //{title: "Q13 Going out"},
        //{title: "Q14 Moving around"}
        ],2)
//    - var section = "Sibling categories"
//    +sidebar([
//        ])

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div
            p This question is to assess your ability to put on and take off culturally appropriate, un-adapted clothing that’s suitable for the situation. This includes putting on and taking off socks and shoes.

            p Most people will get dressed and undressed - but if you have any difficulties at all, including if you sometimes don’t get dressed or undressed in the morning or before going to bed, you should probably get some points for this question. You should also get points if it takes you a long time, you couldn’t do it without another person, or without an aid or appliance.

            h2 Question 8a - tick box 

            //.example-box-plain
            .callout--quote
                label(for="standardfield") Do you use an aid or appliance to dress or undress?
                <span class="form-hint">Aids or appliances could include shoe horns, modified clothing e.g. front fastening bras, velcro fastenings etc</span>
                label.radio.radio--inline
                    input(checked name="radio-inline", type="radio", value="option1")
                    | Yes
                label.radio.radio--inline
                    input(name="radio-inline", type="radio", value="option2")
                    | No
                label.radio.radio--inline
                    input(name="radio-inline", type="radio", value="option3")
                    | Sometimes
                p If possible, try not to answer “sometimes” because either you do or you don’t use an aid or appliance. If you tick '"sometimes" the DWP might think you can manage more than you can. You can explain when you do and don’t use an aid in the extra information text box for question 8. 
                p If you tick no: do you really not use an aid? You should probably be ticking yes and giving more detail in the extra information if any of the following apply:
                ul
                    li you wear adapted clothing, such as clothes with velcro or clothes with no fastenings
                    li you use an aid some of the time but not always 

            h2 Question 8b - tick box  

            .callout--quote
                label(for="standardfield") Do you need help from another person to dress or undress?
                label.radio.radio--inline
                    input(checked name="radio-inline", type="radio", value="option1")
                    | Yes
                label.radio.radio--inline
                    input(name="radio-inline", type="radio", value="option2")
                    | No
                label.radio.radio--inline
                    input(name="radio-inline", type="radio", value="option3")
                    | Sometimes

                p Again, try not to answer sometimes.
                p If you tick no: our advice is you should probably be ticking yes if any of the following apply:
                ul
                    li someone reminds you
                    li someone encourages you
                    li someone supervises you 
                    li someone stays with you to make sure you’re safe / not at risk

            h2 Question 8 extra information

            .callout--warning
                h2 Don’t ignore the extra information box - it’s a really important part of your application. 
                p It’s your opportunity to tell the DWP how your condition affects you and give them a truer picture against which they’ll decided whether or not you can get PIP.
                p You can also use this space to explain what help you need - even if you don’t currently get it. For example, because you said you don’t use an aid or someone doesn’t help you. 

            .collapse.collapsible
                .collapse-toggle I couldn’t get dressed or undressed if I was on my own
                .collapse-content
                    p Try to think about how you get dressed and undressed. It might help to imagine getting dressed in a changing room of a shop or someone else’s house.

                    p If someone else helps you to get dressed try to describe what they do and why. Think about how much longer it takes compared to someone who doesn’t have your condition. If you can’t do it in one go, include the times you have to rest. Does it take twice as long or more? 

                    p Explain how you would put on certain items of clothing, and how someone helps you to do it. Be specific about which items you need help with, or if you have to avoid wearing them altogether. For example, do you have to wear clothes you wouldn’t choose to wear but you can’t manage fiddly buttons or shoe laces?

                    p Could you repeatedly get dressed and undressed, for example in a changing rooms in a shop? Think about whether this would make you tired or cause you pain, and whether you would need someone with you to help you if you were going shopping for clothes..
                    a.collapse-toggle-close Close


            .collapse.collapsible
                .collapse-toggle I have difficulties getting some items of clothing on or off, or fastening them without someone helping me (for example a shirt, jumper, socks, tights, or shoes)
                .collapse-content
                    p Explain how you would put on particular items of clothing, and how someone helps you to do it. Be specific about who helps you, what they do to help and which items they help with. There might be some clothes you avoid wearing altogether. For example if you wear trousers with an elasticated waist as you can’t manage a belt, or cardigans rather than jumpers.

                    p Could you repeatedly get dressed and undressed, for example in a changing rooms in a shop? Think about whether this would make you tired or cause you pain, or if you would need someone with you to help if you were shopping for clothes.

                    p Does it take you longer to get dressed and undressed than other people? If you can’t do it in one go include times you have to rest. Think about how much longer it takes you to get dressed and undressed compared to someone who doesn’t have your condition.
                    a.collapse-toggle-close Close

            .collapse.collapsible
                .collapse-toggle I sometimes need reminding or encouraging to change my clothes when I go to bed or when I get up
                .collapse-content
                    p If you find that you don’t always get undressed when you go to bed, or that you don’t always get dressed in the morning, try to explain why and how often this happens. Try to be specific about what happens if you’re not reminded or encouraged, and who reminds or encourages you. Here are some examples:
                    .callout--quote
                        p 'I suffer from depression and I often feel too low to get dressed. It’s seems like a big effort and I find it hard to be motivated to do it unless my dad comes round and says I should. He usually comes round 2 or 3 times a week - unless he comes I don’t usually get dressed.'
                    .callout--quote
                        p ‘I have PTSD and usually fall asleep on the sofa in my clothes - the thought of sleeping upstairs makes me really anxious as I need to be able to see the front door. Sometimes my partner comes down to get me to change but she usually won’t as I can get very distressed if I’m woken up in the night’
                    a.collapse-toggle-close Close

            .collapse.collapsible
                .collapse-toggle Sometimes I don’t get changed or get dressed when I probably should
                .collapse-content
                    p Think about whether you don’t get changed when other people might think it appropriate. Here are some examples:
                    .callout--quote
                        p ‘It’s very painful for me to change my clothes. It takes about an hour for the pain in my back to subside afterwards and I have to take painkillers. It’s hard to put myself through it, so if I’m not going out that day I won’t change out of my night clothes.’
                    .callout--quote
                        p ‘I have tremors in my hands which is a side effect of my asthma medication. I spill my food and drinks on my clothes probably a couple of times a day. I know I should probably change out of them but I can’t motivate myself until other people notice and say something’
                    a.collapse-toggle-close Close

            .collapse.collapsible
                .collapse-toggle I need help to choose appropriate clothes to wear
                .collapse-content
                    p Think about why you need some help to choose which clothes to wear. Here are some examples:
                    .callout--quote
                        p ‘I’m partially sighted and I need help to pick out clothes as otherwise I can end up with something inside out or back to front.’
                    .callout--quote
                        p ‘Due to Michael’s aspergers he doesn’t appreciate what clothes are appropriate. He sees clothes as purely functional and doesn’t see that some things shouldn’t be worn together, or that a t shirt is full of holes.’
                    .callout--quote
                        p When I’m feeling manic I can lose my inhibitions and wear some pretty unusual outfits. People have shouted at me in the street. I don’t care at the time but later I feel mortified and it really gets me down’
                    a.collapse-toggle-close Close

            .collapse.collapsible
                .collapse-toggle I’ve got undressed in public, or at another inappropriate time
                .collapse-content
                    p If you’ve ever got undressed in the street, or at any other time that other people thought was inappropriate, make sure you put this on your form. Try to explain why you think it happened, such an effect of a specific condition. This can be quite common in people who have dementia. 
                    a.collapse-toggle-close Close

            .collapse.collapsible
                .collapse-toggle I use aids or appliances to help me get dressed, for example a shoe horn, button fasteners or a front-fastening bra
                .collapse-content
                    p Think about what aids and appliances you need to get dressed and undressed. It might help to imagine getting dressed in a changing room of a shop or at a friend’s house instead of your own.
                    p Try to cover all the aids or appliances you use and why you need them - for example you could need side opening clothing because someone else needs to help you get dressed.
                    p Think about whether it would take you much longer to get dressed or undressed without an aid or appliance. How much longer would it take?
                    p Here are some examples:
                    ul
                        li a shoe horn
                        li button fasteners
                        li front fastening bra
                        li velcro fastening shoes
                        li Zip puller
                        li dressing stick
                        li sock puller
                        li sleeve aids
                        li a leg lifter
                        li magnetic buttons
                        li open-back or side-opening clothing
                        li elastic shoelaces
                        li a reacher
                    a.collapse-toggle-close Close

            .callout--related
                h3 Next steps
                p If you don’t meet the basic eligibility conditions, you’ll be sent a decision letter to say why you’ve been refused. If you think the decision is wrong, you can #[a(href="#") challenge the DWP’s decision].
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
