block settings
    - var title = "Help with question 3, Preparing Food"
    - var sidebar = true
    - var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Benefits", href: "#"},
        {title: "Sick or disabled people and carers", href: "#"},
        {title: "PIP", href: "pip-index.html"},
        {title: "Help filling in your PIP2 form", href: "pip-contents.html"},
        {title: "Question 3: prepare and cook a simple meal"}
        ])

block sidebar
    - var section = "Help filling in your PIP2 form"
    +sidebar([
            {title: "Help with question 2, About your health conditions"},
            {title: "Help with question 3, Preparing Food"},
            {title: "Help with question 4, Eating and drinking"},
            {title: "Help with question 5, Managing treatments"},
            {title: "Help with question 6, Washing and bathing"},
            {title: "Help with question 7, Managing toilet needs"},
            {title: "Help with question 8, Dressing and undressing"},
            {title: "Help with question 9, Communicating"},
            {title: "Help with question 10, Reading"},
            {title: "Help with question 11, Mixing with other people"},
            {title: "Help with question 12, Making decisions about money"},
            {title: "Help with question 13, Going out"},
            ],1)
//    - var section = "Sibling categories"
//    +sidebar([
//        ])

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div
            p The question means preparing a simple meal for one and then heating it on a hob or in a microwave until it is safe to eat. The hob or microwave must be at waist height.

            p It’s helpful to answer the questions based on using this meal as an example: prepare two large potatoes for boiling, some sweet corn (from a tin) for boiling and a small piece of meat or fish to fry.

            h2 What the DWP want to know?
            p The DWP want to know how your condition affects your ability to prepare and cook (for example, the above meal) and not your technical ability to do so.

            h2 The questions
            p Try not to answer “sometimes” because either you do or you don’t use an aid or appliance. If you tick "sometimes" the DWP might think you can manage more than you can.

            p Explain when you do and don’t use an aid in the extra information.
            p You should probably tick “yes” and give more detail in the extra information if any of the following apply:
            ul
                li you sit down while preparing or cooking - a stool or similar counts as an “aid”
                li you take rest breaks while preparing or cooking
                li you sometimes use an aid
                li you use an aid
                li someone helps you
                li someone reminds you
                li someone encourages you
                li someone supervises you
                li someone stays with you to make sure you’re safe or not at risk

            h2 Extra information
            .callout
                h2 Don’t ignore the extra information box - it’s a really important part of your application.
                p It’s your opportunity to tell the DWP how your condition affects you and give them a truer picture against which they’ll decide whether or not you can get PIP.

            h3 What to include: How you complete the task 
            p List the items you use and explain how they help you and:
            ul
                li never miss any off because you think they’re obvious
                li never not explain how they help you because you think it’s obvious
                li always include any you don’t have but that would help you if you had them
                li If you use an aid or appliance to reduce the feeling of pain, discomfort or tiredness but still experience them it’s important you state in the extra information.

            h4 Someone prompts, reminds or encourages you
            p List their names and explain how and why they’re helping you.

            h4 Someone supervises you
            p List their names and explain why you need supervision and what the risks are to you or someone else if you don’t have it. Include the following:
            ul
                li if it would take you twice as long to complete the task as someone without your condition.
                li if you've ever had an accident or risk of an accident - give examples if you can

            h4 Someone assists you
            p If you'd experience any level of pain, discomfort or tiredness if they didn't help you.

            h4 You can't prepare or cook a meal
            p You must explain to the DWP why you can’t. Don’t exclude anything just because you think it’s obvious or the DWP won’t get a true picture of how your condition affects you. 

            h2 What to include: How you the task makes you feel
            p There are things you can include to help the DWP get a better understanding of how your condition affects your ability to prepare and cook a meal. They'll use this information to decide whether or not you can perform the task reliably. If you can't do it reliably then it means you need more help and are more likely to get PIP. 

            h4 Time it takes
            p If it takes you twice as long as someone without your condition state this. Try to give time estimate. If it takes you even longer on a bad day - state this.

            h4 Accidents
            p Tell the DWP if you’ve ever injured yourself while preparing or cooking a meal.
            p If this was because you didn’t receive help or supervision - make sure you say this and if this accident had on your physical and mental health.

            h4 Good days and bad days
            p Tell the DWP if you have good and bad days. Try to give a number for each. It’s ok to give an average, but tell them this and if it varies week to week or not.
            p To help you keep a record of these, #[a.a-pdf-doc(#) use the template diary].

            h4 Pain, discomfort or tiredness
            p If you experience any pain, discomfort or tiredness even if it’s just sometimes or if you’ve found a way to cope
            p Tell the DWP how the pain, discomfort or tiredness affects you for the rest of the day / night and the consequences it has on your physical or mental health.


            .callout
                h2 Write your answer on an additional piece of paper
                p You’ll probably have a fair bit to write in the extra information. It’s ok to write your answer on a separate sheet and attach it to your claim form. Always write the following on your additional sheet: the question number, your name and your national insurance number.
                p To help you, use #[a.a-pdf-doc(#) this template additional PIP claim form sheet].


            //.callout--related
                h3 Next steps
                p If you don’t meet the basic eligibility conditions, you’ll be sent a decision letter to say why you’ve been refused. If you think the decision is wrong, you can #[a(href="#") challenge the DWP’s decision].
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
