block settings
	- var title = "Personal Independence Payment"
	- var mockup = true
	- var folder = "pip/"

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Benefits", href: "#"},
        {title: "Sick or disabled people and carers", href: "#"},
		{title: "PIP"}])


block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

block content
	.articleContent
		.row
			.span8
				.beta-index-page__box.col-md-12.col-sm-12
					h2 Before you claim PIP
					ul.li--no-style
						li #[a(href="#") Check if you&#39;re eligible for PIP]
						li #[a(href="#") PIP: presence, residence and length of condition rules]
						li #[a(href="#") How much PIP you can get and for how long]
						li #[a(href="#") Extra money and help PIP entitles you to]
						li #[a(href="#") Moving from DLA to PIP]

				.beta-index-page__box.col-md-12.col-sm-12 
					h2 Help with your PIP claim
					ul.li--no-style
						li #[a(href="#") How to claim PIP]
						li #[a(href="pip-contents.html") Help filling in your PIP2 form]
						li #[a(href="#") How to claim PIP if you have a terminal illness]
						li #[a(href="#") How to fill in your PIP claim form]
						li #[a(href="#") Getting evidence to support your PIP claim]
						li #[a(href="#") Preparing for your PIP assessment]
						li #[a(href="#") Changes that affect your PIP]

				.beta-index-page__box.col-md-12.col-sm-12
					h2 PIP appeals
					ul.li--no-style(style="clear:both;")
						li #[a Challenging a PIP decision - mandatory reconsideration]
						li #[a Challenging a PIP decision - apply for a tribunal hearing]
						li #[a Challenging a PIP decision - the tribunal hearing]
						li #[a How the DWP makes a decision on PIP claims]

				.beta-index-page__box.col-md-12.col-sm-12
					h2 PIP resources
					ul.li--no-style
						li #[a PIP resources for advisers]
						li #[a Letter to confirm the DWP has given you more time to send your PIP claim form]
						li #[a Letter to send evidence after your PIP claim form]