block settings
    - var title = "Help filling in your PIP2 form"
    - var sidebar = true
    //- var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Benefits", href: "#"},
        {title: "Sick or disabled people and carers", href: "#"},
        {title: "PIP", href: "pip-index.html"},
        {title: "Help filling in your PIP2 form"}
        ])

block sidebar
    - var section = "Help with your PIP claim"
    +sidebar([
        {title: "How to claim PIP"},
        {title: "Help filling in your PIP2 form"},
        {title: "How to claim PIP if you have a terminal illness"},
        {title: "How to fill in your claim form"},
        {title: "Getting evidence to support your PIP claim"},
        {title: "Preparing for your PIP assessment"},
        {title: "Changes that affect your PIP"}
        ],1)
//    - var section = "Sibling categories"
//    +sidebar([
//        ])

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div
            p Select from one of the questions below that you need help with. The numbers relate to the question number on your PIP2 form. If you haven't received yours, you can #[a(href="#") request it from DWP].
            .box--links
                a.steps__link(href="#")
                    h2 General Advice
                    p Advice for completing the additional parts of your PIP2 form and return it.

            .box--links
                a.steps__link(href="#")
                    h2 Q3 Preparing Food
                    p Detailed information to help answer question 3 about preparing food.

            .box--links
                a.steps__link(href="pip-dressing.html")
                    h2 Q8 Dressing and undressing
                    p Detailed information to help answer question 8 about dressing and undressing.
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
