block settings
    - var title = "Help filling in your PIP2 form"
    - var sidebar = true
    //- var toolbars = true
    //- var cookiemonster = true
    - var mockup = true

extends ../template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "index.html"}, 
        {title: "Benefits", href: "#"},
        {title: "Sick or disabled people and carers", href: "#"},
        {title: "PIP", href: "pip-index.html"},
        {title: "Help filling in your PIP2 form"}
        ])

block sidebar
    - var section = "Help with your PIP claim"
    +sidebar([
        {title: "How to claim PIP"},
        {title: "Help filling in your PIP2 form"},
        {title: "How to claim PIP if you have a terminal illness"},
        {title: "How to fill in your claim form"},
        {title: "Getting evidence to support your PIP claim"},
        {title: "Preparing for your PIP assessment"},
        {title: "Changes that affect your PIP"}
        ],1)
//    - var section = "Sibling categories"
//    +sidebar([
//        ])

block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
                
block content
    .articleContent
        div
            h2 General Advice
            p Make sure you #[strong answer all the questions], even if you don't think they are relevant to you or your condition. You don't have to complete the form in one go, take regular breaks and come back to it or ask for help from a friend or family member.

            h2 Help with specific questions
            p Select from one of the questions below that you need help with. If you haven't received yours, you can #[a(href="#") request it from DWP].

            ul
                li #[a(href="#") Help with question 2, About your health conditions]
                li #[a(href="#") Help with question 3, Preparing Food]
                li #[a(href="#") Help with question 4, Eating and drinking]
                li #[a(href="#") Help with question 5, Managing treatments]
                li #[a(href="#") Help with question 6, Washing and bathing]
                li #[a(href="#") Help with question 7, Managing toilet needs]
                li #[a(href="#") Help with question 8, Dressing and undressing]
                li #[a(href="#") Help with question 9, Communicating]
                li #[a(href="#") Help with question 10, Reading]
                li #[a(href="#") Help with question 11, Mixing with other people]
                li #[a(href="#") Help with question 12, Making decisions about money]
                li #[a(href="#") Help with question 13, Going out]
                
    #simpleModal.modal
            .extent-country-select
                    form
                        h2 Advice can vary depending on where you live
                            fieldset
                                label(for="exampleInputFile") Where do you live?
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-GB", checked)
                                    | England
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-SCT")
                                    | Scotland
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Wales
                                label.radio
                                    input(type="radio", name="radio", value="?lang=en-WLS")
                                    | Cmyru
                                label.radio.radio--outline
                                    input(type="radio", name="radio", value="?lang=cy")
                                    | Northern Ireland
                            button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

    script.
        $(document).ready(function(){
            $("#showSimpleModal").click(function() {
                $("div#simpleModal").addClass("show");
                return false;
            });
            $("#closeSimple").click(function() {
                $("div#simpleModal").removeClass("show");
                return false;
            });
        });
        //close modal when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $("div#simpleModal").removeClass('show');
            }
        });
