block settings
	- var title = "Stop receiving junk mail"
	- var sidebar = false
	- var toolbars = false
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Templates", href: "index.html#templates"},
		{title: "Content"}])

block script
	script.
		var x = ($('#letter').width())*1.414;
		$('#letter div').css({'min-height':x+'px'});
		$(window).resize(function() {
			var x = ($('#letter').width())*1.414;
			$('#letter div').css({'min-height':x+'px'});
		});

block content
	.articleContent
		.flex-container
			.flex-row
				.form.col-xs-12.col-md-4
					p Fill in your details, and we’ll email Royal Mail, Direct Marketing Association and The Mailing Preference Service for you.
					fieldset
						label(for="standardField") Full name
						input#standardField(placeholder="", type="text" required)

					fieldset
						label(for="standardField") Email
						input#standardField(placeholder="", type="email" required)

					fieldset
						label(for="standardField") Address line 1
						input#standardField(placeholder="", type="email" required)

					fieldset
						label(for="standardField") Address line 2
						input#standardField(placeholder="", type="email")

					fieldset
						label(for="standardField") Town or city
						input#standardField(placeholder="", type="email")

					fieldset
						label(for="standardField") Postcode
						input#standardField(placeholder="", type="email" required)

					a.btn-light.left-button-icon(href="post-tool.html") Back
					a.btn.right-button-icon(href="post-tool-3.html") Next

				#letter.col-xs-12.col-md-8
					.letter-content
						p
						| 1 High Street
						br 
						| New Town
						br
						| New City
						br
						| A1 1AA

						p
						| Please accept this communication as instructions to remove the above address from delivering all unaddressed items.
						p
						| I understand that I may miss information from local or national government or other publications that are sent using this service.

						p
						| Joe Blogs
						p joe@joeblogs.com						
