block settings
	- var title = "Reference tool"
	- var sidebar = true
	- var toolbars = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Modals", href: "index.html#modals"}, 
		{title: "Reference tool"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.overlay
		.overlay__modal
			.overlay__main
				h3.overlay__header References
				ul.reference__list
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Get airline compensation for lost or delayed luggage (EWSNI) § What you could get from the airline
					li.removed
						button.btn.btn-secondary
							span.screenreader Undo
						p
							a(href="#") Claim compensation if your flight's delayed or cancelled (EWSNI) § If your flight’s delayed for 3 or more hours
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI)
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § The right to ask for flexible working
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § Health and safety
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Get airline compensation for lost or delayed luggage (EWSNI) § What you could get from the airline
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Claim compensation if your flight's delayed or cancelled (EWSNI) § If your flight’s delayed for 3 or more hours
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI)
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § The right to ask for flexible working
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § Health and safety
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Get airline compensation for lost or delayed luggage (EWSNI) § What you could get from the airline
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Claim compensation if your flight's delayed or cancelled (EWSNI) § If your flight’s delayed for 3 or more hours
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI)
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § The right to ask for flexible working
					li
						button.btn.btn-warning
							span.screenreader Delete
						p
							a(href="#") Basic rights at work (EWSNI) § Health and safety
			.overlay__footer
				button.btn.btn-primary-light(type="button") Close
				button.btn.btn-primary(type="button") Clear All
				.btn-group
					button.btn.btn-secondary(type="button") Load
					button.btn.btn-secondary(type="button") Save
					button.btn.btn-secondary(type="button") Copy