block settings
	- var title = "Revealable"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Revealable"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p Revealable sections allow you to hide content that isn’t applicable to most people visiting the page, but will still be relevant to some. This is a great way of making the page more succinct and easier to scan.

			p Keep in mind when creating content that the content of revealables will most likely not be indexed in search engines, however the 'Toggle title' will be, so this is very important to be clear and descriptive. You also shouldn't use more than 4 accordions per page.

			p Keep in mind hidden content can also be easy for users to miss, so they should be used sparingly or only with a good reason.
			.example-box-plain
				section.revealable
					h3 Unstyled content inside header/toggle
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada mattis euismod. In varius nisl vel ex eleifend, eget pellentesque sem feugiat. Ut tristique, augue eget pellentesque rutrum, justo nunc convallis leo, tempor rhoncus lacus metus efficitur odio. Phasellus metus erat, condimentum sit amet leo ac, viverra consectetur lorem.

			pre
				code.language-html
					| &lt;section class="revealable"&gt;
					| 	&lt;h3&gt;Unstyled content inside header/toggle&lt;/h3&gt;
					| 	&lt;p&gt;Lorem ipsum.&lt;/p&gt;
					| &lt;/section&gt;


