block settings
	- var title = "Content index"
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Templates", href: "index.html#templates"},
		{title: "Content index"}])

block sidebar
	- var section = "Section title"
	// Set the number at the end to the array position of the active page
	+sidebar([
		{title: "Sibling page 1"},
		{title: "Sibling page 2"}],
		0)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

block content
	.main-content
		.beta-index-page

			.beta-index-page__box.col-md-12.col-sm-12
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Cars and vehicles
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Buying a used car
						li
							a(href="#") Problem with a used car
						li
							a(href="#") Problem with a car repair

			.beta-index-page__box.col-md-12.col-sm-12 
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Changing your mind about a purchase
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") If you were pressured into buying something you didn’t want
						li
							a(href="#") Cancel something being paid for on hire-purchase 
						li
							a(href="#") Cancel a contract, membership or subscription
						li
							a(href="#") Changing your mind about something you've bought   

			.beta-index-page__box.col-md-12.col-sm-12
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Problems with purchases
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Belongings left with a trader have been lost or damaged
						li
							a(href="#") Claim under a warranty or guarantee 
						li
							a(href="#") Claim compensation if something you bought causes damage or distress
						li
							a(href="#") Problems with delivery
						li
							a(href="#") Return faulty goods

			.beta-index-page__box.col-md-12.col-sm-12
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Scams, counterfeits and stolen goods
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Report fake or counterfeit goods
						li
							a(href="#") If you think you've bought stolen goods
						li
							a(href="#") Report to Trading Standards

			.beta-index-page__box.col-md-12.col-sm-12 
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Problems with phone, internet, downloads or TV
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Switch broadband, phone or TV provider
						li
							a(href="#") Stop getting nuisance calls and texts
						li
							a(href="#") Disputing a phone, internet or TV bill
						li
							a(href="#") Problem with an app, software or download

			.beta-index-page__box.col-md-12.col-sm-12 
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Getting home improvements done
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Before you get building work done
						li
							a(href="#") Problem with building work, decorating or home improvements

			.beta-index-page__box.col-md-12.col-sm-12 
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Holiday cancellations and compensation                
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Claim compensation if your flight's delayed or cancelled
						li
							a(href="#") Cancelling a holiday
						li
							a(href="#") Claim compensation for a holiday

			.beta-index-page__box.col-md-12.col-sm-12 
				.beta-index-page__section.col-md-6.col-sm-12
					h2 Get more help                
				.beta-index-page__links.col-md-6.col-sm-12
					ul.li--no-style
						li
							a(href="#") Contact the consumer helpline
						li
							a(href="#") Template letters

			.index-page.flex-row.js-equal-height.row           
				.span12
					h2 This information has moved

			.row
				.span4
					.callout--alert
						h3 Energy
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Water
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Post
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Driving and parking
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Transport
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Copyright
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Pets and vets
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Scams
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Building organisations
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 Buying abroad
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content

				.span4
					.callout--alert
						h3 ADR
						p Could be a description, with the title linking, or could be just links to single piece of content.
						ul.li--no-style
							li
								a(href="#") Link to content
							li
								a(href="#") Link to content