block settings
	- var title = "Section Notices"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Section Notices"}])

block sidebar
	include ../template/sidebar-modules.jade

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

	aside.section-notice__adviser
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge ADVISER
				| This page is part of #[a(href="#") adviser only] content.

block content
	.articleContent
		div
			p Section notices appear between the breadcrumbs and page content.

			p This section is under review, #[a(href="./section-notice-dev.html") this is the updated pattern being researched].

			.example-box-plain
				aside.section-notice
					h2.screenreader Notice
					.section-notice__content
						p
							span.badge NEW
							| This page is part of #[a(href="#") our new approach to digital advice].
			pre
				code.language-html
					| &lt;aside class="section-notice"&gt;
					| 	&lt;h2 class="screenreader"&gt;Notice&lt;/h2&gt;
					| 	&lt;div class="section-notice__content"&gt;
					| 		&lt;p&gt;
					| 			&lt;span class="badge"&gt;NEW&lt;/span&gt;This page is part of &lt;a href="#"&gt;our new approach to digital advice&lt;/a&gt;.
					| 		&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/aside&gt;

			//.example-box-plain
				aside.section-notice__adviser
					h2.screenreader Notice
					.section-notice__content
						p
							span.badge ADVISER
							| This page is part of #[a(href="#") adviser only] content.
			//pre
				code.language-html
					| &lt;aside class="section-notice__adviser"&gt;
					| 	&lt;h2 class="screenreader"&gt;Notice&lt;/h2&gt;
					| 	&lt;div class="section-notice__content"&gt;
					| 		&lt;p&gt;
					| 			&lt;span class="badge"&gt;ADVISER&lt;/span&gt;This page is part of &lt;a href="#"&gt;adviser only&lt;/a&gt; content.
					| 		&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/aside&gt;