block settings
	- var title = "Section Notices (development)"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Section Notices (development)"}])

block sidebar
	include ../template/sidebar-modules.jade

block section-notice
	aside.section-notice--dev
		h2.screenreader Notice
		.section-notice--dev__changing
			p
				span.badge SURVEY
				| Help us to improve our [section] advice. Please #[a(href="#") complete our short survey]. It'll take about 5-10 minutes.

	aside.section-notice--dev
		h2.screenreader Notice
		.section-notice--dev__content
			p
				span.badge NEW
				| This page is new – #[a(href="#") your feedback] will help us to improve it.


// block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge NEW
				| This page is part of #[a(href="#") our new approach to digital advice].

	aside.section-notice__adviser
		h2.screenreader Notice
		.section-notice__content
			p
				span.badge ADVISER
				| This page is part of #[a(href="#") adviser only] content.

block content
	.articleContent
		div
			p Developing a more definitive approach to notice headings, to be clearer for visitors and to avoid distracting from the primary objective of engaging with content.
			h2 Section notice types
			h3 Survey notice
			ul
				li can be used in the discovery phase of epic
				li used in heading of all content areas that could be changing

			.example-box-plain
				aside.section-notice--dev
					h2.screenreader Notice
					.section-notice--dev__changing
						p
							span.badge SURVEY
							| Help us to improve our [section] advice. Please #[a(href="#") complete our short survey]. It'll take about 5-10 minutes.
			pre
				code.language-html
					| &lt;aside class="section-notice"&gt;
					| 	&lt;h2 class="screenreader"&gt;Notice&lt;/h2&gt;
					| 	&lt;div class="section-notice__content"&gt;
					| 		&lt;p&gt;
					| 			&lt;span class="badge"&gt;SURVEY&lt;/span&gt;Help us to improve our [section] advice. Please &lt;a href="#"&gt;complete our short survey&lt;/a&gt;. It'll take about 5-10 minutes.
					| 		&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/aside&gt;

			h3 New notice
			ul
				li used on all entirely new content (not amended or updated)
				li automatically removed after 6 weeks


			.example-box-plain
				aside.section-notice--dev
					h2.screenreader Notice
					.section-notice--dev__content
						p
							span.badge NEW
							| This page is new – #[a(href="#") your feedback] will help us to improve it.
			pre
				code.language-html
					| &lt;aside class="section-notice__adviser"&gt;
					| 	&lt;h2 class="screenreader"&gt;Notice&lt;/h2&gt;
					| 	&lt;div class="section-notice__content"&gt;
					| 		&lt;p&gt;
					| 			&lt;span class="badge"&gt;NEW&lt;/span&gt;This page is new – &lt;a href="#"&gt;your feedback&lt;/a&gt; will help us to improve it.
					| 		&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/aside&gt;