block settings
	- var title = "Speech line"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Branding", href: "index.html#branding"},
		{title: "Speech line"}])

block sidebar
	include ../template/sidebar-brand.jade

block content
	.articleContent
		div
			p Speech line is a brand asset that is used to highlight a quote or insight from the page.
			p General rules for speech line
			ul
				li use the same colour text and line
				li try not to use more than one speech line per page of content.
			.speech-lines
				h3 An example of a quote in a report when the speech line should be used instead of the speech bubble
				p Quote from William Shakespear 1690
				.box-speech-line


			.example-box-plain(style="margin-top:100px; !important")
				label(style="margin-bottom:1rem;") Speech line
				.row
					.span12
						.speech-lines
							h3 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p Quote from William Shakespear 1690
							.box-speech-line

			pre
				code.language-html
					| &lt;div class="speech-lines"&gt;
					| 	&lt;h3&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h3&gt;
					| 	&lt;p&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| &lt;div class="box-speech-line"&gt;&lt;/div&gt;


			.example-box-plain(style="margin-top:100px; !important")
				label(style="margin-bottom:1rem;") Speech line
				.row
					.span12
						.speech-lines-purple
							h3 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p Quote from William Shakespear 1690
							.box-speech-line-purple

			pre
				code.language-html
					| &lt;div class="speech-lines"&gt;
					| 	&lt;h3&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h3&gt;
					| 	&lt;p&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| &lt;div class="box-speech-line"&gt;&lt;/div&gt;

			.example-box-plain(style="margin-top:100px; !important")
				label(style="margin-bottom:1rem;") Speech line
				.row
					.span12
						.speech-lines-teal
							h3 An example of a quote in a report when the speech line should be used instead of the speech bubble
							p Quote from William Shakespear 1690
							.box-speech-line-teal

			pre
				code.language-html
					| &lt;div class="speech-lines"&gt;
					| 	&lt;h3&gt;An example of a quote in a report when the speech line should be used instead of the speech bubble&lt;/h3&gt;
					| 	&lt;p&gt;Quote from William Shakespear 1690&lt;/p&gt;
					| &lt;div class="box-speech-line"&gt;&lt;/div&gt;
