block settings
	- var title = "Sticky box"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"},
		{title: "Sticky box"}])

block sidebar
	include ../template/sidebar-modules.jade

block content
	.articleContent
		div
			p Notices stick to the top of the screen if the user scrolls past them.  The notice is contained within its parent.

			.box--sticky.js-make-sticky
				p This is OISC level 1 advice - you’re qualified to advise on this subject.
				
			pre
				code.language-html
					| &lt;div class="box--sticky js-make-sticky"&gt;
					| 	&lt;p&gt;
					| 		&lt;p&gt;This is OISC level 1 advice - you’re qualified to advise on this subject&lt;/p&gt;
					| &lt;/p&gt;


			div(style="height:1200px") 
