block settings
	- var title = "Tables"
	- var sidebar = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"},
		{title: "Tables"}])

block sidebar
	include ../template/sidebar-styles.jade

block script
	script(src="js/table-collapse.js")

block content
	.articleContent
		div
			p Tables are a great way to lay out information that may otherwise be confusing, and can also make information a lot easier to scan. They can however be more difficult for people with accessibility needs, so it's important to only use them where they are needed.
			p Putting long form text into a table should generally be avoided.
			h2 Basic table
			p It's important to use the #[span.code th] tag and #[span.code scope] attribute when defining a table heading. This is for both styling and accessibility.
			.example-box-plain
				table
					thead
						tr
							th(scope="col") Column heading
							th(scope="col") Column heading
							th(scope="col") Column heading
					tbody
						tr
							td Table cell
							td Table cell
							td Table cell
						tr
							td Table cell
							td Table cell
							td Table cell
			pre
				code.language-html
					| &lt;table&gt;
					| 	&lt;thead&gt;
					| 		&lt;tr&gt;
					| 			&lt;th scope="col"&gt;Column heading&lt;/th&gt;
					| 			&lt;th scope="col"&gt;Column heading&lt;/th&gt;
					| 			&lt;th scope="col"&gt;Column heading&lt;/th&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/thead&gt;
					| 	&lt;tbody&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/tbody&gt;
					| &lt;/table&gt;

			h2 Table with two headers
			.example-box-plain
				table
					thead
						tr
							td
							th(scope="col") 1
							th(scope="col") 2
							th(scope="col") 3
					tbody
						tr
							th(scope="row") 1
							td Table cell
							td Table cell
							td Table cell
						tr
							th(scope="row") 2
							td Table cell
							td Table cell
							td Table cell
			pre
				code.language-html
					| &lt;table&gt;
					| 	&lt;thead&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;&lt;/td&gt;
					| 			&lt;th scope="col"&gt;1&lt;/th&gt;
					| 			&lt;th scope="col"&gt;2&lt;/th&gt;
					| 			&lt;th scope="col"&gt;3&lt;/th&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/thead&gt;
					| 	&lt;tbody&gt;
					| 		&lt;tr&gt;
					| 			&lt;th scope="row"&gt;1&lt;/th&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr&gt;
					| 			&lt;th scope="row"&gt;2&lt;/th&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 			&lt;td&gt;Table cell&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/tbody&gt;
					| &lt;/table&gt;

			h2 Table with a footer
			p Footers on tables is important in specific situations. This is easily defined with the #[code.code tfoot] tag. It's important to use this tag for styling and accessibility.
			p This example also shows right aligned cells, which is useful for numbers.
			.example-box-plain
				table
					thead
						tr
							th(scope="col", colspan="2") Budget table
					tbody
						tr
							td Label
							td.right £00.00
					tfoot
						tr
							td Total
							td.right £00.00
			pre
				code.language-html
					| &lt;table&gt;
					|	&lt;thead&gt;
					|		&lt;tr&gt;
					|			&lt;th scope="col" colspan="2"&gt;Budget table&lt;/th&gt;
					|		&lt;/tr&gt;
					|	&lt;/thead&gt;
					|	&lt;tbody&gt;
					|		&lt;tr&gt;
					|			&lt;td&gt;Label&lt;/td&gt;
					|			&lt;td class="right"&gt;£00.00&lt;/td&gt;
					|		&lt;/tr&gt;
					|	&lt;/body&gt;
					|	&lt;tfoot&gt;
					|		&lt;tr class="total"&gt;
					|			&lt;td&gt;Total&lt;/td&gt;
					|			&lt;td class="right"&gt;£00.00&lt;/td&gt;
					|		&lt;/tr&gt;
					|	&lt;/tfoot&gt;
					| &lt;/table&gt;

			h2 Collapsible table
			p Tables can include collapsible rows by simply adding the correct classes and embedding a table within a cell.
			.example-box-plain
				table(style="table-layout: fixed;")
					thead
						tr
							th(scope="col") th
							th(scope="col") th
					tbody
						tr.table-collapse--toggle
							td td
							td td
						tr.table-collapse
							// colspan is important to make the embedded table full width
							td(colspan="2")
								table(style="table-layout: fixed;")
									tbody
										tr
											td td
											td td
										tr
											td td
											td td
						tr.table-collapse--toggle
							td td
							td td
						tr.table-collapse
							// colspan is important to make the embedded table full width
							td(colspan="2")
								table(style="table-layout: fixed;")
									tbody
										tr
											td td
											td td
										tr
											td td
											td td
			pre
				code.language-html
					| &lt;table&gt;
					| 	&lt;thead&gt;
					| 		&lt;tr&gt;
					| 			&lt;th scope="col"&gt;th&lt;/th&gt;
					| 			&lt;th scope="col"&gt;th&lt;/th&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/thead&gt;
					| 	&lt;tbody&gt;
					| 		&lt;tr class="table-collapse--toggle"&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr class="table-collapse"&gt;
					|			&lt;!-- colspan is important to make the embedded table full width --&gt;
					| 			&lt;td colspan="2"&gt;
					|				&lt;table&gt;
					|					&lt;tr&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|					&lt;/tr&gt;
					|					&lt;tr&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|					&lt;/tr&gt;
					|				&lt;/table&gt;
					|			&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr class="table-collapse--toggle"&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr class="table-collapse"&gt;
					|			&lt;!-- colspan is important to make the embedded table full width --&gt;
					| 			&lt;td colspan="2"&gt;
					|				&lt;table&gt;
					|					&lt;tr&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|					&lt;/tr&gt;
					|					&lt;tr&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|						&lt;td&gt;td&lt;/td&gt;
					|					&lt;/tr&gt;
					|				&lt;/table&gt;
					|			&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/tbody&gt;
					| &lt;/table&gt;