block settings
	- var title = "Tables"
	- var sidebar = false

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Atoms", href: "index.html#atoms"}, 
		{title: "Tables"}])

block content
	.articleContent.row
		.span8
			table(style="width:100%")
				thead
					tr
						th(scope="col") th
						th(scope="col") th
						th(scope="col") th
				tbody
					tr
						td td
						td td
						td td
					tr
						td td
						td td
						td td
					tr
						td td
						td td
						td td
					tr
						td td
						td td
						td td