block settings
	- var title = "Tables"

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Styles", href: "index.html#styles"}, 
		{title: "Tables"}])

block content
	.articleContent.row
		.span8
			.example-box-plain
				table(style="width:100%")
					thead
						tr
							th(scope="col") th
							th(scope="col") th
							th(scope="col") th
					tbody
						tr
							td td
							td td
							td td
						tr
							td td
							td td
							td td
						tr
							td td
							td td
							td td
						tr
							td td
							td td
							td td
			pre
				code.language-html
					| &lt;table&gt;
					| 	&lt;thead&gt;
					| 		&lt;tr&gt;
					| 			&lt;th scope="col"&gt;th&lt;/th&gt;
					| 			&lt;th scope="col"&gt;th&lt;/th&gt;
					| 			&lt;th scope="col"&gt;th&lt;/th&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/thead&gt;
					| 	&lt;tbody&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 		&lt;tr&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 			&lt;td&gt;td&lt;/td&gt;
					| 		&lt;/tr&gt;
					| 	&lt;/tbody&gt;
					| &lt;/table&gt;