block settings
	- var title = "Talent"
	- var fullpage = true
	- var dir = ""

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Do your job", href: dir + "home-1.html"},
		{title: title}])

block content
		.main-container
		.home-first
			.home__content
				.flex-container.flex-row
					.col-md-6.col-sm-12
						h1 #{title}


		.home-second
			.home__content
				.flex-container.flex-row
					div.col-sm-8.col-sm-12
						.blog-lead
							.blog-name
								p Browse talent content
						.group-index-list
							h3 #[a(href="") New joiners]
						.group-index-list
							h3 #[a(href="") Recruitment]
						.group-index-list
							h3 #[a(href="") Performance management]
						.group-index-list
							h3 #[a(href="") Pay and benefits]
						.group-index-list
							h3 #[a(href="volunteers.html") Volunteers]
						.group-index-list
							h3 #[a(href="") Problems at work]
						.group-index-list
							h3 #[a(href="") Leavers]


					div.col-sm-4.col-sm-12
						div
							h3 I want to...
							a(href="#").blocklink Do some training
							a(href="#").blocklink Find someone
							a(href="#").blocklink Claim expenses
							a(href="#").blocklink Get help doing my job
							a(href="#").blocklink Understand the brand
							a(href="#").blocklink Know about membership
							a(href="#").blocklink See what events are happening


	.fullwidth-yellow
		.fullwidth-content
			.flex-container.flex-row
				.col-sm-6.col-xs-12
					h2 Volunteer locally with us

					h3 Interested in volunteering with Citizens Advice?

					p Search for local opportunities, including trustee roles, fill out a quick online form and your local Citizens Advice will get in touch with you to discuss options.

				.col-sm-6.col-xs-12
					h3 Do you have good listening skills?

					p Perhaps you'd be interested in being a telephone assessor for our national phone service.

					h3 Interested in supporting witnesses in courts?

					p Volunteer for our #[a Witness Service]?

				.col-xs-12
					fieldset
						label(for="field") Search opportunities
						.field-group.field-group--buttons
							input#field(type="search")
							button.btn Search

	.fullwidth-blue
		.fullwidth-content
			.flex-container.flex-row
				.col-sm-8.col-xs-12
					h2 Why volunteer with us?

					p Hear from our volunteers
					p(style="position: relative;padding-bottom: 56.25%; padding-top: 25px;height: 0;")
						iframe(src="https://www.youtube.com/embed/jtLJKyNLV_E", frameborder="0", allowfullscreen, style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;")

					p #[a More from our volunteer stars]

					h2 Disabled volunteers

					p We offer a warm welcome to every volunteer whatever their background.

					p #[a Find out what you can expect from us as a disabled volunteer]

					h2 About volunteering with Citizens Advice

					p Find out about:

					ul
						li #[a our volunteer roles]
						li #[a being a trustee]
						li #[a being a telephone assessor]
						li #[a being a Witness Service volunteer]

					p We also have some #[a answers to common questions] on volunteering with us.

					Read our report about the #[a value of volunteering] to individuals, communities and society.