block settings
	- var title = "Content toolbar"
	- var sidebar = true
	- var toolbars = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Modules", href: "index.html#modules"}, 
		{title: "Content toolbar"}])

block sidebar
	- var section = "Modules"
	+sidebar([
		{href: "callout.html", title: "Callout"},
		{href: "collapse.html", title: "Collapse"},
		{href: "charts.html", title: "Charts"},
		{href: "section-notice.html", title: "Section Notices"},
		{href: "toolbar.html", title: "Content toolbar"},
		{href: "cookie-monster.html", title: "Cookie Monster"},
		{href: "extent.html", title: "Extent Switcher"},
		{href: "overlay.html", title: "Modal/Overlay"},
		{href: "reference.html", title: "Reference tool"}
	],4)
	include ../template/sidebar-modules.jade

block content
	.articleContent
		p Toolbars sandwich the content with functional icons.