block settings
	- var title = "Volunteers"
	- var fullpage = true
	- var dir = ""

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Do your job", href: dir + "home-1.html"},
		{title: "Talent", href: dir + "talent.html"},
		{title: title}])

block content
	.fullwidth-content
			h1 #{title}

	.fullwidth-content
		.flex-container.flex-row
			.col-md-8.col-sm-12
				.contents-page__section
					h2#legal Legal and policies for volunteers
					p #[a Volunteering strategy]
					p #[a Policies for volunteers]
					p #[a(href="legal-status-of-volunteers.html") Legal status of volunteers]
					p #[a Keeping volunteer records]
					p #[a Who can volunteer?]

				.contents-page__section
					h2 Recruiting volunteers
					p #[a Recruitment process]
					p #[a Volunteer role profiles]
					p #[a Screening and interviewing]
					p #[a References and DBS checks]

				.contents-page__section
					h2#managing Managing volunteers
					p #[a Induction]
					p #[a Performance management]
					p #[a(href="recognition.html") Recognising volunteers]
					p #[a Volunteer complaints]
					p #[a Measuring impact]
					p #[a Volunteer administration]
					p #[a Leavers]

			.col-md-4.col-sm-12
				div
					h3 I want to...
					a(href="#").blocklink Do some training
					a(href="#").blocklink Find someone
					a(href="#").blocklink Claim expenses
					a(href="#").blocklink Get help doing my job
					a(href="#").blocklink Understand the brand
					a(href="#").blocklink Know about membership
					a(href="#").blocklink See what events are happening
