block settings
	//- var title = "Witness Service referral form"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Witness Service", href: "index.html#templates"},
		{title: "Referral form"}])

block content
	.articleContent
		div
			h2 Form submitted
			.callout--confirmation 
				p Your form has been submitted, our reference number, should you need to contact us is:
				h2 1234567
				p Would you like a copy of your submission?
				//button.btn-secondary.email-button-icon(type="button") Email
				button.btn-secondary.print-button-icon(type="button") Print

			//h2 Make another referral
			//p#[a(href="#") Witness for this case]
			//p#[a(href="#") Witness for a different case]

			.callout--related
				h3 What happens next?
				p Someone from the Witness Service will be in touch with witness you have referred within two working days. If you would like to get in touch with the Witness Service to discuss a referral you can call us on our dedicated partner phone number:
				p 0300 33 21 000

				p Find out more #[a(href="https://www.citizensadvice.org.uk/about-us/how-citizens-advice-works/citizens-advice-witness-service/about-the-citizens-advice-witness-service/") about the Witness Service].
				