block settings
	//- var title = "Witness Service referral form"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Witness Service", href: "index.html#templates"},
		{title: "Referral form"}])

block content
	.articleContent
		div
			h2 Form submitted
			.callout--confirmation 
				p Your form has been submitted, our reference number, should you need to contact us is:
				h2 1234567
				p Would you like a copy of your submission?
				button.btn-secondary.email-button-icon(type="button") Email
				button.btn-secondary.print-button-icon(type="button") Print

			.callout--related
				h3 What happens next?
				p Someone from the Witness Service will be in touch using the phone number or email below, please add them to your contacts so you know they are calling and so that the email doesn't go into your junk email folder.

				p If you have any questions, you can also use these details to get in touch

				h4 Witness Service call centre
				p 020 123 4567
				p #[a(href="#") witness@citizensadvice.org.uk]
				