block settings
	//- var title = "Witness Service referral form"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Witness Service", href: "index.html#templates"},
		{title: "Referral form"}])

block content
	.articleContent
		div
			h2 The trial
			fieldset
				label(for="standardField") Defendant name(s)
				span.form-hint For example John SMITH, Jitesh JAMES
				input(id="standardField" placeholder="" type="text")

			//fieldset
				label(for="standardField") URN
				span.form-hint Where this number comes from?
				input(id="standardField" placeholder="" type="text")

			fieldset
				label(for="standardField") Offence(s) 
					span.optional (optional)
				input(id="standardField" placeholder="" type="text")

			//fieldset
				legend(for="radio") Does the case include domestic violence (DV)?
				label.radio.radio--inline
					input(name="radio", type="radio", value="option1")
					| Yes
				label.radio.radio--inline
					input(checked, name="radio", type="radio", value="option2")
					| No

			fieldset
				label(for="exampleSelect1") Court where the trial will be heard
				span.form-hint For example Leeds Magistrates’ Court
				input(id="standardField" placeholder="" type="text")
	
			.form-group-date(style="overflow: auto;")
				legend Date of trial 
					span.optional (optional)
				fieldset
					label(for="dob-day")
						span.screenreader What is the witnesses date of birth? Date field,
						| Day
					input#dob-day(max="31", min="1", placeholder="DD", type="number")
				fieldset
					label(for="dob-month") Month
					input#dob-month(max="12", min="1", placeholder="MM", type="number")
				fieldset
					label(for="dob-year") Year
					input#dob-year(max="2100", placeholder="YYYY", type="number")


			a.btn-light.left-button-icon(href="witness-form-2.html") Back
			a.btn.right-button-icon(href="witness-form-4.html") Next