block settings
	//- var title = "Witness Service referral form"
	- var sidebar = true
	- var toolbars = false
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Witness Service", href: "index.html#templates"},
		{title: "Referral form"}])

block content
	.articleContent
		div
			h2 About the trial
			p If you are getting in touch about a particular trial, maybe because you are giving evidence at it, please give the name of the court where the trial will be heard, if you know it

			fieldset
				label(for="exampleSelect1") Court where the trial will be heard 
					span.optional (optional)
				span.form-hint If you know the name of the court where the trial is being held please tell us (for example Leeds Crown Court)
				input(id="standardField" placeholder="" type="text")
	
			.form-group-date(style="overflow: auto;")
				legend Date of trial 
					span.optional (optional)
				fieldset
					label(for="dob-day")
						span.screenreader What is the witness's date of birth? Date field,
						| Day
					input#dob-day(max="31", min="1", placeholder="DD", type="number")
				fieldset
					label(for="dob-month") Month
					input#dob-month(max="12", min="1", placeholder="MM", type="number")
				fieldset
					label(for="dob-year") Year
					input#dob-year(max="2100", placeholder="YYYY", type="number")


			a.btn-light.left-button-icon(href="witness-self-form-3.html") Back
			a.btn.right-button-icon(href="witness-self-form-5.html") Next