block settings
	- var title = "No results for"
	- var mockup = true
	- var sidebar = true
	- var dir = "../../"

extends /jade/templates/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "England"},
		{title: "Home", href: dir + "index.html"},
		{title: "Search"}])

block sidebar
	include /jade/dev/search/sidebar-search.jade

block content
	.flex-row
		.col-12
			//.search-title  #[strong greivancess]
			fieldset
				.field-group.field-group--buttons
					input#field(type="search" value="greivancess")
					button.btn Search
			p It’s worth checking your spelling or trying more general words.
			p If you still can’t find what you need, #[a(href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/") find out how else you can get advice] - whether online, by phone or in person.