block settings
	- var title = "benafits"
	- var dir = "../../"
	//- var sidebar = true

extends /jade/templates/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Search"}])

block script

block content
	.flex-row
		.col-md-8.col-sm-12
			.term-suggestion Did you mean #[a Benefits]?
			ul.search-results

				li
					.heading
						a Benefits
					.description These pages give you information on benefits and tax credits if you are working or unemployed, sick or disabled, a parent, a young person, an older person or a veteran.
					.adviser-categories
						ul(style="margin:0")
							li #[a Benefits fact sheets]
							li #[a Universal Credit]
							li #[a Help if on a low income]
							li(style="margin:0") #[a Making welfare work locally]

				li
					.heading
						a Sick or disabled people and carers
					.description If you're sick or disabled, you may be able to claim benefits and tax credits.
					ul.section
						li #[a Benefits]

				li
					.heading
						a Employment and Support Allowance (ESA)
					.description Information on how to claim Employment and Support Allowance including eligibility, filling in the ESA1 and ESA50 forms and challenging an ESA decision.
					ul.section
						li #[a Benefits]
						li #[a Sick or disabled people and carers]

				li.adviser-result
					.heading
						a Contractual sick pay
					.description If an employer has their own sick pay scheme it should be included in your client’s employment contract.
					ul.section
						li #[a Workplace rights]
						li #[a Sick pay]

				li
					.heading
						a Benefits for families and children
					.description Benefits for pregnant women and parents, including maternity allowance, maternity grants, child benefit and child trust fund.
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

				li.pagination
					#[a.blocklink(href="/dev/site/search-2-page-2.html") 84 more results for 'Benefits']

				li.related-results
					strong Related searches
					p #[a Universal Credit],&nbsp;&nbsp;#[a Housing Benefit],&nbsp;&nbsp;#[a What were saying about benefits]

				li
					fieldset
						.field-group.field-group--buttons
							input#field(type="search", placeholder="Search again", value="#{title}")
							button.btn Search
