block settings
	- var title = "No results for 'Bnefits'"
	- var dir = "../../"
	//- var sidebar = true

extends /jade/templates/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Search"}])

block script

block content
	.flex-row
		.col-md-8.col-sm-12
			p Please carefully check your spelling, or try searching with a different term.

			fieldset
				.field-group.field-group--buttons
					input#field(type="search")
					button.btn Search

			#[a.blocklink Leave feedback on your search experience]
