// Sidebar for search pages

.main-content__sidebar
	.form
		.fieldset
			label(for="searchFilter") Show results for:
			.dropdown
				select(id="searchFilter")
					option(value="0") Advice 
					option(value="1") Research and campaigns
					option(value="2") Everything