// Sidebar for search pages

.side-nav-beta.search-sidebar
	.search-sidebar--navigation
		label Useful links
		fieldset
			ul
				li
					a(href="#") A to Z of advice
				li
					a(href="#") Browse our news stories