// Sidebar for search pages

.side-nav-beta.search-sidebar
	.search-sidebar--filter
		form
			label(for="searchFilter") Show results for:
			fieldset
				.dropdown
					select(id="searchFilter" onchange="this.form.submit()")
						option(value="0" ) Advice 
						option(value="1") Research and campaigns
						option(value="2") Everything

	.search-sidebar--navigation
		label Useful links
		fieldset
			ul
				li
					a(href="#") A to Z of advice
				li
					a(href="#") Search for your local Citizens Advice
				li
					a(href="#") Browse our campaign pages
				li
					a(href="#") Browse our research pages