block settings
	- var title = "Reference action"
	- var sidebar = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Modules", href: dir + "index.html#Modules"},
		{title: "Reference action"}])

block sidebar
	include /template/sidebar-brand.jade

block content
	.overlay
		.pin__modal
			.flex-row
				.flex-column.col-xs-12.col-md-8.pin__content
					h3 References

					section.revealable
						h3 Unstyled content inside header
						p Lorem ipsum.

					ul.pin__list
						li
							button.btn.btn-warning
								span.screenreader Delete
							p
								a(href="#") Get airline compensation for lost or delayed luggage (EWSNI) § What you could get from the airline
						li.removed
							button.btn.btn-primary
								span.screenreader Undo
							p
								a(href="#") Claim compensation if your flight's delayed or cancelled (EWSNI) § If your flight’s delayed for 3 or more hours
						li
							button.btn.btn-warning
								span.screenreader Delete
							p
								a(href="#") Basic rights at work (EWSNI)
						li
							button.btn.btn-warning
								span.screenreader Delete
							p
								a(href="#") Basic rights at work (EWSNI) § The right to ask for flexible working
						li
							button.btn.btn-warning
								span.screenreader Delete
							p
								a(href="#") Basic rights at work (EWSNI) § Health and safety
						li
							button.btn.btn-warning
								span.screenreader Delete
							p
								a(href="#") Get airline compensation for lost or delayed luggage (EWSNI) § What you could get from the airline
						li
							button.btn.btn-warning
								span.screenreader Delete

				.flex-column.col-xs-12.col-md-4.pin__actions
						h3 Actions
						fieldset
							label(for="exampleInputEmail1") Email
							input#exampleInputEmail1(placeholder="Email", type="email")
						button.btn.btn-secondary.email-button-icon(type="button") Send email
						p #[a(href="#") Print references]
						p #[a(href="#") Clear reference list]
				



					
	div
		p Introduction is optional, but for a long format advice page it can be useful to summarise the pages content, this should be kept as a relatively short paragraph that covers what this page of content will do.
		section#step1
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p Lorem ipsum dolor sit amet, #[span#overlay_button-1 consectetuer] adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		section#step2
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat laoreet dolore magna aliquam erat volutpat. #[span#overlay_button-2 Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.]
			.callout--adviser Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		section#step3
			h2.ref-heading
				span.ref-heading__heading Content subheading
				span.ref-heading__toggle.ref-heading__toggle--off
					a.js-toggle-ref(href="#!") Add reference
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

	#overlay1.overlay(style="display:none;")
		.overlay__modal
			.overlay__main
				h3.overlay__header 19.1 Overlay title
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			.overlay__footer
				button#overlay1_close.btn.btn-primary.close-button-icon(type="button") Close

	#overlay2.overlay(style="display:none;")
		.overlay__modal
			.overlay__main
				h3.overlay__header 19.2 Overlay title
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			.overlay__footer
				button#overlay2_close.btn.btn-primary.close-button-icon(type="button") Close
