block settings
    - var title = "Validation"
    - var sidebar = true
    - var toolbars = true
    //- var cookiemonster = true
    //- var mockup = true
    - var dir = "../"

extends /template/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: dir + "index.html"},
        {title: "Forms", href: dir + "index.html#Forms"},
        {title: "Validation"}])

block sidebar
    include /template/sidebar-forms.jade

//block section-notice
    aside.section-notice
        h2.screenreader Notice
        .section-notice__content
            p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].

block content
    .articleContent
        div
            p Please fill this out so we can get in contact with you.
            .well--outline.invalid
                h3 Please correct the errors
                p Your form couldn't be completed due to errors. Please correct the following fields.
                ul
                    li #[a.invalid(href="#email-fieldset") Email]

                    li #[a.invalid(href="#phone-fieldset") Phone number]

            fieldset
                label(for="name") Name
                    span.optional &nbsp;(optional)
                input#name(placeholder="", type="text")

            .form-group-date
                legend Date of birth
                fieldset
                    label(for="dob-day")
                        span.screenreader When did you buy your car? Date field,
                        | Day
                    input.invalid#dob-day(max="31", min="1", placeholder="DD", type="number")
                fieldset
                    label(for="dob-month") Month
                    input.invalid#dob-month(max="12", min="1", placeholder="MM", type="number")
                fieldset
                    label(for="dob-year") Year
                    input.invalid#dob-year(max="2100", placeholder="YYYY", type="number")
                .invalid Please enter a date.

            fieldset#email-fieldset
                label(for="email") Email
                input.invalid#email(placeholder="", type="email", value="email!domain.com")
                .invalid Please enter a valid email format including the @ symbol.

            fieldset#phone-fieldset
                label(for="phone") Phone number
                input.invalid#phone(placeholder="", type="tel")
                .invalid Please enter a phone number.

            fieldset
                legend(for="radio-inline") Inline Radio buttons
                label.radio.radio--inline
                    input.invalid(name="radio-inline", type="radio", value="option1")
                    | Yes
                label.radio.radio--inline
                    input.invalid(name="radio-inline", type="radio", value="option2")
                    | No
                .invalid Please select one.

            fieldset
                legend(for="checkbox") Checkboxes
                label.checkbox.checkbox--block
                    input.invalid(name="checkbox", type="checkbox")
                    | Option one
                label.checkbox.checkbox--block
                    input.invalid(name="checkbox", type="checkbox")
                    | Option two
                .invalid Please select at least one.

            fieldset
                label(for="exampleSelect1") Example dropdown select
                .dropdown
                    select.invalid#exampleSelect1
                        option None
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .invalid Please select one.