block settings
	- var mockup = true
	- var title = "How to fill in your PIP claim form"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../"

extends /jade/templates/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Benefits", href: dir + "#"},
		{title: "PIP"}])

block sidebar
	include /jade/templates/partials/sidebar-site-content.jade

block content

	.articleContent
		div
			p Making a claim for the benefit Personal Independence Payment (PIP) can take a long time time. It can often take up to 4 months from starting the application to getting your money (if you’re #[a(href="#") terminally ill] your claim will be processed more quickly).

			p If you’re #[a(href="#") moving from DLA to PIP] your payments won’t stop while you’re waiting for your PIP claim to be processed, as long as you make your claim for PIP within a month of being told by the DWP that you should.

			p You should make sure you’re prepared and have all the relevant information to help you make your claim.

			p Your first payment for PIP will be backdated to the date you started your claim and cover the length of time it takes the Department for Work and Pensions (DWP) to make its decision. If you're moving from DLA to PIP your PIP payments will start the day after your DLA stops.

			h2 The claims process
			p There are 3 stages to your claim:

			ol
				li Start your claim by calling the DWP
				li Wait for them to send you a claim form
				li Go to a face-to-face assessment - most people have to do this (but you won’t if you’re terminally ill)

			p It can take up to 2 weeks for the DWP to send you a PIP claim form. While you wait, it’s a good idea to think about how you’ll fill in the claim form and if you need any supporting evidence.

			p If you’re waiting a very long time for a decision on your claim, contact your local Citizens Advice in England and Wales or in Scotland. You can complain to the DWP if the delay is unreasonable and may be able to claim compensation if it’s considered unlawful. However, there are no set rules on what counts as unreasonable or unlawful

			h2 Start your claim - fill in a PIP1 form

			p You can start your PIP claim by filling in a PIP1 form. You can do this either:

			ul
				li by phone - a DWP adviser will fill in the basic claim form during the call, it should only take 20 minutes
				li by post - filling in a paper form that the DWP can send you, and posting it back

				p You can’t fill in the PIP1 form online.

				p You can only get the PIP claim forms from the DWP, not online or from Citizens Advice.

			h2 Basic information you need to start your claim

			p You’ll need to have this information when you call the DWP:

			ul
				li your full name, address and phone number
				li your national insurance number
				li your bank or building society account details so payments can be made if PIP is awarded
				li contact details of your GP or other health professionals you deal with
				li the dates and details of any stays in hospital or residential care
				li your nationality or immigration status
				li if you’ve been abroad for more than 4 weeks at a time in the last 3 years (you’ll need the dates and details)
				li You’ll be asked if you have any conditions relating to your mental health, a learning difficulty or behavioural condition. These questions are asked to check if you need any additional help or support with your claim.

			style.
				#yes-no-rating-wrapper {
					padding: .75em 1em;
					padding: 12px 16px;
					padding: 1.6rem 1rem 0.75rem;
					margin: 12px 0;
					margin: 0.75rem 0;
					display: block;
					background-color: #fff;
					border-left-width: 8px;
					border-left-width: 0.5rem;
					color: #191926;
					border: 0px #004B88 solid;
					border-width: 1px;
					border-radius: 2px;
					}

			#yes-no-rating-wrapper
				.fieldset
					legend(for="radio-inline") Did this advice help?
					label(class="radio radio--inline") Yes
						input(name="radio-inline" type="radio" value="option1")
					label(class="radio radio--inline") No
						input(name="radio-inline" type="radio" value="option2")