block settings
	- var title = "Brexit"
	- var dir = "../../"
	- var mockup = true
	- var sidebar = true

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: title}])

	#brexit
		.brexit__content
			.badge Brexit
			| The vote to leave the EU won’t affect your right to live, work or claim benefits in the UK unless the government passes new laws. This will take some time - from months to years. #[a Read more].

block content
	.main-container
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum laoreet purus, ut venenatis nisl volutpat eu. Sed eget diam in tortor pellentesque aliquam. In vel condimentum quam. Proin augue diam, fringilla sed tortor sit amet, sollicitudin efficitur ex. Aliquam erat volutpat. Nullam ut convallis augue. Ut sit amet massa vel leo lobortis ultrices vel in ligula. Pellentesque non vestibulum quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent a tortor orci. Nulla pretium ipsum sit amet lectus malesuada feugiat. Nulla at nisl ante. Suspendisse gravida, ante nec eleifend lobortis, metus urna dapibus turpis, quis condimentum dolor neque at dolor. Nulla facilisi.