block settings
	- var title = "Bromley Town Citizens Advice"
	- var fullpage = true
	- var dir = "../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Local Citizens Advice"}])

block script

block content
	.fullwidth-yellow
		.fullwidth-content
			h1 #{title}
			.flex-row
				.col-sm-6
					p 020 8315 1940
						br
						a.a-external-link http://www.bromleycab.org.uk/
				.col-sm-6
					p Community House South Street
						br
						| BROMLEY
						br
						| Kent
						br
						| BR1 1RH

	.fullwidth-content
		iframe(src="https://fusiontables.googleusercontent.com/fusiontables/embedviz?q=select+col2+from+16BWr4oiZboc2VpRHEJt37SmzHVoN-EzKM9aLkkMQ+where+col1+in+(%27Super+tester%27,+%27Tester%27,+%27Not+signed+up%27)&viz=MAP&h=false&lat=52.36404897789263&lng=-1.6940654999999651&t=1&z=7&l=col2&y=2&tmplt=2&hml=ONE_COL_LAT_LNG", width="100%", height="300px", scrolling="no")

		.flex-row
			.col-sm-8
				h2 About our advice service

				p The Bureau will be closed on May 2nd and May 30th due to Bank Holidays

				p Please be advised that the service is provided by trained volunteers, operates on a "first come first served" basis and is subject to volunteer availability. We advise that you arrive early in order that you can be seen.

			.col-sm-12
				h2 Advice session times
				table
					thead
						tr
							th Day
							th(colspan="2", width="40%") Advice session times
							th(colspan="2", width="40%") Telephone session times
						//tr
							th Day
							th Time
							th Further information
							th Time
							th Further information
					tbody
						tr
							td Monday
							td 10.00 - 13.00
							td Drop in
							td 10.00 - 12.00 and #[br]14.00 - 16.00
							td
						tr
							td Tuesday
							td 10.00 - 13.00
							td Drop in
							td 10.00 - 12.00 and #[br]14.00 - 16.00
							td
						tr
							td Wednesday
							td 10.00 - 13.00
							td Drop in
							td 10.00 - 12.00 and #[br]14.00 - 16.00
							td
						tr
							td Thursday
							td
							td Pre-booked appointments only
							td 10.00 - 12.00 and #[br]14.00 - 16.00
							td
						tr
							td Friday
							td
							td Pre-booked appointments only
							td 10.00 - 12.00 and #[br]14.00 - 16.00
							td