block settings
	- var title = "Get advice"
	- var fullpage = true
	- var dir = "../../"

extends /template/template-site.jade

//block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"}])

block content
	.fullwidth-content
		.flex-container.flex-row(style="padding-top: 2rem;")
			.col-sm-12.col-xs-12
				.title
					h1.title__heading.js-ref
						span.title__title #{title}
		.flex-container.flex-row
			.col-sm-4.col-xs-12
					h3 #[a(href="#") Benefits]
					p Benefit eligibility and calculators. Applying and problems with applications.

					h3 #[a(href="#") Work]
					p Rights at work, workplace discrimination, self-employment, rules and regulations of work.
					
					h3 #[a(href="#") Debt and money]
					p Dealing with debts and arrears, budgeting, mortgages and pension services.
					
					h3 #[a(href="#") Consumer]
					p The law and your rights when purchasing goods and services.
					
			.col-sm-4.col-xs-12
					h3 #[a(href="#") Relationship]
					p Marriage, divorce, partnerships and looking after people. Births, deaths and wills.
					
					h3 #[a(href="#") Housing]
					p Renting or buying a house, tenancy agreements and your rights as a homeowner or tenant.
					
					h3 #[a(href="#") Law and rights]
					p Legal and civil rights, policing, the prison system and witness services.
					
					h3 #[a(href="#") Discrimination]
					p Types of discrimination, steps to take if you have been discriminated against.
					
			.col-sm-4.col-xs-12
					h3 #[a(href="#") Tax]
					p Taxable income, payments, refunds and problems. Council, pensioners and inheritance tax.
					
					h3 #[a(href="#") Healthcare]
					p Help with NHS and dental. Private, alternative and armed forces healthcare.
					
					h3 #[a(href="#") Education]
					p School and higher education, support for learning, discrimination and financial advice.

	//.fullwidth-yellow
		.fullwidth-content
			.flex-container.flex-row(style="padding-top: 2rem;")
				h1 Get involved
		.fullwidth-content
			.flex-container.flex-row
				.col-sm-6.col-xs-12
					h3 #[a(href="#") About Citizens Advice]
					
					h3 #[a(href="#") Contact us]
					
					h3 #[a(href="#") Policy research]
					
					h3 #[a(href="#") Our blogs]
					
					h3 #[a(href="#") Campaigns]
					
					h3 #[a(href="#") How Citizens Advice works]
					
				.col-sm-6.col-xs-12
					h3 #[a(href="#") Volunteer]
					
					h3 #[a(href="#") Jobs]
					
					h3 #[a(href="#") Press releases]
					
					h3 #[a(href="#") Support us]
					
					h3 #[a(href="#") The difference we make]
					
					h3 #[a(href="#") Find your local Citizens Advice]

