block settings
	- var title = "Get involved"
	- var fullpage = true
	- var dir = "../../"

extends /template/template-site.jade

//block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"}])

block content
	.fullwidth-content
		.flex-container.flex-row(style="padding-top: 2rem;")
			.col-sm-12.col-xs-12
				.title
					h1.title__heading.js-ref
						span.title__title #{title}
		.flex-container.flex-row
			.col-sm-4.col-xs-12
				h3 #[a(href="#") About Citizens Advice]

				h3 #[a(href="#") Contact us]

				h3 #[a(href="#") Policy research]

			.col-sm-4.col-xs-12
				h3 #[a(href="#") Our blogs]

				h3 #[a(href="#") Campaigns]

				h3 #[a(href="#") How Citizens Advice works]

			.col-sm-4.col-xs-12
				h3 #[a(href="#") Volunteer]



	//.fullwidth-yellow
		.fullwidth-content
			.flex-container.flex-row(style="padding-top: 2rem;")
				.col-sm-12.col-xs-12
					.title
						h1 Get involved
		.fullwidth-content
			.flex-container.flex-row
				.col-sm-6.col-xs-12
					h3 #[a(href="#") About Citizens Advice]

					h3 #[a(href="#") Contact us]

					h3 #[a(href="#") Policy research]

					h3 #[a(href="#") Our blogs]

					h3 #[a(href="#") Campaigns]

					h3 #[a(href="#") How Citizens Advice works]

				.col-sm-6.col-xs-12
					h3 #[a(href="#") Volunteer]

					h3 #[a(href="#") Jobs]

					h3 #[a(href="#") Press releases]

					h3 #[a(href="#") Support us]

					h3 #[a(href="#") The difference we make]

					h3 #[a(href="#") Find your local Citizens Advice]

