block settings
	- var title = "Find a local Citizens Advice"
	- var dir = "../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Local Citizens Advice"}])

block script

block content
	.flex-row
		.col-md-8.col-sm-12
			.search
				p Find local Citizens Advice in #[a(href="#") Northern Ireland].
				label Enter your postcode or town name to find a Citizens advice near you, or #[a(href="#") use your devices location].
				.field-group.field-group--buttons
					input#field(type="search", placeholder="Enter your town name or postcode", value="brumley")
					button.btn Find&nbsp;&nbsp;
						i.icon-search
			p Did you mean&nbsp;
				#[a Bromley, London],&nbsp;
				#[a Bramley, Hants],&nbsp;
				#[a Bramley, Leeds],&nbsp;
				#[a Bromley, Bridgnorth]?

			ul.search-results
				li
					.heading
						a Bromley Town Citizens Advice
					.description
						.flex-row
							.col-sm-6.col-md-5(style="padding-right: 2rem;")
								span(style="font-weight: bold;") 020 8315 1940
								br
								| 0.22 miles from Bromley, London, London
							.col-sm-6.col-md-7
								| Community House South Street,
								br
								| BROMLEY, Kent,
								br
								| BR1 1RH

				li
					.heading
						a Downham Advice and Information Hub
					.description
						.flex-row
							.col-sm-6.col-md-5(style="padding-right: 2rem;")
								| 1.61 miles from Bromley, London, London
							.col-sm-6.col-md-7
								| Downham Health and Leisure Centre 7- 9 Moorside Road,
								br
								| Downham
								br
								| BR1 5EP

			//.pagination
				ul
					li.active #[span 1]
					li #[a 2]
					li #[a 3]
					li.pagination--dot ...
					li #[a 9]
					li #[a Next]