doctype html
html.no-js
	head
		title Citizens Advice webchat

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="../../static/images/apple-touch-icon.png")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="../../css/guide.css", rel="stylesheet")
		link(href="../../images/favicon/32.png", rel="shortcut icon")
		link(href="../../images/favicon/228.png", rel="apple-touch-icon")

	body
		aside(class="" style="max-width:600px; padding: 10px !important; margin-top: 10px !important;" id="agilisys-engage-webchat")
			
			h1(style="margin-top: 0;") Punctuation Picture
			p First tell me the url of the page you want to view the punctuation from - please note that this should be publicly accessible, not one of those pages hidden behind a login or paywall. Actually, this only works with the Citizens Advice site at the moment, and even then only with Advice pages.
			fieldset
			.field-group.field-group--buttons
				input(id="field" type="text" placeholder="www.example.com")
				button.btn Search