block settings
	- var title = ""
	- var dir = "../../"
	//- var sidebar = true

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Search"}])

block script

block content
	.flex-row
		.col-md-8.col-sm-12
			h1(style="margin-top:-10px;") No results
			ul.search-results
				li
					p(style="margin-bottom:2px;") Unfortunately, no pages match your search. Please carefully check your spelling, or try searching with a different term.

				fieldset
					.field-group.field-group--buttons
						input#field(type="search" placeholder="Search again")
						button.btn Search&nbsp;&nbsp;

				li
					h3 Popular searches
				p #[a Universal Credit],&nbsp;&nbsp;#[a Housing Benefit],&nbsp;&nbsp;#[a What were saying about benefits]

				li
					h3 #[a.blocklink Leave feedback on your search experience]

		.col-md-4.col-sm-12
			//.well
				fieldset
					label(for="exampleSelect1") Find a specific benefit
					.dropdown
						select(id="exampleSelect1")
							option Please select…
							option Asbestos-related illness benefit
							option Attendance allowance
							option Benefits cap
							option Bereavement benefits
							option Budgeting loans
							option Carer's allowance
							option Child benefit
							option Child tax credit
							option Cold weather payments
							option Community care grants
							option Constant attendance allowance
							option Crisis loans
							option Disability living allowance
							option Disablement benefit
							option Education maintenance allowance
							option Employment and support allowance
							option Exceptionally severe disablement allowance
							option Funeral payments
							option Guardians allowance
							option Housing benefit
							option Incapacity benefit
							option Income support
							option Industrial injuries disablement benefit
							option Jobseeker's allowance
							option Maternity allowance
							option Maternity grants
							option Pension credit
							option Personal Independence Payment
							option Reduced earnings allowance
							option Retirement allowance
							option Severe disablement allowance
							option Social fund
							option State retirement pension
							option Statutory sick pay
							option Universal Credit
							option War pension
							option War widow's/widower's pension
							option Widowed Parent’s Allowance
							option Widows' benefits
							option Winter fuel payment
							option Working tax credit
