block settings
	- var title = ""
	- var dir = "../../"
	//- var sidebar = true

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Search"}])

block script

block content
	.flex-row
		.col-md-8.col-sm-12
			h1(style="margin-top:-10px;") All results for 'Benafits'
			ul.search-results
				li
					p(style="margin-bottom:2px;") Did you mean #[a 'Benefits']?
				li
					p 89 results found:
					.heading
						a Benefits
					.description These pages give you information on benefits and tax credits if you are working or unemployed, sick or disabled, a parent, a young person, an older person or a veteran.
					.search-date 25 Oct 2016

				li
					.heading
						a Sick or disabled people and carers
					.description If you're sick or disabled, you may be able to claim benefits and tax credits.
					.search-date 14 Jun 2015
					ul.section
						li #[a Benefits]

				li
					.heading
						a Employment and Support Allowance (ESA)
					.description Information on how to claim Employment and Support Allowance including eligibility, filling in the ESA1 and ESA50 forms and challenging an ESA decision.
					.search-date 01 Jan 2014
					ul.section
						li #[a Benefits]
						li #[a Sick or disabled people and carers]

				li
					.heading
						a Benefits for families and children
					.description Benefits for pregnant women and parents, including maternity allowance, maternity grants, child benefit and child trust fund.
					.search-date 12 May 2014
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

				li
					.heading
						a Young people and benefits
					.description Information on benefits for young people between the ages of 14 and 18.
					.search-date 13 May 2014
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

				li
					.heading
						a Sick or disabled people and carers
					.description If you're sick or disabled, you may be able to claim benefits and tax credits.
					.search-date 14 Jun 2015
					ul.section
						li #[a Benefits]

				li
					.heading
						a Employment and Support Allowance (ESA)
					.description Information on how to claim Employment and Support Allowance including eligibility, filling in the ESA1 and ESA50 forms and challenging an ESA decision.
					.search-date 01 Jan 2014
					ul.section
						li #[a Benefits]
						li #[a Sick or disabled people and carers]

				li
					.heading
						a Benefits for families and children
					.description Benefits for pregnant women and parents, including maternity allowance, maternity grants, child benefit and child trust fund.
					.search-date 12 May 2014
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

				li
					.heading
						a Young people and benefits
					.description Information on benefits for young people between the ages of 14 and 18.
					.search-date 13 May 2014
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

				li
					.heading
						a Young people and benefits
					.description Information on benefits for young people between the ages of 14 and 18.
					.search-date 13 May 2014
					ul.section
						li #[a Benefits]
						li #[a Children and young people]

			.pagination
				ul
					li.active #[span 1]
					li #[a 2]
					li #[a 3]
					li.pagination--dot ...
					li #[a 9]
					li #[a Next]
				ul

					li
						h3 Related searches
					p #[a Universal Credit],&nbsp;&nbsp;#[a Housing Benefit],&nbsp;&nbsp;#[a What we are saying about benefits]
		
					fieldset
						.field-group.field-group--buttons
							input#field(type="search" placeholder="Search again")
							button.btn Search&nbsp;&nbsp;


		.col-md-4.col-sm-12
			//.well
				fieldset
					label(for="exampleSelect1") Find a specific benefit
					.dropdown
						select(id="exampleSelect1")
							option Please select…
							option Asbestos-related illness benefit
							option Attendance allowance
							option Benefits cap
							option Bereavement benefits
							option Budgeting loans
							option Carer's allowance
							option Child benefit
							option Child tax credit
							option Cold weather payments
							option Community care grants
							option Constant attendance allowance
							option Crisis loans
							option Disability living allowance
							option Disablement benefit
							option Education maintenance allowance
							option Employment and support allowance
							option Exceptionally severe disablement allowance
							option Funeral payments
							option Guardians allowance
							option Housing benefit
							option Incapacity benefit
							option Income support
							option Industrial injuries disablement benefit
							option Jobseeker's allowance
							option Maternity allowance
							option Maternity grants
							option Pension credit
							option Personal Independence Payment
							option Reduced earnings allowance
							option Retirement allowance
							option Severe disablement allowance
							option Social fund
							option State retirement pension
							option Statutory sick pay
							option Universal Credit
							option War pension
							option War widow's/widower's pension
							option Widowed Parent’s Allowance
							option Widows' benefits
							option Winter fuel payment
							option Working tax credit
