doctype html
html.no-js
	head
		title Citizens Advice webchat

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="../../static/images/dev/apple-touch-icon.png")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="../../css/guide.css", rel="stylesheet")
		link(href="../../images/dev/favicon/32.png", rel="shortcut icon")
		link(href="../../images/dev/favicon/228.png", rel="apple-touch-icon")

	body(onload="window.resizeTo(320,480)")
		header#main-nav-beta
			.navigation
				.content(style="text-align: left !important; padding: 10px !important;")
					img.wide(src="../../images/dev/ca-logo-hz-280px.svg" style="text-align: left !important; max-width: 180px !important;")

		aside(class="main-content__sidebar side-chat" style="max-width:400px; padding: 10px !important; margin-top: 10px !important;" id="agilisys-engage-webchat")
			iframe(src="https://citalive.logo-net.co.uk/chat/Chat.php?SSID=1&amp;w=210" width="100%" height="435" frameborder="0" allowtransparency="true")

