block settings
	- var title = "Dispute a mobile, phone, internet or TV bill"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "#"},
		{title: "Consumer", href: dir + "#"},
		{title: "Phone, internet or TV"}])

block sidebar
	include /template/sidebar-site-webchat.jade


block content
	.articleContent
		div
			h2 If you’ve been charged the wrong amount
			p Ask your provider to reduce your bill if you think your bill is wrong.
			p You should double-check your bill before disputing it. There might be a good reason for it being higher than normal, eg you used your phone abroad or you bought some films on your TV service.
			p Write a letter to your service provider to dispute the bill. You should include:
			ul
				li your name, address and contact number
				li your customer account or reference number
				li copies of the bill you are disputing
				li why you’re disputing the bill - say which charges are not right
			p You can use the #[a(href="#") template letter] to write to your service provider.
			p Send the letter to the service provider’s customer services department. If you want to be sure they receive your letter, send it recorded delivery. Or get a proof of posting certificate of evidence that you sent it. Keep a copy of your letter.
			p Your provider might charge you a late payment charge if you don’t pay the bill and your dispute is unsuccessful. Check your terms and conditions.
			p If your service provider doesn’t agree, you should make a formal complaint through the company’s complaints procedure.
			p If you’re still not happy, you can use alternative dispute resolution, which is a way of solving disagreements without going to court. A third party will mediate to try and reach a solution.

			h2 If you get a bill from a previous provider
			p Contact the company if they’ve billed you for a period after you cancelled or switched. Ask them for a full refund and to stop taking payments.		
			p You can cancel any direct debits through your bank - this will stop the company from taking any more money from you. You’ll still need to contact the company for any refund you’re owed.
			p Contact your bank if the provider refuses to refund you or continues to take payments - they’ll investigate and might be able to get your money back.
			p Make a formal complaint through the company’s complaints procedure if they keep charging you.

			h2 If your name’s not on the bill
			p If you’re the only person named on the bill, the service provider can chase you for the full amount regardless of who else used the service (eg other people you live with).
			p You can’t get your service provider to chase someone who’s not named on the bill - you’ll have to get the money from them yourself.
			p If you’ve signed a joint contract with someone else, you’re both responsible for paying the bill, regardless of who’s used the service.
			p Write to your service provider if your name is not on the bill and you’re being chased. Tell them that you’re not a named account holder and you’re not legally responsible for the bill.

			h2 If your phone was lost or stolen
			p If someone else runs up a big bill on your mobile you’ll usually have to pay for the cost of the calls up until when you reported the phone missing. Read more about what to do #[a(href="#") if your phone is lost or stolen].

			.callout--related
				h3 Next steps
				p Contact the #[a(href="#") Citizens Advice consumer helpline] on 03454 04 05 06 if you need more help - a trained adviser can give you advice over the phone. You can also use an online form or write to them. 
			.title__subheading--footer
				p Share this page. #[a(#) Find out more about sharing.]
				a.a-social-twitter(href="https://twitter.com/share?url=", data-track="Twitter", rel="external") Twitter
				a.a-social-facebook(href="https://www.facebook.com/sharer/sharer.php?u=", data-track="Facebook", rel="external") Facebook
				a.a-social-whatsapp.show-mobile(href="javascript:window.location='whatsapp://send?text='+encodeURIComponent(location.href);") Whatsapp

	a#chat-button.advice-chat(aria-checked="true" tabindex="0" role="button" target="popup" onclick="window.open('webchat-example.html','name', 'location=no','width=320,height=480')")
		p.a-external-link Chat with an adviser 

	#chat-advice.advice-chat.advice-chat--session
		//h3 Webchat
		p#chat-button-close Close
		.fieldset
			label(for="standardField") Your name
				span.optional &nbsp;(optional)
			input#standardField(placeholder="", type="text")
		.fieldset
			label(for="exampleSelect1") What do you need advice on?
			.dropdown
				select#exampleSelect1
					option Benefits
					option Debt
					option Housing
					option Employment
					option Immigration
					option Other
		fieldset
			label.checkbox.checkbox--block 
				input(name="checkbox", type="checkbox", value="option1")
				| I consent to the webchat #[a.a-external-link(href="#") terms and conditions]

		button.btn-secondary.right-button-icon(type="submit") Submit

