block settings
    - var title = "Get help from the Witness Service"
    - var sidebar = true
    - var toolbars = false
    - var mockup = true
    - var dir = "../../"

extends /jade/templates/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Witness Service", href: "#"},
        {title: "Get help from the Witness Service"}])

block content
    .articleContent
        div
            h2 Support for the witness
            filedset
                legend(for="support-needs") Is there anything else which the witness would like us to know to help us to meet their needs?
                    span.optional  (optional)
                textarea(id="support-needs" rows="4")

            a.btn.left-button-icon(href="wrf-9-org.html") Back
            a.btn.right-button-icon(href="wrf-10-org.html") Next