block settings
    - var title = "Get help from the Witness Service"
    - var sidebar = true
    - var toolbars = false
    - var mockup = true
    - var dir = "../../"

extends /jade/templates/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Witness Service", href: "#"},
        {title: "Get help from the Witness Service"}])

block script
    script.
        $(document).ready(function() {

            $('.conditional').click(function() {
                if( $(this).find('input[value="1"]').is(':checked')) {
                    $("#tel").show();
                }
                else {
                    $("#tel").hide();
                }

                if( $(this).find('input[value="2"]').is(':checked')) {
                    $("#email").show();
                }
                else {
                    $("#email").hide();
                }

                if( $(this).find('input[value="3"]').is(':checked')) {
                    $("#post").show();
                }
                else {
                    $("#post").hide();
                }
            });
        });

block content
    .articleContent
        div
            h2 Your contact details
            p Choose a safe way for the Witness Service to get in touch.
            p If it’s safe to call, one of the best ways for the Witness Service to give support is over the phone. You’ll be called between 11am and 7pm.
            fieldset.conditional
                legend(for="contact-methods")
                label.checkbox.checkbox--inline
                    input(name="contact-methods" type="checkbox" value="1")
                    | Telephone
                label.checkbox.checkbox--inline
                    input(name="contact-methods" type="checkbox" value="2")
                    | Email
                label.checkbox.checkbox--inline
                    input(name="contact-methods" type="checkbox" value="3")
                    | Post

            fieldset#tel.conditional--fields
                h3 Telephone
                label(for="phone-number") Phone number
                input(id="phone-number" type="number")

                fieldset
                label(for="message-safe") Is it safe to leave a voice message or send a text?
                label.radio.radio--inline
                    input(name="message-safe" type="radio" value="1")
                    | Yes
                label.radio.radio--inline
                    input(name="message-safe" type="radio" value="2")
                    | No
        
            fieldset#email.conditional--fields
                h3 Email
                label(for="email-add") Email address
                input(id="email-add" type="text")

            fieldset#post.conditional--fields
                h3 Post
                label(for="address") First line of address
                input(id="address" type="text")
                label(for="postcode") Postcode
                input(id="postcode" type="text")

            fieldset.conditional
                label(for="contact-prefs") Does the witness have contact preferences?
                span.form-hint e.g. call after 5pm
                textarea(id="contact-prefs")

            fieldset
                label(for="comm-need-details") Does the witness have communication needs?
                span.form-hint e.g. the witness uses text relay
                textarea(id="comm-need-details")

            a.btn.left-button-icon(href="wrf-3-self.html") No
            a.btn.right-button-icon(href="wrf-5-self.html") Yes