block settings
    - var title = "Get help from the Witness Service"
    - var sidebar = true
    - var toolbars = false
    - var mockup = true
    - var dir = "../../"

extends /jade/templates/template.jade

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Witness Service", href: "#"},
        {title: "Get help from the Witness Service"}])

block content
    .articleContent
        div
            h2 About the witness
            fieldset
                label(for="first-name") First name
                input(id="first-name" type="text")
            fieldset
                label(for="last-name") Last name
                input(id="last-name" type="text")
            fieldset
                legend(for="over-18") Is the witness over 18?
                label.checkbox.checkbox--inline
                    input(name="over-18" type="checkbox" value="1")
                    | Yes
                label.checkbox.checkbox--inline
                    input(name="over-18" type="checkbox" value="2")
                    | No

            .form-group-date
                legend Date of birth
                fieldset
                    label(for="dob-day") Day
                    input(id="dob-day" placeholder="DD" maxlength="2" min="1" max="31"  name="day" type="number" pattern="\d{1,2}" autoComplete="off")
                fieldset
                    label(for="dob-month") Month
                    input(id="dob-month" placeholder="MM" maxlength="2" min="1" max="12" name="month" type="number" pattern="\d{1,2}" autoComplete="off")
                fieldset
                    label(for="dob-year") Year
                    input(id="dob-year" placeholder="YYYY" maxlength="4"  min="1900" max="2100" name="year" type="number" pattern="\d{4}" autoComplete="off")
            fieldset
                label(for="organisation-type") Who are they a witness for?
                .dropdown
                    select
                        option For the defence
                        option For the prosecution
                        option I don’t know
            

            a.btn.left-button-icon(href="wrf-4b-org.html") Back
            a.btn.right-button-icon(href="wrf-6-org.html") Next