block settings
	- var title = "New footer"
	- var sidebar = true
	- var dir = "../"
	- var mockup = true
	- var newfoot = true

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Modules", href: dir + "index.html#Modules"},
		{title: "New footer"}])

block sidebar
	include /template/sidebar-modules.jade

block content
	p dummy text