block settings
	- var title = "Letter to complain about faulty goods"
	- var sidebar = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block script
	script.
		var x = ($('#letter').width())*1.3;
		$('#letter div').css({'min-height':x+'px'});
		$(window).resize(function() {
			var x = ($('#letter').width())*1.3;
			$('#letter div').css({'min-height':x+'px'});
		});

		$(document).ready(function() {
			$('.conditional').click(function() {
				if( $(this).find('input[value="2"]').is(':checked')) {
					$(this).next().show();
				} else {
					$(this).next().hide();
				}
			});
		});


block content
	.articleContent
		p Use this letter template to complain to a trader about faulty goods. It should help the trader understand your point of view and their legal obligation to sort out the problem.

		p You can send the letter by post or copy the text into an email. If you’d prefer to talk to the trader on the phone or in person you could read it out to them.

		p Before you use this template, make sure you read our advice on how to return faulty goods.

		.well--outline
			.letter-steps
				p Step 1 of 5

			h2 Letter to complain about faulty goods
			//h3 Before you start
			p Below is an example of what your letter will look like.

			#letter
				.letter-content
					p
					| 1 High Street
					br 
					| New Town
					br
					| New City
					br
					| A1 1AA

					p
					| Dear Sir or Madam,
					p
					| Complaint about faulty goods
					p
					| I bought a sewing machine from you on 25 October 2015. I paid £229.99.
					p
					| I now find the goods have the following fault:
					p
					| The machine stops working after half an hour and won't work again for at least an hour.
					p
					| Under the Consumer Rights Act 2015 goods you supply must be fit for purpose. As there was a problem with the goods when I bought them, I request that you give me a full refund.
					p
					| I have enclosed a copy of the receipt in support of my claim.
					p
					| Please respond within 14 days of receiving this letter.
					p
					| Yours faithfully

					p
					| Joe Blogs
					p joe@joeblogs.com

			a.btn.right-button-icon(href="letter-2.html") Start

