block settings
	- var title = "Template letters"
	- var sidebar = true
	- var mockup = true
	- var dir = "../../"

extends /template/template.jade

block content
	.articleContent
		h2 List of all template letters
		ul
			li Letter to switch prepayment energy supplier and transfer debts up to £500	
			li Letter to switch prepayment energy supplier and transfer debts up to £500
			li Letter admitting copyright infringement
			li Letter to ask to be placed on list of unsecured creditors
			li Breach of contract
			li Letter to cancel goods or services bought at home or in a public place
			li Letter cancelling a contract made in home or workplace - before 13 June 2014
			li Letter to cancel or return goods bought online, over the phone or by mail order
			li Letter cancelling a distance sale to buy goods
			li Letter to cancel a service arranged online, over the phone or by mail order
			li Letter cancelling a contract for services made by distance sale - before 13 June 2014
			li Letter to complain about faulty goods bought before 1 October 2015
			li Letter to complain about faulty goods
			li Letter to make a claim for equal liability from a credit provider
			li Letter denying copyright infringement
			li Ending a hire purchase or a conditional sale agreement - letter
			li First letter reporting repairs to a landlord
			li Letter asking for more information from the copyright holder
			li Holding letter
			li Letter to complain about a holiday
			li Letter asking to see contract between landowner and parking company
			li Letter to warn trader about court action for faulty goods bought before 1 October 2015
			li Letter to warn trader about court action for faulty goods
			li Letter for debt repayment to an energy supplier
			li Letter for non-statutory request for flexible working
			li Letter for statutory request for flexible working
			li Letter from a tenant to the local authority for private tenants
			li Letter to ask for a PIP2 extension
			li Letter to ask for a PIP2 extension ni3
			li Letter to send evidence after PIP2 form
			li Letter to send evidence after PIP2 form ni3
			li Letter from a tenant to the local authority for social housing tenants
			li Letter to switch prepayment energy supplier and transfer debts up to £500
			li Letter of complaint about adult social care
			li Letter of complaint about adult social care on behalf of someone else
			li Letter of complaint about NHS
			li Letter of complaint about NHS on behalf of someone else
			li Letter to an energy supplier about back billing
			li Letter to complain to trader about poor quality work agreed before 1 October 2015
			li Letter to complain to trader about poor quality work
			li Letter to builder about poor quality work
			li Letter to challenge a parking ticket: parking on private land - you broke the rules but had a good reason
			li Letter to challenge a ticket for parking on private land when you think the ticket is unfair
			li Letter to challenge a private parking ticket
			li Letter to complain about a payday loan
			li Letter to complain about energy mis-selling
			li Letter to complain to an energy supplier
			li Letter to complain to energy supplier about transfer without consent
			li Letter to complain about a mobile, TV or internet bill
			li Letter to public authority about breach of equality duty
			li Letter to raise a grievance at work
			li Making time of the essence - Goods
			li Making time of the essence - Services
			li Misrepresentation
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-to-a-phone-company-about-cashback/") Mobile contract - cashback]
			li #[a(href="https://www.citizensadvice.org.uk/debt-and-money/sample-letters-to-creditors/No-money-to-pay-creditors---letter/") No money to pay creditors - letter]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-goods-or-services/letter-to-complain-about-non-delivery-of-goods/") Non-delivery of goods]
			li #[a(href="https://www.citizensadvice.org.uk/debt-and-money/sample-letters-to-creditors/Offer-to-non-priority-creditor---letter/") Offer to non-priority creditor - letter]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-goods-or-services/letter-to-say-you-received-goods-or-services-you-didnt-ask-for/") Letter to say you received goods or services you didnt ask for]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/other-consumer-problems/letter-to-get-a-loan-fee-refunded-when-the-loan-hasnt-been-received/") Refund of fee in relation to overdue loan]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/consumer-template-letters/letter-to-repudiate-a-contract/") Repudiation of contract]
			li #[a(href="https://www.citizensadvice.org.uk/debt-and-money/sample-letters-to-creditors/Request-to-write-off-a-debt---letter/") Request to write off a debt - letter]
			li #[a(href="https://www.citizensadvice.org.uk/housing/repairs-in-rented-housing/disrepair-what-is-it/Second-letter-reporting-repairs-to-a-landlord/") Second letter reporting repairs to a landlord]
			li #[a(href="https://www.citizensadvice.org.uk/relationships/birth-certificates-and-changing-your-name/changing-your-name/Statutory-declaration-of-change-of-name-for-adults/") Statutory declaration of change of name for adults]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/consumer-template-letters/letter-to-complain-about-faulty-goods-supplied-with-a-service/letter-to-complain-about-faulty-goods-supplied-with-a-service-before-1-october-2015/") Letter to complain about faulty goods supplied with a service before 1 October 2015]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/consumer-template-letters/letter-to-complain-about-faulty-goods/") Letter to complain about faulty goods supplied with a service]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/consumer-template-letters/letter-to-complain-about-faulty-goods-bought-on-hire-purchase/letter-to-complain-about-faulty-goods-bought-on-hire-purchase-before-1-october-2015/") Letter to complain about faulty goods bought on hire purchase before 1 October 2015]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/consumer-template-letters/letter-to-complain-about-faulty-goods-bought-on-hire-purchase/") Letter to complain about faulty goods bought on hire purchase]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-poor-standard-of-a-service/letter-to-complain-about-the-poor-standard-of-a-service-arranged-before-1-october-2015/") Letter to complain about the poor standard of a service arranged before 1 October 2015]
			li #[a(herf="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-poor-standard-of-a-service/") Letter to complain about the poor standard of a service]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-cost-of-a-service/letter-to-complain-about-the-cost-of-a-service-arranged-before-1-october-2015/") Letter to complain about the cost of a service arranged before 1 October 2015]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-cost-of-a-service/") Letter to complain about the cost of a service]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-a-delay-to-a-service/letter-to-complain-about-a-delay-to-a-service-arranged-before-1-october-2015/") Letter to complain about a delay to a service arranged before 1 October 2015]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-poor-standard-of-a-service/") Letter to complain about a delay to a service]
			li #[a(href="https://www.citizensadvice.org.uk/scotland/consumer/template-letters/letters/problems-with-services/letter-to-complain-about-the-poor-standard-of-a-service/") Letter to complain about a service - poor standard of work (Scotland only)]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-services/letter-to-end-contract-due-to-poor-work-and-lost-faith/") Terminate contract due to poor work and 'lost faith']
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/problems-with-holidays/letter-to-ask-for-a-refund-or-alternative-when-a-package-holiday-is-changed/") Letter to ask for a refund or alternative when a package holiday is changed]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/template-letters/letters/other-consumer-problems/letter-to-cancel-a-credit-agreement-before-it-starts/") Withdrawal from financial agreement for credit]
			li #[a(href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/get-a-better-energy-deal/letter-to-switch-energy-supplier-if-you-have-a-prepayment-meter/") Letter to switch prepayment energy supplier and transfer debts up to £500]