block settings
    - var title = "Priority Services Register"
    - var sidebar = true
    - var toolbars = false
    - var mockup = true
    - var dir = "../../"

extends /jade/templates/template.jade

block script
    script.

        function myFunction() {
            alert("This feature doesn't work just yet.");
        }

        $(document).ready(function() {
            $('.conditional').click(function() {
                if( $(this).find('input[value="2"]').is(':checked')) {
                    $(this).next().show();
                } else {
                    $(this).next().hide();
                }
            });
        });

block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Energy Supply", href: "#"},
        {title: "Priority Services Register"}])

block content
    .articleContent
        h2 About you
        div
            fieldset
                label(for="standardField") Your full name
                input(id="standardField" placeholder="" type="text")

            fieldset
                label(for="standardField") The bill payer's full name
                span.form-hint If different from the applicants name
                input(id="standardField" placeholder="" type="text")


            fieldset
                label(for="standardField") Email address
                span.form-hint You will receive notification of services here
                input(id="standardField" placeholder="" type="text")


            .well--outline
                fieldset.conditional
                    label(for="conditional-two") Your address
                    label.radio.radio--block
                        input(checked, name="conditional-two", type="radio", value="1")
                        | Lookup address
                    label.radio.radio--block
                        input(name="conditional-two", type="radio", value="2")
                        | Enter address manually
                .conditional--fields
                    .fieldset
                        label(for="standardField") Address
                        input(id="standardField" placeholder="" type="text")
                    //.fieldset
                        label(for="standardField") Address line 2
                        input(id="standardField" placeholder="" type="text")
                    .fieldset
                        label(for="standardField") Town/City
                        input(id="standardField" placeholder="" type="text")
                    .fieldset
                        label(for="standardField") County
                        input(id="standardField" placeholder="" type="text")
                    .fieldset
                        label(for="standardField") Postcode
                        input(id="standardField" placeholder="" type="text")
                    //fieldset
                        label(for="yourAddress") Your address
                        textarea#yourAddress(rows="4")
                fieldset
                    label(for="field") Enter your postcode
                    .search-results__field.field-group.field-group--buttons
                        input(type="search", placeholder="Enter postcode")
                        button.btn.btn-primary(onclick="myFunction()") Search&nbsp;&nbsp;
                            i.icon-search


            //.well--outline
                h3 Your address
                fieldset
                    label.radio.radio--inline
                        input(checked, name="radio", type="radio", value="option1")
                        | Lookup address
                    label.radio.radio--inline
                        input(name="radio", type="radio", value="option2")
                        | Enter address manually

                fieldset
                    label(for="field") Enter your postcode
                    .search-results__field.field-group.field-group--buttons
                        input(type="search", placeholder="Enter postcode")
                        button.btn.btn-primary Search&nbsp;&nbsp;
                            i.icon-search

        //.fieldset
            label(for="energySupplier") Select your energy supplier
            .dropdown
                select#energySupplier 
                    option Choose your supplier
                    option EON
                    option British Gas
                    option EDF
                    option NPower


        a.btn-light.left-button-icon(href="step1.html") Back
        a.btn.right-button-icon(href="step2a.html") Continue
