block settings
    - var title = "Priority Services Register"
    - var sidebar = true
    - var toolbars = false
    - var mockup = true
    - var dir = "../../"

extends /template/template.jade

block script
    script.

        function myFunction() {
            alert("This feature doesn't work just yet.");
        }

        $(document).ready(function() {
            $('.conditional').click(function() {
                if( $(this).find('input[value="2"]').is(':checked')) {
                    $(this).next().show();
                } else {
                    $(this).next().hide();
                }
            });
        });



block breadcrumbs
    +breadcrumbs([
        {title: "Home", href: "#"},
        {title: "Energy Supply", href: "#"},
        {title: "Priority Services Register"}])

block content
    .articleContent
        h2 About your energy
        div
            h3 Confirm your suppliers
            .fieldset
                label(for="energySupplier") Your water supplier
                .dropdown
                    select#energySupplier 
                        option Thames Water
                        option Severn Trent Water
                        option Southern Water
                        option South West Water

            .fieldset
                label(for="energySupplier") Your electricity distributor
                .dropdown
                    select#energySupplier 
                        option Better Energy
                        option Bristol Energy
                        option British Gas
                        option Cooperative Energy
                        option E Electricity and Gas
                        option Ebico
                        option Economy Energy
                        option Ecotricity
                        option EDF Energy
                        option EON
                        option Extra Energy
                        option First Utility
                        option Flow Energy
                        option GB Energy
                        option Good Energy
                        option Green Star Energy
                        option Npower
                        option Octopus Energy
                        option Ovo Energy
                        option Robin Hood Energy
                        option ScottishPower
                        option Spark Energy
                        option SSE
                        option Utilita
                        option Utility Warehouse

            fieldset.conditional
                label(for="conditional-two") Is your energy supplier different to the distributor?
                label.radio.radio--block
                    input(checked, name="conditional-two", type="radio", value="1")
                    | Same as above
                label.radio.radio--block
                    input(name="conditional-two", type="radio", value="2")
                    | Different 
            .conditional--fields
                .fieldset
                label(for="energySupplier") Electricity supplier
                .dropdown
                    select#energySupplier 
                        option Better Energy
                        option Bristol Energy
                        option British Gas
                        option Cooperative Energy
                        option E Electricity and Gas
                        option Ebico
                        option Economy Energy
                        option Ecotricity
                        option EDF Energy
                        option EON
                        option Extra Energy
                        option First Utility
                        option Flow Energy
                        option GB Energy
                        option Good Energy
                        option Green Star Energy
                        option Npower
                        option Octopus Energy
                        option Ovo Energy
                        option Robin Hood Energy
                        option ScottishPower
                        option Spark Energy
                        option SSE
                        option Utilita
                        option Utility Warehouse
                div
                    p

                .fieldset
                    label(for="energySupplier") Gas supplier
                    .dropdown
                        select#energySupplier 
                            //option Not applicable
                            option Better Energy
                            option Bristol Energy
                            option British Gas
                            option Cooperative Energy
                            option E Electricity and Gas
                            option Ebico
                            option Economy Energy
                            option Ecotricity
                            option EDF Energy
                            option EON
                            option Extra Energy
                            option First Utility
                            option Flow Energy
                            option GB Energy
                            option Good Energy
                            option Green Star Energy
                            option Npower
                            option Octopus Energy
                            option Ovo Energy
                            option Robin Hood Energy
                            option ScottishPower
                            option Spark Energy
                            option SSE
                            option Utilita
                            option Utility Warehouse


        a.btn-light.left-button-icon(href="step2.html") Back
        a.btn.right-button-icon(href="step3.html") Continue
